<style>

    /*.modal-dialog {*/
        /*width: 100%;*/
        /*height: 100%;*/
        /*margin: 0;*/
        /*padding: 0;*/
    /*}*/

    /*.modal-content {*/
        /*height: auto;*/
        /*min-height: 100%;*/
        /*border-radius: 0;*/
    /*}*/
    #dvContent th {
        border: solid 1px #000;
        margin-left: 5px;
        padding: 1px;
        background-color: aqua;
        text-align: center;

    }

    #dvContent table {
        border: solid 1px #000;
        width: 100%;

    }

    #dvContent tr {
        width: 100%;
        border-bottom: solid 1px #000;
    }

    #dvContent td {
        text-align: center;
        border-right: solid 1px #000;
    }

    #OtherMoney {
        width: 100%;

    }

    #OtherMoney td {
        text-align: left;
    }

    #OtherMoney tr {
        margin: 2px;
    }




    /*@media screen {*/
        /*#printSection {*/
            /*display: none;*/
        /*}*/
    /*}*/

    @media print {
        /*p.bodyText {font-family:georgia, times, serif;}*/
        /*body * {*/
            /*visibility:hidden;*/
        /*}*/

        /*#printbaocao, #printSection * {*/
            /*size: A5;*/
            /*visibility:visible;*/
            /*font-family:"Times New Roman", times, serif;*/
            /*font-size: 11px;*/
        /*}*/
        label.chitietcuocxe{
        display: none;
        }
        label.cuochopdong{
        display: none;
        }
        #printbaocao {
            position:absolute;
            left:0;
            top:0;
            /*margin: 10px;*/
            padding: 10px;
            min-height:550px;
            font-family:"Times New Roman", times, serif;
            font-size: 11px;
        }
        @page {
        size: A5;
        /*visibility:visible;*/
        font-family:"Times New Roman", times, serif;
        font-size: 11px;
        /*size: A5;  !* auto is the initial value *!*/
        margin: 0;


        }
    }
    @page :first {
        margin-top: 0    /* Top margin on first page 10cm */
    }
    /*@media print {*/
        /*body {transform: scale(.7);}*/
        /*table {page-break-inside: avoid;}*/
        /*@page {*/
            /*size: A5;*/
            /*!*visibility:visible;*!*/
            /*font-family:"Times New Roman", times, serif;*/
            /*font-size: 11px;*/
            /*!*size: A5;  !* auto is the initial value *!*!*/
            /*margin: 0;*/


        /*}*/
    /*}*/




</style>
<div class="row">
    <h4 class="text-center">KẾT TOÁN CA</h4>
    <div class="col-md-12">
        <div class="col-md-6">
            <h3 class="text-center">Thông tin chốt ca</h3>
            <p>Lưu ý: <em>Click vào nút có ký hiệu <i class="icon icon-cloud-download2"></i> vào dòng cần chọn để xem cuốc trong ca</em> </p>
            <jq-grid id="gridThongtinchotca"></jq-grid>
            <!--<div class="col-sm-1 col-md-1 col-sm-offset-5">-->
                <!--<button class="btn btn-primary" type="button" ng-click="viewcuoc()">XEM CUỐC TRONG CA</button>-->
            <!--</div>-->

        </div>
        <div class="col-md-6">
            <h3 class="text-center">Thông tin cuốc trong ca</h3>
            <p>&nbsp;</p>
            <jq-grid id="gridThongtincuocca"></jq-grid>
        </div>
    </div>
    <!--<div class="col-sm-1 col-md-1 col-sm-offset-5">-->
        <!--<button class="btn btn-primary" type="button" ng-click="viewcuoc()">XEM CUỐC TRONG CA</button>-->
    <!--</div>-->

    <div class="col-md-12">
        <h3 class="text-center">Cuốc hợp đồng</h3>
        <grid-view id="gridCuochopdong"></grid-view>
    </div>

    <div class="col-md-12">
        <form enctype='application/json' method='post' class="form-horizontal" role="form">
            <div class="form-group">
                <label for="exampleInputName2" class="col-sm-2 control-label">Số giờ không kinh doanh:</label>
                <div class="col-sm-5">
                    <input type="number" class="form-control" id="exampleInputName2" placeholder="số giờ" ng-model="sogiokokinhdoanh">
                </div>
                <!--<div class="checkbox col-sm-3">-->
                    <!--<label>-->
                        <!--<input type="checkbox" ng-model="nuacuoc"> 1/2 ca-->
                    <!--</label>-->
                <!--</div>-->
            </div>
        </form>
    </div>
    <div class="col-md-12" ng-if="phidichvu">
        <form enctype='application/json' method='post' class="form-horizontal" role="form">
            <div ng-repeat="m in dataphidichvu">
                <div class="form-group">
                    <label for="{{m.Name}}" class="col-sm-2 control-label">{{m.Name}}</label>
                    <div class="col-sm-5">
                        <input type="number" class="form-control" id="{{m.Name}}" placeholder="" ng-value="m.Money" ng-model="inputMoney[$index]">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-12" style="height: 50px">
        <button class="btn btn-success col-sm-offset-5" type="button" ng-click="xuatbaocao()"><i class="icon-file-text2"></i> XUẤT BÁO CÁO</button>
    </div>
</div>


<br>

<!--Modal-->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="baocao">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel">BÁO CÁO CHI TIẾT CHỐT CA TÀI XẾ</h4></div>
                <div class="modal-body A5" id="printbaocao">
                    <div id="xuatword">
                        <div ng-bind-html="dataxuatbaocao" id="dvContent"></div>
                        <div class="col-sm-12">
                            <p class="col-sm-3 col-xs-3">Kế toán</p>
                            <p class="col-sm-3 col-xs-3">Người chốt ca</p>
                            <p class="col-sm-3 col-xs-3">Tài xế</p>
                        </div>
                    </div>

                </div>
            <div class="text-center">
                <button class="btn btn-primary" ng-click="print()"><i class="icon-printer"></i> IN TRỰC TIẾP</button>
                <button class="btn btn-primary " ng-click="exportword()"><i class="icon-file-word"></i> XUẤT RA FILE WORD</button>
                <button class="btn btn-primary" ng-click="chotca()"><i class="icon-checkmark4"></i> CHỐT</button>
            </div>


        </div>
    </div>
</div>

<script src="bower_components/FileSaver/jquery.wordexport.js"></script>
