<div class="panel panel-flat">
    <div class="panel-body">
        <h3 class="text-center">BÁO CÁO CHI TIẾT CUỐC XE</h3>
        <div class="row text-center">
            <span class="col-sm-4">Từ ngày {{beginday}} đến ngày {{endday}}</span>
            <span class="col-sm-4">Vùng: {{ZoneName}}</span>
        </div>
        <!--<h5 class="text-center">Từ ngày {{beginday}} đến ngày {{endday}}</h5>-->

        <div class="row">
            <p>Lưu ý: <em>Click đúp vào dòng cần chọn để xem hành trình của cuốc xe này</em> </p>
            <grid-view id="gridDetailzonetaxi"></grid-view>
        </div>
    </div>
</div>



