<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
    <ul class="nav nav-tabs" id="myTabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#noi-dung-cuoc" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Nội dung cuốc</a>
        </li>
        <li role="presentation" class="">
            <a href="#cuoc-vang-lai" role="tab" id="cuocvanglai" data-toggle="tab" aria-controls="profile" aria-expanded="false">Cuốc vãng lai</a>
        </li>
        <li role="presentation" class="">
            <a href="#cuoc-da-nhap" role="tab" id="cuocdanhap" data-toggle="tab" aria-controls="profile" aria-expanded="false">Các cuốc đã nhập</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade active in" role="tabpanel" id="noi-dung-cuoc" aria-labelledby="home-tab">
            <div class="col-md-12 col-sm-12">
                <p>Thông tin xe hiện tại: <span class="text-info" style="font-size: 13px">{{showstatus}}</span> {{thoigiannhankhach}}</p>
                <form enctype='application/json' method='post' class="form-horizontal" role="form" ng-submit="newFormAccept()" name="onNew">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Điểm bắt đầu</label>
                            <div class="col-sm-9">
                                <combobox id="startpointSelectting"></combobox>
                                <div role="alert">
                                    <span class="text-danger" ng-show="onNew.Id.$error.required">nhập tiền</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Thời gian bắt đầu</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="TimeBegin" placeholder="thời gian bắt đầu(phút)" ng-model="funNew.BeginTime" id="TimeBegin" dom-on-create="init_date()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Thời gian dự kiến(phút)</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="TimeRun" placeholder="thời gian dự kiến (phút)" ng-model="funNew.TimeRun" >
                                <div role="alert">
                                    <span class="text-danger" ng-show="onNew.TimeRun.$error.required">nhập thời gian dự kiến</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Số tiền dự kiến (VNĐ)</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="MoneyRun" placeholder="số tiền dự kiến (VNĐ)" ng-model="funNew.MoneyRun" >
                                <div role="alert">
                                    <span class="text-danger" ng-show="onNew.MoneyRun.$error.required">số tiền dự kiến</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Tiền quá mỗi giờ (VNĐ)</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="MoneyEveryTime" placeholder="tiền quá mỗi giờ (VNĐ)" ng-model="funNew.MoneyEveryTime" >
                                <div role="alert">
                                    <span class="text-danger" ng-show="onNew.MoneyEveryTime.$error.required">số tiền dự kiến</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Điểm kết thúc</label>
                            <div class="col-sm-9">
                                <combobox id="endpointSelectting"></combobox>
                                <div role="alert">
                                    <span class="text-danger" ng-show="onNew.Id.$error.required">nhập tiền</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">TG chênh lệch (phút)</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="ChenhLechTime" placeholder="thời gian chênh lệch (phút)" ng-model="funNew.ChenhLechTime" >
                                <div role="alert">
                                    <span class="text-danger" ng-show="onNew.ChenhLechTime.$error.required">nhập thời gian chênh lệch</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Km dự kiến (m)</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="KmRun" placeholder="km dự kiến (m)" ng-model="funNew.KmRun" >
                                <div role="alert">
                                    <span class="text-danger" ng-show="onNew.KmRun.$error.required">nhập km dự kiến</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Tiền quá mỗi Km (VNĐ)</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="MoneyEveryKm" placeholder="tiền quá mỗi Km (VNĐ)" ng-model="funNew.MoneyEveryKm" >
                                <div role="alert">
                                    <span class="text-danger" ng-show="onNew.MoneyEveryKm.$error.required">tiền quá mỗi Km</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-sm-offset-3">
                                <input type="checkbox"  ng-model="funNew.CuocVangLai" > Cuốc vãng lai
                            </div>
                            <div class="col-sm-12 col-sm-offset-3">
                                <input type="checkbox" ng-model="funNew.Cuoc2Chieu" ng-click="cuoc2chieu(funNew.Cuoc2Chieu)"> Cuốc 2 chiều
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-offset-5 col-sm-10">
                        <button type="submit" class="btn btn-success"><i class="icon-checkmark4"></i> Nhập mới</button>
                    </div>
                    <!--<div class="form-group">-->
                        <!---->
                    <!--</div>-->
                </form>
            </div>
        </div>
        <div class="tab-pane fade" role="tabpanel" id="cuoc-vang-lai" aria-labelledby="profile-tab">
            <form enctype='application/json' method='post' class="form-horizontal" role="form" ng-submit="newCuocVangLaiFormAccept()" name="onNew">
                <div class="form-group">
                    <label class="control-label col-md-2">ID cuốc</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" name="idCuocXe" placeholder="Id cuốc" ng-model="funNewCuocVangLai.idCuocXe" >
                        <div role="alert">
                            <span class="text-danger" ng-show="onNew.idCuocXe.$error.required">nhập số id cuốc</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Thời gian bắt đầu</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="TimeBeginCuocVangLai" placeholder="thời gian bắt đầu" ng-model="funNewCuocVangLai.beginTime" id="TimeBeginCuocVangLai" dom-on-create="init_date()">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Thời gian chênh lệch (phút)</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" name="chenhLech" placeholder="thời gian dự kiến (phút)" ng-model="funNewCuocVangLai.chenhLech" >
                        <div role="alert">
                            <span class="text-danger" ng-show="onNew.chenhLech.$error.required">nhập thời gian chênh lệch</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-10">
                        <button type="submit" class="btn btn-success">Cập nhật</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" role="tabpanel" id="cuoc-da-nhap" aria-labelledby="dropdown1-tab">
            <div class="col-md-12">
                <grid-view id="gridCuocdanhap"></grid-view>
            </div>
        </div>

    </div>
</div>



<div class="modal" id="myModal_sessioncontract" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-danger text-center">Cập nhật cuốc hợp đồng</h3>
            </div>
            <form enctype='application/json' method='post' class="form-horizontal" role="form" ng-submit="editFormAccept()" name="onEdit">
                <div class="modal-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Điểm bắt đầu</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="diembatdau" placeholder="nhập điểm bắt đầu" ng-model="funEdit.diembatdau" >
                                <div role="alert">
                                    <span class="text-danger" ng-show="onEdit.diembatdau.$error.required">nhập điểm bắt đầu</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Điểm kết thúc</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="diemketthuc" placeholder="nhập điểm kết thúc" ng-model="funEdit.diemketthuc" >
                                <div role="alert">
                                    <span class="text-danger" ng-show="onEdit.diemketthuc.$error.required">nhập điểm kết thúc</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Thời gian bắt đầu</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="TimeBegin" placeholder="thời gian bắt đầu" ng-model="funEdit.BeginTime" id="TimeBegin_edit" dom-on-create="init_date()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Thời gian dự kiến(phút)</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="TimeRun" placeholder="thời gian dự kiến (phút)" ng-model="funEdit.TimeRun" >
                                <div role="alert">
                                    <span class="text-danger" ng-show="onEdit.TimeRun.$error.required">nhập thời gian dự kiến</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Thời gian chênh lệch (phút)</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="ChenhLechTime" placeholder="thời gian dự kiến (phút)" ng-model="funEdit.ChenhLechTime" >
                                <div role="alert">
                                    <span class="text-danger" ng-show="onEdit.ChenhLechTime.$error.required">nhập thời gian dự kiến</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="control-label col-md-3">Km dự kiến (m)</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="KmRun" placeholder="thời gian dự kiến (phút)" ng-model="funEdit.KmRun" >
                                <div role="alert">
                                    <span class="text-danger" ng-show="onEdit.KmRun.$error.required">nhập thời gian dự kiến</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Số tiền dự kiến (VNĐ)</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="MoneyRun" placeholder="số tiền dự kiến (VNĐ)" ng-model="funEdit.MoneyRun" >
                                <div role="alert">
                                    <span class="text-danger" ng-show="onNew.MoneyRun.$error.required">số tiền dự kiến</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Tiền quá mỗi giờ (VNĐ)</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="MoneyEveryTime" placeholder="tiền quá mỗi giờ (VNĐ)" ng-model="funEdit.MoneyEveryTime" >
                                <div role="alert">
                                    <span class="text-danger" ng-show="onNew.MoneyEveryTime.$error.required">số tiền dự kiến</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Tiền quá mỗi Km (m)</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="MoneyEveryKm" placeholder="tiền quá mỗi giờ (VNĐ)" ng-model="funEdit.MoneyEveryKm" >
                                <div role="alert">
                                    <span class="text-danger" ng-show="onEdit.MoneyEveryKm.$error.required">số tiền dự kiến</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-sm-offset-3">
                                <input type="checkbox"  ng-model="funEdit.CuocVangLai" >  Cuốc vãng lai
                            </div>
                            <div class="col-sm-12 col-sm-offset-3">
                                <input type="checkbox" ng-model="funEdit.Cuoc2Chieu">  Cuốc 2 chiều
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="icon-checkmark4"></i> Xác Nhận</button>
                </div>
            </form>

        </div>
    </div>
</div>