<h4 class="content-header">THÔNG TIN TÀI KHOẢN</h4>
<div class="col-md-3">
    <div class="box box-primary">
        <div class="box-body box-profile">
            <img class="profile-user-img img-responsive img-circle" src="../../../assets/images/Businessman-96.png"
                 alt="User profile picture">

            <h3 class="profile-username text-center">{{ user.displayname }}</h3>

            <p class="text-muted text-center" ng-bind-html="user.showlevel"></p>

            <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                    <b>Nhóm tài khoản</b> <a class="pull-right">{{user.groupuser}}</a>
                </li>
                <li class="list-group-item">
                    <b>Số điện thoại</b> <a class="pull-right">{{user.phoneAccount}}</a>
                </li>

            </ul>

            <!--<a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>-->
        </div>
        <!-- /.box-body -->
    </div>
</div>
<!--<div class="col-md-9">-->
<!--<div class="panel panel-primary">-->
<!--<div class="panel-heading">-->
<!--<h4>Cập nhật thông tin tài khoản</h4>-->
<!--</div>-->
<!--<div class="panel-body">-->
<!--<form enctype='application/json' method='post' class="form-horizontal" role="form" name="onNew">-->
<!--<div class="form-group">-->
<!--<label class="control-label col-sm-4">Thông tin hiển thị (tên doanh nghiệp hoặc cá nhân)</label>-->
<!--<div class="col-sm-7">-->
<!--<input type="text" class="form-control" name="thong_tin" placeholder="Nhập thông tin hiển thị" ng-model="InfoAccount" required >-->
<!--<div role="alert">-->
<!--<span class="text-danger" ng-show="onNew.thong_tin.$error.required">Nhập thông tin hiển thị</span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-1">-->
<!--<p class="text-danger">*(không bỏ trống)</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class="control-label col-sm-4">SĐT bảo mật tài khoản</label>-->
<!--<div class="col-sm-7">-->
<!--<input type="text" class="form-control" name="phone" ng-pattern="/^0+[0-9]{9,10}$/" placeholder="Nhập số điện thoại" ng-model="PhoneAccount" required >-->
<!--<div role="alert">-->
<!--<span class="text-danger" ng-show="onNew.phone.$error.required">Nhập số điện thoại</span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-1">-->
<!--<p class="text-danger">*(không bỏ trống)</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<button class="btn btn-info col-sm-offset-2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">-->
<!--Cập nhật mật khẩu-->
<!--</button>-->
<!--<div class="collapse" id="collapseExample">-->
<!--<div class="panel-body">-->
<!--<form enctype='application/json' method='post' class="form-horizontal" role="form" name="passNew">-->
<!--<div class="form-group">-->
<!--<label class="control-label col-sm-3">Mật khẩu cũ:</label>-->
<!--<div class="col-sm-7">-->
<!--<input type="password" class="form-control" name="password1"-->
<!--placeholder="Nhập Password cũ" ng-model="passold" required minlength="4">-->
<!--<div role="alert">-->
<!--<span class="text-danger"-->
<!--ng-show="passNew.password.$error.required">Mật khẩu cũ...</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class="control-label col-sm-3">Mật khẩu mới:</label>-->
<!--<div class="col-sm-7">-->
<!--<input type="password" class="form-control" name="password1"-->
<!--placeholder="Mật khẩu mới..." ng-model="passnew" required minlength="4">-->
<!--<div role="alert">-->
<!--<span class="text-danger"-->
<!--ng-show="passNew.password.$error.required">Nhập Password mới</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class="control-label col-sm-3">Xác nhận mật khẩu mới:</label>-->
<!--<div class="col-sm-7">-->
<!--<input type="password" class="form-control" name="password2"-->
<!--placeholder="Xác nhận mật khẩu mới..." ng-model="pass_confirm" required-->
<!--minlength="4">-->
<!--<div role="alert">-->
<!--<span class="text-danger"-->
<!--ng-show="passNew.password.$error.required">Nhập Password mới</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<hr>-->
<!--<div class="form-group">-->
<!--<div class="col-sm-offset-5 col-sm-10">-->
<!--<button type="button" class="btn btn-success" ng-click="updateinfoFormAccept()">Lưu thông tin</button>-->
<!--</div>-->
<!--</div>-->

<!--</form>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="col-md-9">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#activity" data-toggle="tab" aria-expanded="false">Cập nhật thông tin</a></li>
            <li class=""><a href="#timeline" data-toggle="tab" aria-expanded="false">Cập nhật mật khẩu</a></li>
            <!--<li class="active"><a href="#settings" data-toggle="tab" aria-expanded="true">Settings</a></li>-->
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="activity">
                <form class="form-horizontal" name="onNew" ng-submit="updateinfoFormAccept()">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Thông tin hiển thị</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="thong_tin"
                                   placeholder="Nhập thông tin hiển thị" ng-model="InfoAccount" required>

                            <div role="alert">
                                <span class="text-danger" ng-show="onNew.thong_tin.$error.required">Nhập thông tin hiển thị</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Số điện thoại</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="phone" ng-pattern="/^0+[0-9]{9,10}$/"
                                   placeholder="Nhập số điện thoại" ng-model="PhoneAccount" required>
                            <div role="alert">
                                <span class="text-danger"
                                      ng-show="onNew.phone.$error.required">Nhập số điện thoại</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-danger"><i class="fa fa-save"></i> Lưu</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="timeline">
                <form enctype='application/json' method='post' class="form-horizontal" role="form" name="passNew" ng-submit="updatepassFormAccept()">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Mật khẩu cũ:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="password1"
                                   placeholder="Nhập Password cũ" ng-model="passold" required minlength="4">
                            <div role="alert">
                                <span class="text-danger" ng-show="passNew.password.$error.required">Mật khẩu cũ...</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Mật khẩu mới:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="password1"
                                   placeholder="Mật khẩu mới..." ng-model="passnew" required minlength="4">
                            <div role="alert">
                    <span class="text-danger"
                          ng-show="passNew.password.$error.required">Nhập Password mới</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Xác nhận mật khẩu mới:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="password2"
                                   placeholder="Xác nhận mật khẩu mới..." ng-model="pass_confirm" required
                                   minlength="4">
                            <div role="alert">
                                <span class="text-danger" ng-show="passNew.password.$error.required">Nhập Password mới</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-danger"><i class="fa fa-save"></i> Lưu</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <!-- /.tab-content -->
    </div>
    <!-- /.nav-tabs-custom -->
</div>