<!--<div class="row">-->
    <!--<div class="nav-tabs-custom">-->
        <!--<ul class="nav nav-tabs">-->
            <!--<li class="active"><a data-toggle="tab" href="#ghi-the-tai-xe" id="ghithetaixe">Danh sách và ghi thẻ tài xế</a></li>-->
            <!--<li><a data-toggle="tab" href="#lap-trinh-tai-xe" id="laptrinhtaixe">Lập trình tài xế</a></li>-->
        <!--</ul>-->
        <!--<div class="tab-content">-->
            <!--<div id="ghi-the-tai-xe" class="tab-pane active" >-->
                <!--<div class="col-md-4">-->
                    <!--&lt;!&ndash;<span ng-bind="titleCompany"></span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<jqx-combo-box  jqx-ng-model jqx-settings="cpnSelectSettings" ng-model="companyId" jqx-instance="cpnInstance"  jqx-on-select="cpnTagSelect(event)"></jqx-combo-box>&ndash;&gt;-->
                    <!--<dropdown id="cpnSelectSettings"></dropdown>-->
                <!--</div>-->
                <!--<div class="col-md-1">-->
                    <!--<button type="button" class="btn btn-info" ng-click="btViewClick()" title="{{viewData}}"><span class="glyphicon glyphicon-search">&nbsp</span>{{viewData}}</button>-->
                <!--</div>-->
                <!--<grid-view id="gridDriver"></grid-view>-->

            <!--</div>-->
            <!--<div id="lap-trinh-tai-xe" class="tab-pane">-->
                <!--<div class="col-md-12">-->
                    <!--<div class="col-md-4">-->
                        <!--&lt;!&ndash;<span>Công ty:</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<jqx-combo-box jqx-settings="cpnSelectSettings" ng-model="companyId" jqx-ng-model jqx-instance="cpnInstance" jqx-on-select="cpnSelect(event)"></jqx-combo-box>&ndash;&gt;-->
                        <!--<dropdown id="cpntaixeSelectSettings"></dropdown>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--&lt;!&ndash;<span>Đội xe:</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<jqx-combo-box jqx-settings="groupSelectSettings" ng-model="cbTagselectedValue" jqx-ng-model jqx-on-select="groupSelect(event)"></jqx-combo-box>&ndash;&gt;-->
                        <!--<dropdown id="groupSelectSettings"></dropdown>-->
                    <!--</div>-->
                    <!--<div class="col-md-3">-->
                        <!--&lt;!&ndash;<span>Xe:</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<jqx-combo-box jqx-settings="carSelectSettings" id="idCar_" ng-model="cbTagselectedValue" jqx-ng-model jqx-on-select="carSelect(event)"></jqx-combo-box>&ndash;&gt;-->
                        <!--<dropdown id="modelSelectSettings"></dropdown>-->
                    <!--</div>-->
                    <!--<div class="col-md-1"><br>-->
                        <!--<button type="button" class="btn btn-primary" ng-click="btShowClick()" style="margin-bottom: 2px"><span class="glyphicon glyphicon-search">&nbsp</span>Xem</button>-->
                    <!--</div>-->
                    <!--<div class="col-md-1"></br>-->
                        <!--<button type="button" class="btn btn-primary" ng-click="btConfigClick()"><span class="glyphicon glyphicon-cog">&nbsp</span>Lập trình</button>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-12">-->
                    <!--&lt;!&ndash;Tài xế 1&ndash;&gt;-->
                    <!--<div class="row row-line">-->
                        <!--<div class="col-sm-1">-->
                            <!--<input class="checkbox-text" type="checkbox"  ng-model="checkboxModellistDriver1"  >-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                            <!--<div class="input-group input-group-sm has-primary">-->
                                <!--<span class="input-group-addon">Tên</span>-->
                                <!--<input type="text" class="form-control input-sm" ng-model="NameDriver1" disabled ></div>-->
                        <!--</div>-->
                        <!--<div class="col-md-1">-->
                            <!--<div class="input-group input-group-sm has-primary">-->
                                <!--<span class="input-group-addon">Id</span>-->
                                <!--<input type="text" class="form-control input-sm" ng-model="IdDriver1" disabled style="width: 50px"></div>-->
                        <!--</div>-->
                        <!--<div class="col-md-2">-->
                            <!--<div class="input-group input-group-sm has-primary">-->
                                <!--<span class="input-group-addon">ĐT</span>-->
                                <!--<input type="text" class="form-control input-sm" ng-model="PhoneDriver1" disabled ></div>-->
                        <!--</div>-->
                        <!--<div class="col-md-2">-->
                            <!--<div class="input-group input-group-sm has-primary">-->
                                <!--<span class="input-group-addon">GPLX</span>-->
                                <!--<input type="text" class="form-control input-sm" ng-model="GPLXDriver1" disabled ></div>-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                            <!--<dropdown id="driver1SelectSettings"></dropdown>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;Tài xế 2&ndash;&gt;-->
                    <!--<div class="row row-line">-->
                        <!--<div class="col-md-1">-->
                            <!--<input class="checkbox-text" type="checkbox"  ng-model="checkboxModellistDriver2"  >-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                            <!--<div class="input-group input-group-sm has-primary">-->
                                <!--<span class="input-group-addon">Tên</span>-->
                                <!--<input type="text" class="form-control input-sm" ng-model="NameDriver2" disabled ></div>-->
                        <!--</div>-->
                        <!--<div class="col-md-1">-->
                            <!--<div class="input-group input-group-sm has-primary">-->
                                <!--<span class="input-group-addon">Id</span>-->
                                <!--<input type="text" class="form-control input-sm" ng-model="IdDriver2" disabled style="width: 50px" ></div>-->
                        <!--</div>-->
                        <!--<div class="col-md-2">-->
                            <!--<div class="input-group input-group-sm has-primary">-->
                                <!--<span class="input-group-addon">ĐT</span>-->
                                <!--<input type="text" class="form-control input-sm" ng-model="PhoneDriver2" disabled ></div>-->
                        <!--</div>-->
                        <!--<div class="col-md-2">-->
                            <!--<div class="input-group input-group-sm has-primary">-->
                                <!--<span class="input-group-addon">GPLX</span>-->
                                <!--<input type="text" class="form-control input-sm" ng-model="GPLXDriver2" disabled ></div>-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                            <!--<dropdown id="driver2SelectSettings"></dropdown>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;Tài xế 3&ndash;&gt;-->
                    <!--<div class="row row-line">-->
                        <!--<div class="col-md-1">-->
                            <!--<input class="checkbox-text" type="checkbox"  ng-model="checkboxModellistDriver3"  >-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                            <!--<div class="input-group input-group-sm has-primary">-->
                                <!--<span class="input-group-addon">Tên</span>-->
                                <!--<input type="text" class="form-control input-sm" ng-model="NameDriver3" disabled ></div>-->
                        <!--</div>-->
                        <!--<div class="col-md-1">-->
                            <!--<div class="input-group input-group-sm has-primary">-->
                                <!--<span class="input-group-addon">Id</span>-->
                                <!--<input type="text" class="form-control input-sm" ng-model="IdDriver3" disabled  style="width: 50px"></div>-->
                        <!--</div>-->
                        <!--<div class="col-md-2">-->
                            <!--<div class="input-group input-group-sm has-primary">-->
                                <!--<span class="input-group-addon">ĐT</span>-->
                                <!--<input type="text" class="form-control input-sm" ng-model="PhoneDriver3" disabled ></div>-->
                        <!--</div>-->
                        <!--<div class="col-md-2">-->
                            <!--<div class="input-group input-group-sm has-primary">-->
                                <!--<span class="input-group-addon">GPLX</span>-->
                                <!--<input type="text" class="form-control input-sm" ng-model="GPLXDriver3" disabled ></div>-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                            <!--<dropdown id="driver3SelectSettings"></dropdown>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;Tài xế 4&ndash;&gt;-->
                    <!--<div class="row row-line">-->
                        <!--<div class="col-md-1">-->
                            <!--<input class="checkbox-text" type="checkbox"  ng-model="checkboxModellistDriver4"  >-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                            <!--<div class="input-group input-group-sm has-primary">-->
                                <!--<span class="input-group-addon">Tên</span>-->
                                <!--<input type="text" class="form-control input-sm" ng-model="NameDriver4" disabled ></div>-->
                        <!--</div>-->
                        <!--<div class="col-md-1">-->
                            <!--<div class="input-group input-group-sm has-primary">-->
                                <!--<span class="input-group-addon">Id</span>-->
                                <!--<input type="text" class="form-control input-sm" ng-model="IdDriver4" disabled style="width: 50px" ></div>-->
                        <!--</div>-->
                        <!--<div class="col-md-2">-->
                            <!--<div class="input-group input-group-sm has-primary">-->
                                <!--<span class="input-group-addon">ĐT</span>-->
                                <!--<input type="text" class="form-control input-sm" ng-model="PhoneDriver4" disabled ></div>-->
                        <!--</div>-->
                        <!--<div class="col-md-2">-->
                            <!--<div class="input-group input-group-sm has-primary">-->
                                <!--<span class="input-group-addon">GPLX</span>-->
                                <!--<input type="text" class="form-control input-sm" ng-model="GPLXDriver4" disabled ></div>-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                            <!--<dropdown id="driver4SelectSettings"></dropdown>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<grid-view id="gridDevelopDriverDevices"></grid-view>-->

            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.tab-content &ndash;&gt;-->
    <!--</div>-->

<!--</div>-->

<div class="row viewmobile" >
    <div class="box box-adsun box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Thông tin tài xế</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="col-xs-12">
                <!--<span ng-bind="titleCompany"></span>-->
                <!--<jqx-combo-box  jqx-ng-model jqx-settings="cpnSelectSettings" ng-model="companyId" jqx-instance="cpnInstance"  jqx-on-select="cpnTagSelect(event)"></jqx-combo-box>-->
                <dropdown id="cpnSelectSettings"></dropdown>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn btn-info" ng-click="btViewClick()" title="{{viewData}}"><span class="glyphicon glyphicon-search">&nbsp</span>{{viewData}}</button>
            </div>
            <grid-view id="gridDriver"></grid-view>

        </div>
        <!-- /.box-body -->
    </div>



</div>






<!--driver New-->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-danger text-center" ng-show="isNew">Thêm mới tài xế</h3>
                <h3 class="modal-title text-danger text-center" ng-hide="isNew">Cập nhật tài xế</h3>
            </div>
            <div class="modal-body">
                <form enctype='application/json' method='post' class="form-horizontal" role="form" ng-submit="newFormAccept()" name="onNew">
                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-sm-3">Id:</label>-->
                        <!--<div class="col-sm-9">-->
                            <!--<input type="text" class="form-control" name="name" placeholder="Id..." ng-model="funNew.Id" required ng-disabled="!isNew||isNew">-->

                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="control-label col-sm-3">Tên tài xế:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="name" placeholder="Tên tài xế..." ng-model="funNew.Name" required>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Giấy phép lái xe:</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="Sheat" placeholder="Giấy phép lái xe..." ng-model="funNew.Gplx" required>
                        </div>
                        <label class="control-label col-sm-2">Nơi cấp:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="AddressOfGplx" placeholder="Nơi cấp" ng-model="funNew.AddressOfGplx" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Mã nhân viên:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="Xilanh" placeholder="Mã nhân viên..." ng-model="funNew.Mnv">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label  col-sm-3">Số điện thoại:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="Phone" placeholder="Số điện thoại...." ng-model="funNew.Phone1" >
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="control-label  col-sm-3">Số điện thoại2:</label>-->
                        <!--<div class="col-sm-9">-->
                            <!--<input type="text" class="form-control" name="Phone" placeholder="Số điện thoại...." ng-model="funNew.Phone2" required>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group" style="display: flex">
                        <label class="control-label col-sm-3">Năm sinh:</label>
                        <div class="col-sm-2">
                            <input type="year" class="form-control" name="Born" placeholder="Năm sinh" ng-model="funNew.Born">
                        </div>
                        <label class="control-label col-sm-2">Nơi sinh:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="Address" placeholder="Nơi sinh" ng-model="funNew.Address" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">CMND:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="Born" placeholder="CMND" ng-model="funNew.Cmnd">
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-sm-3">Công ty:</label>-->
                        <!--<div class="col-sm-9">-->
                            <!--<jqx-combo-box  jqx-ng-model jqx-settings="cpnSelectSettings" ng-model="companyId" jqx-instance="cpnInstance"  jqx-on-select="cpnTagSelect(event)"></jqx-combo-box>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-sm-3">Đội xe:</label>-->
                        <!--<div class="col-sm-9">-->
                            <!--<jqx-drop-down-list ng-model="groupId" jqx-ng-model jqx-settings="groupSelectSettings" jqx-on-select="groupTagSelect(event)"></jqx-drop-down-list>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="control-label col-sm-3">Ngày cấp:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="Phone" placeholder="../../.." ng-model="funNew.CreateDateOfGplx" id="CreateDateOfGplx" >
                            <!--<jqx-date-time-input ng-model="timeCreat" jqx-settings="timeCreatInputSettings"></jqx-date-time-input>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Ngày Hết hạn:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="Phone" placeholder="../../.." ng-model="funNew.EndDateOfGplx" id="EndDateOfGplx" >
                            <!--<jqx-date-time-input ng-model="timeEnd" jqx-settings="timeEndInputSettings"></jqx-date-time-input>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-10">
                            <button type="submit" class="btn btn-success">Xác nhận</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--driver RFID-->

<div class="modal fade" id="myModal_RFID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <h3 class="modal-title text-danger text-center" >Ghi thẻ RFID</h3>
            </div>
            <div class="modal-body">
                <form enctype='application/json' method='post' class="form-horizontal" role="form" ng-submit="RFIDFormAccept()" name="onNew">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Xe:</label>
                        <div class="col-sm-9">
                            <dropdown id="carSelectSettings"></dropdown>
                            <!--<jqx-combo-box jqx-settings="carSelectSettings" ng-model="cbTagselectedValue" jqx-ng-model jqx-on-select="carSelect(event)"></jqx-combo-box>-->

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-10">
                            <button type="submit" class="btn btn-success">Xác nhận</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $.fn.modal.Constructor.prototype.enforceFocus = function () {
        $(document)
                .off('focusin.bs.modal') // guard against infinite focus loop
                .on('focusin.bs.modal', $.proxy(function (e) {
                    if (this.$element[0] !== e.target && !this.$element.has(e.target).length) {
                        if ($(e.target).parents().hasClass('jqx-popup'))
                            return true;
                        this.$element.trigger('focus')
                    }
                }, this));
    }
</script>