<style>
    #tabletienich td {
        width: 11.6%;
        height: 25px;
        cursor: pointer;
    }


    #tableluachon td {
        width: 50%;
    }

    @-webkit-keyframes spin2 {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
        }
    }

    .selected td {
        background-color: #2196f3 !important;
        color: white;
    }

    .pre-scrollable::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        position: absolute;
        left: 10px;
    }

    .pre-scrollable::-webkit-scrollbar-button:start:decrement, tbody ::-webkit-scrollbar-button:end:increment {
        display: block;
        height: 0;
        background-color: transparent;
    }

    .pre-scrollable::-webkit-scrollbar-track-piece {
        background-color: #FAFAFA;
        -webkit-border-radius: 0;
        -webkit-border-bottom-right-radius: 8px;
        -webkit-border-bottom-left-radius: 8px;
    }

    .pre-scrollable::-webkit-scrollbar-thumb:vertical {
        height: 50px;
        background-color: #999;
        -webkit-border-radius: 8px;
    }

    .pre-scrollable::-webkit-scrollbar-thumb:horizontal {
        width: 50px;
        background-color: #999;
        -webkit-border-radius: 8px;
    }

    .pre-scrollable::-webkit-scrollbar {
        display: block;
    }
</style>

<button class="btn btn-xs btn-loading-map" id="map_loading"><i class="icon-spinner3 spinner"></i> Đang tải dữ liệu...
</button>


<!--bản đồ-->
<div id="maptaxi132" class="style_map"></div>
<!--<p id="labeltienich" style="right: 119px !important;bottom: 31px !important;position: absolute;background-color: gray;color: white;font-size: 14px;padding: 3px;border-radius: 4px;z-index: 30" ng-show="isshowbuttonmenu">Tiện ích</p>-->
<!--<nav mfb-menu position="br" effect="slidein-spring" active-icon="ion-close-round" resting-icon="ion-grid" ng-show="isshowbuttonmenu"-->
<!--toggling-method="click" menu-state="closed" label="Đóng tiện ích" style="right: 27px;">-->
<!--<a mfb-button icon="{{button.icon}}" label="{{button.label}}" ng-repeat="button in buttons" ng-click="showeventbutton(button.event)"></a>-->
<!--</nav>-->

<div id="controlMap1" class="Control_map box box-adsun box-solid" data-widget="box-widget"
     style="width: 100%;left: 0;height: auto">
    <div class="box-header with-border ">
        <h6 class="box-title">Theo dõi xe</h6>
        <div class="box-tools pull-right">
            <!--<span data-toggle="tooltip" title="" class="badge bg-light-blue" data-original-title="3 New Messages">3</span>-->
            <button type="button" class="btn btn-box-tool" data-widget="collapse" id="my-collapse-button-trigger"><i
                    class="fa fa-minus"></i></button>
            <!--<button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-widget="chat-pane-toggle" data-original-title="Contacts">-->
            <!--<i class="fa fa-comments"></i></button>-->
            <!--<button type="button" class="btn btn-box-tool" data-widget="remove" id="my-remove-button-trigger"><i class="fa fa-times"></i></button>-->
        </div>
    </div>
    <div class="box-body no-padding">
        <table class="auto-style1" style="width:100%">
            <tr>
                <td colspan="2">
                    <dropdown id="cpnSelectSettings"></dropdown>
                </td>
            </tr>
            <tr>
                <td>
                    <dropdown id="groupSelectSettings"></dropdown>
                </td>
                <td>
                    <jqx-drop-down-list ng-model="stateId" jqx-ng-model jqx-settings="stateSelectSettings"
                                        jqx-on-select="stateTagSelect(event)"></jqx-drop-down-list>
                </td>
            </tr>
        </table>
        <div class="input-group input-group-sm">
                          <span class="input-group-addon" id="sizing-addon3" ng-click="click_searchcar()"
                                style="border: none !important;cursor: pointer; padding: 0px !important;"><i
                                  class="ion-android-car" style="font-size: 22px; color: #2196f3">
                          </i></span>
            <div class="searchfield">
                <form>
                    <input type="text" name="currency" class="biginput" id="autocomplete" placeholder="Tìm xe">
                </form>
            </div>

        </div>


        <div class="table-responsive pre-scrollable" style="font-size: 11.5px;overflow-y: auto !important;"
             id="divtablecar">
            <table class="table table-bordered" id="tablecarmap">
                <!--<thead>-->
                <!--<tr>-->
                <!--<td colspan="2" ng-click="sordBy('Bs')">Biển số <i style="font-style: normal" ng-class="(!reverse)?'fa fa-angle-up':'fa fa-angle-down'" ng-show="propertyName == 'Bs'"></i></td>-->
                <!--<td ng-show="!kmngay" ng-click="sordBy('speed')">Tốc độ<i style="font-style: normal" ng-class="(!reverse)?'fa fa-angle-up':'fa fa-angle-down'"  ng-show="propertyName == 'speed'"></i></td>-->
                <!--<td ng-show="kmngay" ng-click="sordBy('speed')">Tốc độ / Km Ngày<i style="font-style: normal" ng-class="(!reverse)?'fontawesome-caret-up':'fontawesome-caret-down'"  ng-show="propertyName == 'speed'"></i></td>-->
                <!--<td ng-click="sordBy('timeUpdateconvert')">Thời gian<i style="font-style: normal" ng-class="(!reverse)?'fa fa-angle-up':'fa fa-angle-down'"  ng-show="propertyName == 'timeUpdateconvert'"></i></td>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr ng-repeat="car in car_array | orderBy:propertyName:reverse" ng-click="clickselect(car)">-->
                <!--<td><img src="{{ car.getIcon() }}" alt="" width="20px"></td>-->
                <!--<td id="bienso">{{car.Bs}}</td>-->
                <!--<td ng-show="!kmngay">{{ car.speed }}</td>-->
                <!--<td ng-show="kmngay">{{car.speed}} / {{ car.kmOnDay/1000 | number:1 }}</td>-->
                <!--<td>{{ car.timeUpdateconvert }}</td>-->
                <!--</tr>-->
                <!--</tbody>-->


                <thead>
                <tr style="cursor: pointer">
                    <td ng-click="sordBy('SoHieu_')" colspan="2">Số hiệu <i
                            ng-class="(!reverse)?'icon icon-arrow-up5':'icon icon-arrow-down5'"
                            ng-show="propertyName == 'SoHieu_'"></i></td>
                    <td ng-click="sordBy('Speed')">Tốc độ<i
                            ng-class="(!reverse)?'icon icon-arrow-up5':'icon icon-arrow-down5'"
                            ng-show="propertyName == 'Speed'"></i></td>
                    <td ng-click="sordBy('timeUpdateconvert')">Thời gian<i
                            ng-class="(!reverse)?'icon icon-arrow-up5':'icon icon-arrow-down5'"
                            ng-show="propertyName == 'timeUpdateconvert'"></i></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="car in cartaxi_array | orderBy:propertyName:reverse" ng-click="clickselect(car)">
                    <td><img src="{{car.getIconTaxi()}}" alt="" width="20px"></td>
                    <td id="sohieu">{{car.SoHieu}}</td>
                    <td>{{car.Speed}}</td>
                    <td>{{ car.timeUpdateconvert }}</td>
                </tr>
                </tbody>
            </table>
            <!--<grid-view id="gridListTaxiCars"></grid-view>-->
        </div>

    </div>
    <div class="box-footer" style="padding: 2px !important;">
        <span class="noft-map tooltitle_map" data-toggle="tooltip" data-placement="bottom" title="Tất cả xe"
              data-original-title="Tất cả trạng thái" id="totalcar">{{count_cars.state0}}</span>
        <span class="noft-map tooltitle_map" data-toggle="tooltip" data-placement="bottom" title="Xe di chuyển"
              data-original-title="Xe đang chạy" id="carrun">{{count_cars.state1}}</span>
        <span data-toggle="tooltip" data-placement="bottom" title="Xe dừng - đỗ" data-original-title="Xe dừng - đỗ"
              class="noft-map tooltitle_map" id="carstop">{{count_cars.state2}}</span>
        <span data-toggle="tooltip" data-placement="bottom" title="Xe tắt máy" data-original-title="Xe tắt máy"
              class="noft-map tooltitle_map" id="carshut">{{count_cars.state3}}</span>
        <span data-toggle="tooltip" data-placement="bottom" title="Xe mất GPS" data-original-title="Xe mất GPS"
              class="noft-map tooltitle_map" id="cargps">{{count_cars.state4}}</span>
        <span data-toggle="tooltip" data-placement="bottom" title="Xe mất liên lạc"
              data-original-title="Xe mất liên lạc" class="noft-map tooltitle_map" id="carlostsign">
            {{count_cars.state5}}
        </span>
        <span data-toggle="tooltip" data-placement="bottom" title="Xe quá tốc độ" data-original-title="Xe quá tốc độ"
              class="noft-map tooltitle_map" id="caroverspeed">{{count_cars.state6}}</span>
        <br>
        <p style="    margin-bottom: -2px;
    /* margin-top: 17px; */
    padding-top: 14px;font-weight: 600; font-size: 13px">Tổng số xe: {{count_carstate}}/{{sumcar}} </p>
    </div>

</div>


<div id="modal_xehetphi" class="modal in" style="display: none; padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h5 class="modal-title">Danh sách xe hết phí sử dụng</h5>
            </div>

            <div class="modal-body">
                <div class="row">
                    <p class="col-md-12 text-danger" style="font-size: 13px">
                        <strong>Thông Báo: </strong>Sau 30 ngày kể từ ngày hết phí nếu không được gia hạn phí thiết bị
                        sẽ ngưng truyền dữ liệu . Đề nghị quí khách liên hệ
                        <strong>1900 54 54 56</strong> hoặc đại lý ADSUN đóng phí server để duy trì hoạt động của thiết
                        bị GSHT. Trân trọng!!!
                    </p>
                </div>
                <div class="row">
                    <grid-view id="gridCarHetPhi"></grid-view>
                </div>
            </div>
        </div>
    </div>
</div>




