
<div>
    <div class="nest" id="basicClose">
        <!--<div class="title-alt" ng-hide="control.isExport">-->
            <!--&lt;!&ndash;<h6>Title</h6>&ndash;&gt;-->
            <!--<button class="btn btn-danger btn-xs" ng-click="excelExportClick()"> <span class="glyphicon glyphicon-export"></span>Excel</button>-->
            <!--&lt;!&ndash;<button class="btn btn-success btn-xs"  ng-click="print()"><span class="glyphicon glyphicon-print"></span>Print</button>&ndash;&gt;-->
        <!--</div>-->

        <div class="body-nest">
            <div id="basic">
                <jqx-data-table jqx-settings="dataNestTableSettings" jqx-on-binding-complete="bing()" jqx-on-row-unselect="rowUnselect(event)" jqx-on-row-select="rowSelect(event)"></jqx-data-table>
            </div>
            <!--<button class="btn btn-success" ng-click="print()">Print</button>-->
            <div ng-hide="control.isExport">
                <button class="btn btn-success btn-xs" ng-click="excelExportClick()" style="position: relative;top: -30px;z-index: 1000;padding: 5px;"> <span class="glyphicon glyphicon-export"></span>Excel</button>
            </div>
            <div id="exportable" style="display: none" ></div>
        </div>
    </div>

</div>
