
<div>
    <div class="nest" id="basicClose">
        <!--<div class="title-alt" ng-hide="control.isExport">-->
        <!--&lt;!&ndash;<h6>Title</h6>&ndash;&gt;-->
        <!--<button class="btn btn-danger btn-xs" ng-click="excelExportClick()"> <span class="glyphicon glyphicon-export"></span>Excel</button>-->
        <!--&lt;!&ndash;<button class="btn btn-success btn-xs"  ng-click="print()"><span class="glyphicon glyphicon-print"></span>Print</button>&ndash;&gt;-->
        <!--</div>-->

        <div class="body-nest">
            <div id="basic">
                <jqx-grid jqx-settings="dataTableSettings" jqx-on-binding-complete="bing()"></jqx-grid>
            </div>
            <!--<button class="btn btn-success" ng-click="print()" style="margin-left: 100px">Print</button>-->

            <!--<img src="../assets/images/microsoft-excel-128.png" alt="" style="position: relative; z-index: 1000; top: -5px;" />-->
            <div ng-hide="control.isExport">
                <button class="btn btn-success btn-xs" ng-click="excelExportClick()" style="position: relative;z-index: 1000;"> <span class="icon-file-excel"></span> Excel</button>
            </div>

            <div id="exportable" style="display: none" >
                <!--div này chứa giá trị excel sau khi xuất ra. không được xóa-->
            </div>
        </div>
    </div>

</div>
