<!--<div class="panel panel-default">-->
    <!--<div class="panel-body">-->
        <!--<div class="row" >-->
            <!--<div class="col-md-4">-->
                <!--<dropdown id="cpnSelectSettings"></dropdown>-->
            <!--</div>-->
            <!--<div ng-hide="hideComboboxGroupCar" class="col-md-2">-->
                <!--<dropdown id="groupdeviceSelectSettings"></dropdown>-->
            <!--</div>-->
            <!--<div ng-hide="hidemodel" class="col-md-3">-->
                <!--<dropdown id="modelNameSelectting"></dropdown>-->
            <!--</div>-->
            <!--<div ng-hide="hidecar" class="col-md-2">-->
                <!--<dropdown id="carNameSelectting"></dropdown>-->
            <!--</div>-->
            <!--<div class="col-md-3" ng-hide="hidedatetime">-->
                <!--<datetime id="dtTimeSelect"></datetime>-->
            <!--</div>-->

            <!--<div class="col-md-1">-->
                <!--</br><button type="button" class="btn btn-info" ng-click="btViewClick()" title="{{viewData}}"><span class="glyphicon glyphicon-search">&nbsp</span>{{viewData}}</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<hr>-->
<!--<div class="panel panel-flat">-->
    <!--<div class="panel-body">-->
        <!--<div class="row">-->
            <!--<div ui-view></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="row viewmobile">
    <div class="box">
        <div class="box-header with-border">
            <div class="row" >
                <div class="col-md-4">
                    <dropdown id="cpnSelectSettings"></dropdown>
                </div>
                <div ng-hide="hideComboboxGroupCar" class="col-md-2">
                    <dropdown id="groupdeviceSelectSettings"></dropdown>
                </div>
                <div ng-hide="hidemodel" class="col-md-3">
                    <dropdown id="modelNameSelectting"></dropdown>
                </div>
                <div ng-hide="hidecar" class="col-md-2">
                    <dropdown id="carNameSelectting"></dropdown>
                </div>
                <div class="col-md-3" ng-hide="hidedatetime">
                    <datetime id="dtTimeSelect"></datetime>
                </div>

                <div class="col-md-1">
                    <br>
                    <button type="button" class="btn btn-info" ng-click="btViewClick()" title="{{viewData}}"><span class="glyphicon glyphicon-search">&nbsp</span>{{viewData}}</button>
                </div>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div ui-view></div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</div>