<div class="col-md-12">
    <h4 class="text-center">BÁO CÁO CHI TIẾT CUỐC XE</h4>
    <!--<p> Lưu ý: <em>Dòng hiển thị màu cam <span style='width:4px; height:4px; margin-right:2px ;border: 4px solid #e74c3c'></span> là cuốc bất thường</em> </p>-->
    Lưu ý:
    <ul>
        <li><em>Dòng hiển thị màu cam <span style='width:4px; height:4px; margin-right:2px ;border: 4px solid #e74c3c'></span> là cuốc bất thường</em></li>
        <li><em>Nhấp đúp vào dòng để xem chi tiết hành trình của cuốc xe đó</em></li>
    </ul>
    <!--<jq-grid id="gridSessionlog"></jq-grid>-->
    <grid-view id="gridSessionlog"></grid-view>
</div>



