<div class="col-md-12">
    <h4 class="text-center">BẢNG TỈ LỆ ĂN CHIA</h4>
    <grid-view id="gridPercentbenefit"></grid-view>
</div>


<!--Modal New-->
<div class="modal fade" id="myModal_percentbenefit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-danger text-center" ng-show="isNew">Tạo mới tỉ lệ ăn chia</h3>
                <h3 class="modal-title text-danger text-center" ng-show="!isNew">Cập nhật tỉ lệ ăn chia</h3>
            </div>
            <div class="modal-body">
                <form enctype='application/json' method='post' class="form-horizontal" role="form" ng-submit="newFormAccept()" name="onNew">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Đội xe</label>
                        <div class="col-sm-9">
                            <dropdown id="grouppopupSelectting"></dropdown>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Loại xe:</label>
                        <div class="col-sm-9">
                            <dropdown id="modelNameSelectting"></dropdown>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Từ mức:</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="FromMoney" placeholder="mức tiền..." ng-model="funNew.FromMoney" required>
                            <div role="alert">
                                <span class="text-danger" ng-show="onNew.FromMoney.$error.required">nhập mức tiền</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Đến mức</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="ToMoney" placeholder="mức tiền..." ng-model="funNew.ToMoney" required>
                            <div role="alert">
                                <span class="text-danger" ng-show="onNew.ToMoney.$error.required">nhập mức tiền</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Tỉ lệ chia</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="Percent" placeholder="tỉ lệ %..." ng-model="funNew.Percent" required>
                            <div role="alert">
                                <span class="text-danger" ng-show="onNew.Percent.$error.required">nhập tỉ lệ %</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Tỉ lệ vượt mức</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="PercentOver" placeholder="tỉ lệ %..." ng-model="funNew.PercentOver" required>
                            <div role="alert">
                                <span class="text-danger" ng-show="onNew.PercentOver.$error.required">nhập tỉ lệ %</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-10">
                            <button type="submit" class="btn btn-success">Xác Nhận</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!--Đoạn script fix lỗi search trên dropdownlist-->
<script>
    $.fn.modal.Constructor.prototype.enforceFocus = function () {
        $(document)
                .off('focusin.bs.modal') // guard against infinite focus loop
                .on('focusin.bs.modal', $.proxy(function (e) {
                    if (this.$element[0] !== e.target && !this.$element.has(e.target).length) {
                        if ($(e.target).parents().hasClass('jqx-popup'))
                            return true;
                        this.$element.trigger('focus')
                    }
                }, this));
    }
</script>