<div class="panel panel-flat">
    <div class="panel-body">
        <h3 class="text-center">BÁO CÁO CHI TIẾT CUỐC XE</h3>
        <div class="row text-center">
            <span class="col-sm-4">Từ ngày {{beginday}} đến ngày {{endday}}</span>
            <span class="col-sm-4">Điểm: {{PointName}}</span>
        </div>
        <!--<h5 class="text-center">Từ ngày {{beginday}} đến ngày {{endday}}</h5>-->

        <div class="row">
            <grid-view id="gridDetailpointtaxi"></grid-view>
        </div>
    </div>
</div>



