<div class="panel panel-flat">
    <div class="panel-body">
        <div class="row">
            <h3 class="text-center">BÁO CÁO DOANH THU XE THEO CHỐT CA ĐỒNG HỒ</h3>
            <div class="row text-center">
                <span class="col-sm-4">Ngày: {{beginday}}</span>
            </div>
            <div class="col-md-12" style="font-weight: 400">
                <grid-view id="gridDthuxetheochotcadongho"></grid-view>
            </div>
        </div>
    </div>
</div>




