<!--View hiển thị các tag select-->
<h4 class="text-center">DANH SÁCH XE</h4>
<!--gridview báo cáo cuốc xe-->
<div class="col-md-12">
    <grid-view id="gridListCars"></grid-view>
</div>

<!--Modal New-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-danger text-center">Cập nhật thông tin xe</h3>
            </div>
            <div class="modal-body">
                <form enctype='application/json' method='post' class="form-horizontal" role="form" ng-submit="editFormAccept()" name="onEdit">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Biển số:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="name" ng-model="funEdit.Bs" readonly required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Sở GTVT:</label>
                        <div class="col-sm-7">
                            <combobox id="sogtvtSelectSettings" ng-model="funEdit.Sogtvt"></combobox>
                            <!--<jqx-combo-box jqx-settings="sogtvtSelectSettings" ng-model="FindSerial.Sogtvt" jqx-ng-model jqx-instance="sogtvtInstance" jqx-on-select="sogtvtSelect(event)"></jqx-combo-box>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Đội Xe:</label>
                        <div class="col-sm-7">
                            <!--<jqx-combo-box jqx-settings="groupcarSelectSettings" ng-model="funEdit.GroupName" jqx-ng-model jqx-on-select="groupcarSelect(event)"></jqx-combo-box>-->
                            <combobox id="grouplistcarSelectSettings" ng-model="funEdit.GroupName"></combobox>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Loại xe:</label>
                        <div class="col-sm-7">
                            <combobox id="modelnameSelectSettings" ng-model="funEdit.ModelName"></combobox>
                            <!--<jqx-combo-box ng-model="funEdit.ModelName" jqx-ng-model jqx-settings="modelnameSelectSettings" jqx-on-select="modelnameTagSelect(event)"></jqx-combo-box>-->
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-sm-3">Tải trọng/Số ghế:</label>-->
                        <!--<div class="col-sm-7">-->
                            <!--<input type="number" class="form-control" name="taitrong" ng-model="funEdit.Seat" min="0" >-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-sm-3">Loại hình kinh doanh:</label>-->
                        <!--<div class="col-sm-7">-->
                            <!--&lt;!&ndash;<jqx-combo-box ng-model="funEdit.Type" jqx-ng-model jqx-settings="typeSelectSettings" jqx-on-select="typeTagSelect(event)"></jqx-combo-box>&ndash;&gt;-->
                            <!--<combobox id="typeSelectSettings" ng-model="funEdit.Type"></combobox>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="control-label col-sm-3">Số Vin:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="vin" ng-model="funEdit.VinSerial" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Định mức nhiên liệu(L/100Km):</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control" name="nhienlieu" placeholder="Nhập mức nhiên liệu" ng-model="funEdit.FuelPer100Km" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Số ĐT Khách Hàng:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="phone" ng-model="funEdit.OwnerPhone" ng-pattern="/^0+[0-9]{9,10}$/">
                            <span ng-show="onEdit.phone.$error.pattern" style="color:red">Số điện thoại không hợp lệ</span>
                        </div>
                    </div>
                    <!--<div class="form-group" ng-show="checktaxi">-->
                        <!--<button class="btn btn-primary col-sm-offset-2" type="button" ng-click="modongho()">Mở khóa đồng hồ</button>-->
                        <!--<button class="btn btn-primary" type="button" ng-click="khoadongho()">Khóa đồng hồ</button>-->
                    <!--</div>-->
                    <hr>
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-10">
                            <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>