<link rel="stylesheet" type="text/css" href="../assets/css/map/map.css" />
<!--bản đồ-->

<div class="row" style="height: 500px;width:100%;">
    <div id="mapcustomzone" class="style_map" style="height: 500px;width:100%;"></div>
</div>


<div class="modal fade" id="myModal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-danger text-center">BÁO CÁO SỐ LƯỢNG CUỐC XE TRONG VÙNG </h3>
            </div>
            <div class="modal-body">
                <grid-view id="gridCuocXeVungTuChon"></grid-view>
            </div>
        </div>
    </div>
</div>