<div class="col-md-12">
    <h4 class="text-center">BẢNG GIÁ PHÍ DỊCH VỤ</h4>
    <grid-view id="gridFeeservice"></grid-view>
</div>


<!--Modal New-->
<div class="modal fade" id="myModal_feeservice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-danger text-center">Tạo mới phí dịch vụ</h3>
            </div>
            <div class="modal-body">
                <form enctype='application/json' method='post' class="form-horizontal" role="form" ng-submit="newFormAccept()" name="onNew">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Tên dịch vụ:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="Name" placeholder="tên dịch vụ..." ng-model="funNew.Name" required>
                            <div role="alert">
                                <span class="text-danger" ng-show="onNew.Name.$error.required">Nhập tên dịch vụ</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Tiền</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="Money" placeholder="tiền..." ng-model="funNew.Money" required>
                            <div role="alert">
                                <span class="text-danger" ng-show="onNew.Money.$error.required">nhập tiền</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Đội xe</label>
                        <div class="col-sm-9">
                            <dropdown id="grouppopupSelectting"></dropdown>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Tiền tính theo ngày</label>
                        <input type="checkbox" name="TheoNgay" ng-model="funNew.TheoNgay" style="width: 17px; height: 17px">
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Tiền công ty chịu:</label>
                        <input type="checkbox" name="CongTyChiu" ng-model="funNew.CongTyChiu" style="width: 17px; height: 17px">
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-10">
                            <button type="submit" class="btn btn-success">Xác Nhận</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!--Đoạn script fix lỗi search trên dropdownlist-->
<script>
    $.fn.modal.Constructor.prototype.enforceFocus = function () {
        $(document)
                .off('focusin.bs.modal') // guard against infinite focus loop
                .on('focusin.bs.modal', $.proxy(function (e) {
                    if (this.$element[0] !== e.target && !this.$element.has(e.target).length) {
                        if ($(e.target).parents().hasClass('jqx-popup'))
                            return true;
                        this.$element.trigger('focus')
                    }
                }, this));
    }
</script>