
<div class="col-md-12">
    <h4 class="text-center">BÁO CÁO DOANH THU XE</h4>
    <!--<p>Lưu ý: <em>Click đúp vào dòng cần chọn để xem chi tiết doanh thu của xe đó</em> </p>-->
    <jq-grid id="gridDoanhthuxe"></jq-grid>
</div>