<div class="col-md-12">
    <h4 class="text-center">BÁO CÁO SỐ LƯỢNG CUỐC XE TRONG VÙNG</h4>
    <p>Lưu ý: <em>Click đúp vào dòng cần chọn để xem chi tiết cuốc xe trong vùng</em> </p>
    <grid-view id="gridZonetaxi"></grid-view>
</div>

