

<!--<div class="col-md-12" ng-if="dataexceljson.length > 0">-->
    <!--<h5>BẢNG DỮ LIỆU ĐỌC TỪ FILE EXCEL</h5>-->
    <!--<grid-view id="gridJsonSetupdriver"></grid-view>-->
<!--</div>-->
<div class="col-md-12">
    <h4 class="text-center">THIẾT LẬP TÀI XẾ</h4>
    <grid-view id="gridSetupdriver"></grid-view>
</div>
<!--Modal New-->
<div class="modal fade" id="myModal_setupdriver" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-danger text-center">Thiết lập tài xế</h3>
            </div>
            <div class="modal-body">
                <form enctype='application/json' method='post' class="form-horizontal" role="form" ng-submit="newFormAccept()" name="onNew">
                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-sm-3">Serial:</label>-->
                        <!--<div class="col-sm-9">-->
                            <!--<input type="text" class="form-control" name="Serial" placeholder="tên dịch vụ..." ng-model="funNew.Serial" required readonly>-->
                            <!--<div role="alert">-->
                                <!--<span class="text-danger" ng-show="onNew.Serial.$error.required">Nhập tên dịch vụ</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="control-label col-sm-3">Id xe</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="Id" placeholder="Id xe..." ng-model="funNew.Id" required readonly>
                            <div role="alert">
                                <span class="text-danger" ng-show="onNew.Id.$error.required">nhập tiền</span>
                            </div>
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-sm-3">Trạng thái xe</label>-->
                        <!--<div class="col-sm-9">-->
                            <!--<input type="text" class="form-control" name="StateTaxi" placeholder="trạng thái xe..." ng-model="funNew.StateTaxi" required>-->
                            <!--<div role="alert">-->
                                <!--<span class="text-danger" ng-show="onNew.StateTaxi.$error.required">nhập trạng thái xe</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-sm-3">Đội xe</label>-->
                        <!--<div class="col-sm-9">-->
                            <!--<dropdown id="grouppopupSelectting"></dropdown>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="control-label col-sm-3">Tài xế</label>
                        <div class="col-sm-9">
                            <dropdown id="drsettupdriverSelectting"></dropdown>
                        </div>
                    </div>

                    <hr>
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-10">
                            <button type="submit" class="btn btn-success">Xác Nhận</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!--Đoạn script fix lỗi search trên dropdownlist-->
<script>
    $.fn.modal.Constructor.prototype.enforceFocus = function () {
        $(document)
                .off('focusin.bs.modal') // guard against infinite focus loop
                .on('focusin.bs.modal', $.proxy(function (e) {
                    if (this.$element[0] !== e.target && !this.$element.has(e.target).length) {
                        if ($(e.target).parents().hasClass('jqx-popup'))
                            return true;
                        this.$element.trigger('focus')
                    }
                }, this));
    }
</script>