<form class="form-horizontal" ng-submit="capnhatthongso()" >
    <div class="col-md-6 col-sm-6">
        <div class="form-group">
            <label class="col-sm-6 control-label">Số m tính là 0Km</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="cuoc0km" ng-model="thongso.Cuoc0Km" min="0">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-6 control-label">Thời gian gỡ bỏ xe ra khỏi bản đồ (nếu mất liên lạc quá lâu) (phút):</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="TimeoutHidenDevice" ng-model="thongso.TimeoutHidenDevice" min="0">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-6 control-label">Thời gian báo xe mất liên lạc (phút):</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="TimeoutLostDevice" ng-model="thongso.TimeoutLostDevice" min="0">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-6 control-label">Thời gian dừng đỗ quá lâu (phút):</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="TinhDungXeLau" ng-model="thongso.TinhDungXeLau" min="0">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5 control-label">
                <div class="checkbox-inline">
                    <label><input type="checkbox" ng-model="thongso.VatTinhSau"> Sử dụng VAT tính sau:</label>
                </div>
            </div>
            <!--<div class="col-sm-6">-->
                <!--<label class="col-sm-6 control-label">Sử dụng VAT tính sau:</label>-->
                <!--<div class="col-sm-6">-->
                    <!--<input type="checkbox" ng-model="thongso.VatTinhSau">-->
                    <!--&lt;!&ndash;<input type="number" class="form-control" id="TinhDungXeLau" ng-model="thongso.TinhDungXeLau" min="0">&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
            <div class="col-sm-6" >
                <label class="col-sm-6 control-label">Giá trị thuế VAT (%):</label>
                <div class="col-sm-6">
                    <!--<input type="checkbox" ng-model="thongso.TruyenDieuHanh">-->
                    <input type="number" class="form-control" id="thueVAT" ng-model="thongso.Vat" min="0">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-6 control-label">Tính tiền ăn chia theo bậc</label>
            <div class="col-sm-6">
                <input type="checkbox" ng-model="thongso.TinhTienAnChiaTheoBac">
            </div>
        </div>

    </div>
    <div class="col-md-6 col-sm-6">

        <div class="form-group">
            <label class="col-sm-3 control-label">Cách tính tiền:</label>
            <div class="col-sm-9">
                <dropdown id="drCachTinhTienSelectSettings"></dropdown>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Cách kết toán ca:</label>
            <div class="col-sm-9">
                <dropdown id="drCachKettoancaSelectSettings"></dropdown>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Kết toán ca tự động:</label>
            <div class="col-sm-6">
                <input type="checkbox" ng-model="thongso.KetToanCaAuto">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Sử dụng km cơ:</label>
            <div class="col-sm-6">
                <input type="checkbox" ng-model="thongso.SudungKmCo">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                <div class="checkbox-inline">
                    <label><input type="checkbox" ng-model="thongso.ChotCaAuto"> Chốt ca tự động:</label>
                </div>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="ChotCaAutoTime" ng-model="thongso.ChotCaAutoTime" ng-disabled="!thongso.ChotCaAuto" dom-on-create="init()">
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="col-sm-4 control-label">Truyền điều hành:</label>-->
            <!--<div class="col-sm-6">-->
                <!--<input type="checkbox" ng-model="thongso.TruyenDieuHanh">-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <button type="submit" class="btn btn-primary text-right">Cập nhật</button>

    <!--<div class="form-group">-->
        <!--<div class="col-sm-offset-5 col-sm-9">-->
            <!---->
        <!--</div>-->
    <!--</div>-->
</form>