<div class="row viewmobile">
    <div class="box">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-md-4" >
                    <dropdown id="cpnSelectSettings"></dropdown>
                </div>
                <div class="col-md-2" ng-show="showdevices" >
                    <dropdown id="groupSelectSettings"></dropdown>
                </div>
                <div class="col-md-2" id="contantDeviceCombobox" ng-show="showdevices" >
                    <div ng-show="checkbox_drop">
                        <dropdown id="modelSelectSettings"></dropdown>
                    </div>
                    <div ng-show="checkbox_dropcar">
                        <dropdown id="modelSelectSettings_multi"></dropdown>
                    </div>
                    <div ng-show="checkbox_nhienlieu">
                        <dropdown id="modelNhienlieuSelectSettings"></dropdown>
                    </div>
                </div>
                <div class="col-md-2" ng-show="checkbox_nhienlieu">

                </div>
                <div class="col-md-3" ng-show="!showdevices">
                    <div ng-show="location_drop">
                        <dropdown id="locationSelectSettings"></dropdown>
                    </div>
                    <div ng-show="!location_drop">
                        <dropdown id="pointSelectSettings"></dropdown>
                    </div>
                </div>
                <div class="col-md-3" ng-show="time31">
                    <label>Từ ngày</label>
                    <datetime id="dtTimeStartSelect"></datetime>
                    <label>Đến ngày</label>
                    <datetime id="dtTimeEndSelect" ></datetime>
                </div>
                <div class="col-md-3" ng-show="!time31">
                    <!--<datetime id="dtTimeSelect2day"></datetime>-->
                    <label>Từ ngày</label>
                    <datetime id="dtTimeStartSelect2ngay"></datetime>
                    <label>Đến ngày</label>
                    <datetime id="dtTimeEndSelect2ngay" ></datetime>
                </div>
                <hr>
                <div class="col-md-3">

                    <button type="button" class="btn btn-info" ng-click="btViewClick()" title="{{viewData}}"><span class="glyphicon glyphicon-search">&nbsp</span>{{viewData}}</button>
                </div>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div ui-view></div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</div>