<!DOCTYPE html>
<html lang="en" ng-app="adsun" ng-controller="IndexController">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title ng-bind="Title"></title>
    <base href="/">
    <link rel="icon" href="assets/images/favicon.ico" type="image/gif">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
    <!-- Iconmoon -->
    <link rel="stylesheet" href="./assets/css/icons/icomoon/styles.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="./assets/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="./assets/css/skins/_all-skins.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/jqwidgets/jqwidgets/styles/jqx.base.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/jqwidgets/jqwidgets/styles/jqx.blue-theme.css"/>

    <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css">
    <link rel="stylesheet" type="text/css" href="bower_components/ng-material-floating-button/mfb/dist/mfb.css"/>

    <link rel="stylesheet" type="text/css" href="../bower_components/pickadate/lib/themes/default.css" />
    <link rel="stylesheet" type="text/css" href="../bower_components/pickadate/lib/themes/default.date.css" />
    <link rel="stylesheet" type="text/css" href="../bower_components/clockpicker-gh-pages/dist/bootstrap-clockpicker.min.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/fixstyle.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/mapstyles.css"/>


    <script src="shared/library/loadScript.js"></script>
    <script type="text/javascript" src="http://210.211.108.84:8051/mapNew.js?v=1.2"></script>

    <aaa>
    </aaa>
    <!--<script src="../bower_components/sugar/dist/sugar.min.js"></script>-->
    <!--<script src="../bower_components/jquery-watch-dom/jquery-watch.min.js"></script>-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->

    <!-- build:css styles/lib.css -->

    <!-- bower:css -->
    <!-- endinject -->

    <!-- inject:app:css-->
    <!-- endinject-->

    <!-- endbuild -->

</head>

<body class="skin-blue-light">
    <div class="wrapper">
        <header class="main-header">




            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar" style="background-color: #0b78d1;display: flex">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Logo -->
                <div style="margin: 10px auto;">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <!--<span class="logo-mini"><img src="./assets/images/head.png" alt=""></span>-->
                    <!-- logo for regular state and mobile devices -->
                    <img src="./assets/images/logo1.png" alt="" class="logo-lg" style=" width: 50px;margin-top: -3px;margin-bottom: -3px;">
                    <!--<span class="logo-lg"><b>Admin</b>LTE</span>-->
                </div>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="{{UserProfile.Avatar}}" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span ng-bind="UserProfile.UserName"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="{{UserProfile.Avatar}}" class="img-circle" alt="User Image">
                                    <p> {{UserProfile.DisplayName}}
                                        <small ng-bind-html="UserProfile.Phone"></small>
                                        <small ng-bind-html="UserProfile.ShowLevel"></small>
                                    </p>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="/cap-nhat-thong-tin-tai-khoan" class="btn btn-info btn-flat"><i class="icon-cog5"></i>Thông tin</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" ng-click="logout()" class="btn btn-danger btn-flat"><i class="icon-exit3"></i> Đăng xuất</a>
                                    </div>
                                </li>
                            </ul>

                        </li>

                    </ul>
                </div>

            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar fixed">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" class="form-control"  ng-click="searchMenu()" placeholder="Tìm kiếm chức năng" id="ac-custom" name="currency">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                              <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree" >
                    <!--<li ><a ui-sref="homemanage"><i class="icon-home"></i> <span>Trang chủ</span></a></li>-->
                    <!--<li ><a href="http://dinhvi.adsun.vn/ban-do" target="_blank"><i class=" icon-map4"></i> <span>Bản đồ xe khách</span></a></li>-->
                    <!--<li ><a href="http://dinhvitaxi.adsun.vn/map-ban-do-taxi" target="_blank"><i class=" icon-map5"></i> <span>Bản đồ xe taxi</span></a></li>-->
                    <li class="treeview" ng-repeat="m in MenuGroup" ng-if="m.Menu!=undefined && m.Menu.length!=0" ng-class="(m.Id == 'admin')?'active':''">
                        <a href="#">
                            <i class="{{m.Style}}" style="margin-right: 12px;"></i> <span ng-bind="m.Text"></span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li ng-repeat="n in m.Menu"  ng-include="'menu_render.html'"  ng-class="{active_childli: isActiveChild(n)}" ng-click="selectChild(n)"></li>

                            <script id="menu_render.html" type="text/ng-template">
                                <a ng-if="n.Child==undefined || n.Child.length==0" ui-sref="{{n.Name}}" ng-click="clicktargetmenu()" id="{{n.Name.replace('.','_')}}" dom-on-create="initMenu(n.Name.replace('.','_'))"><i class="{{n.Style}}" style="margin-right: 12px;"></i> {{n.Text}}</a>

                                <a href="#" ng-if="n.Child!=undefined && n.Child.length>0" id="{{::n.Name.replace('.','_')}}" dom-on-create="initMenu(n.Name.replace('.','_'))"><i class="{{n.Style}}"></i>{{n.Text}}</a>
                            </script>
                        </ul>
                    </li>

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Full Width Column -->
        <div class="content-wrapper">
            <div class="container">
                <div ui-view></div>
                <!--&lt;!&ndash; Content Header (Page header) &ndash;&gt;-->
                <!--<section class="content-header">-->
                    <!--<h1>-->
                        <!--Top Navigation-->
                        <!--<small>Example 2.0</small>-->
                    <!--</h1>-->
                    <!--<ol class="breadcrumb">-->
                        <!--<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>-->
                        <!--<li><a href="#">Layout</a></li>-->
                        <!--<li class="active">Top Navigation</li>-->
                    <!--</ol>-->
                <!--</section>-->

                <!--&lt;!&ndash; Main content &ndash;&gt;-->
                <!--<section class="content">-->
                    <!--<div ui-view></div>-->
                    <!--&lt;!&ndash; /.box &ndash;&gt;-->
                <!--</section>-->
                <!--&lt;!&ndash; /.content &ndash;&gt;-->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-wrapper -->
        <!--<footer class="main-footer">-->
            <!--<div class="container">-->
                <!--<div class="pull-right hidden-xs">-->
                    <!--<b>Version</b> 2.0.0-->
                <!--</div>-->
                <!--<strong>Copyright &copy; 2016-2017 <a href="https://adsun.vn">ADSUN Company</a>.</strong> All rights-->
                <!--reserved.-->
            <!--</div>-->
            <!--&lt;!&ndash; /.container &ndash;&gt;-->
        <!--</footer>-->
    </div>



    <bbb>
    </bbb>


<!-- build:js js/lib.js -->

<!-- inject:theme:js-->
<!-- endinject-->
<!-- inject:app:js -->
<!-- endinject-->
<!-- inject:bower:js -->
<!-- endinject -->

<!-- inject:lib:js -->
<!-- endinject -->

<!-- inject:module:js-->
<!-- endinject -->

<!-- inject:provider:js-->
<!-- endinject -->

<!-- inject:directive:js-->
<!-- endinject -->

<!--inject:services:js-->
<!-- endinject -->


<!-- inject:controller:js-->
<!-- endinject -->

<!-- inject:router:js-->
<!-- endinject -->

<!-- endbuild -->
    <script src="bower_components/chart.js/dist/Chart.js" type="text/javascript"></script>
    <script src="bower_components/Chart.Zoom.js/chartjs-plugin-zoom.js" type="text/javascript"></script>
    <script src="bower_components/blob/Blob.js" type="text/javascript"></script>
    <script src="bower_components/sugar/dist/sugar.js" type="text/javascript"></script>
    <script src="assets/js/plugins/jquery-advanced-news-ticker-master/jquery.newsTicker.min.js" type="text/javascript"></script>
    <script src="assets/js/plugins/jQuery.print-master/dist/jQuery.print.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../bower_components/pickadate/lib/picker.js"></script>
    <script type="text/javascript" src="../bower_components/pickadate/lib/picker.date.js"></script>
    <script type="text/javascript" src="../bower_components/clockpicker-gh-pages/dist/bootstrap-clockpicker.min.js"></script>

    <!--<script src="bower_components/bootbox.js/bootbox.js" type="text/javascript"></script>-->

    <!--<script src="bower_components/FileSaver/jquery.wordexport.js" type="text/javascript"></script>-->
    <!--<script src="./assets/js/notify.min.js" type="text/javascript"></script>-->
	<!-- SlimScroll -->
    <!--<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>-->
    <!-- FastClick -->
    <!--<script src="bower_components/fastclick/lib/fastclick.js"></script>-->

    <!--<script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>-->



</body>
</html>
