/*fix lại style chọn ngày tháng trên trang hành trình*/
.show-calendar{
    right: auto!important;
    left: 10%!important;
}
/*set style bảng thông tin*/
.Title-containt{
    float: left;
    width: 50%;
    color: #bd230f;
    /*font-weight: bold;*/
}
.tab-contain{
    float: left;
    width: 50%;
}
#controltripMap{
    background: #fff;
    position:relative;
    z-index:6;
    height: auto;
    width: 230px;
    margin-top: 51px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
}

#controltripTaxiMap{
    -webkit-box-shadow: 5px 5px 7px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 7px -2px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 7px -2px rgba(0,0,0,0.75);
}

