<h4 class="text-center">BÁO CÁO DỪNG ĐỖ</h4>
<div class="col-md-12">
    <div class="col-sm-1">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="isThoigian"> Chọn khoảng thời gian
            </label>
        </div>
    </div>

    <div class="col-sm-1">
        <label>Từ phút:</label>
        <input type="number" class="form-control" min="0" ng-model="frommin" step="5" ng-disabled="!isThoigian">
    </div>
    <div class="col-sm-1">
        <label>Đến phút:</label>
        <input type="number" class="form-control" min="{{frommin}}" ng-model="tomin" step="5" ng-disabled="!isThoigian">
    </div>
</div>
<hr>

<div class="col-md-12">
    <grid-view id="gridParkingEnterprise"></grid-view>
</div>
