<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ADSUN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="../bower_components/jquery-watch-dom/jquery-watch.min.js"></script>

    <!--<link rel="stylesheet" href="assets/css/style.css">-->
    <link rel="icon" href="../assets/images/favicon.ico" type="image/gif">
    <link rel="stylesheet" type="text/css" href="../assets/css/login-loader-style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/styleLogin.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->
    <!-- Fav and touch icons -->
    <!--<link rel="shortcut icon" href="assets/ico/minus.png">-->
</head>

<body>

<div class="container" ng-app="Loginapp" ng-controller="loginCtrl">
    <!--Giao diện đăng nhập dành cho trang khách hvt-->
    <div class="" id="login-wrapper_guess">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div id="logo-login_guess">
                    <image style="width:110%;padding-top: 10px;margin-left: -15px" src='../assets/images/logoweb1.png'></image>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="account-box-guess">
                    <form role="form" method="post" ng-submit="login()" name="guess">
                        <div class="form-group">
                            <!--<a href="#" class="pull-right label-forgot"></a>-->
                            <label>Tên đăng nhập</label>
                            <input type="text"  class="form-control" ng-model="username">
                        </div>
                        <div class="form-group">
                            <!--<a href="#" class="pull-right label-forgot"></a>-->
                            <label>Mật khẩu</label>
                            <input type="password" class="form-control" ng-model="password">
                        </div>
                        <div class="checkbox pull-left">
                            <label>
                                <input type="checkbox" ng-model="remember">Ghi nhớ mật khẩu</label>
                        </div>
                        <button class="btn btn-md btn-primary pull-right" style="height:30px;font-size: 14px; " type="submit">
                            Đăng nhập
                        </button>
                    </form>
                    <a class="forgotLnk" href="index.html"></a>
                    <br>
                    <hr color="black">
                    <div class="cpn_title">
                        <span>Chăm sóc khách hàng:1900545456</span>
                    </div>
                    <!--<div class="info_title">-->
                        <!--<span>Địa chỉ: 52 Yersin - TP Nha Trang - Tỉnh Khánh Hoà.</span>-->
                        <!--<br/>-->
                        <!--<span>ĐT: 058 3811121 - Hotline: 0905 700 088 (Mr Trí)</span>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--  END OF PAPER WRAP -->

<!-- MAIN EFFECT -->
<script type="text/javascript" src="../assets/themes/apricotbootstrap3/assets/js/preloader.js"></script>
<script type="text/javascript" src="../assets/themes/apricotbootstrap3/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../assets/themes/apricotbootstrap3/assets/js/app.js"></script>
<script type="text/javascript" src="../bower_components/mobile-detect/mobile-detect.js"></script>
<script type="text/javascript" src="login.js"></script>
<!--<script type="text/javascript" src="assets/themes/main.js"></script>-->
</body>
</html>
