<a data-toggle="modal" data-target=".bs-modal-lg" style="cursor: pointer">
    <h3>
        <p  class="text-danger text-center" style="margin-top: 5px; font-size: 18px">THÔNG BÁO : VỀ VIỆC NÂNG CẤP - LẮP ĐẶT ĐẦU ĐỌC THẺ TÀI XẾ (Nhấn vào để xem chi tiết)</p>
    </h3>

</a>


<div class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title text-danger" id="myLargeModalLabel">THÔNG BÁO</h4></div>
            <div class="modal-body" style="font-size: 1.3em">
                <p align="center">
                    <strong><em><u>VỀ VIỆC NÂNG CẤP - LẮP ĐẶT ĐẦU ĐỌC THẺ TÀI XẾ</u></em></strong>
                </p>
                <p align="center">
                    <strong><em><u></u></em></strong>
                </p>
                <p>
                    <u>Kính gửi</u>
                    : Quý Khách hàng
                </p>
                <p>
                    Công ty CPĐTVT ÁNH DƯƠNG (<em><strong>ADSUN</strong></em>) trân trọng cảm ơn sự tin dùng và hợp tác của quý Khách hàng trong thời gian vừa qua.
                </p>
                <p>
                    Căn cứ vào nội dung của Nghị định số 86/2014/NĐ-CP, Thông tư số 73/2014/TT-BGTVT và văn bản số 6240/BGTVT-KHCN về việc thực hiện lắp đặt và nâng cấp thiết
                    bị giám sát hành trình (TBGSHT) có qui định :
                </p>
                <p>
                    1) Các phương tiện khi lắp đặt mới thiết bị GSHT theo Quy Chuẩn mới <strong>QCVN31/2014</strong> phải gắn kèm thiết bị “    <strong><em>đầu đọc thẻ tài xế</em></strong>” mới đáp ứng đúng và đủ theo Quy Chuẩn <strong>QCVN31/2014</strong> của BGTVT
                </p>
                <p>
                    2) Các phương tiện đã gắn thiết bị GSHT theo Quy chuẩn củ <strong>QCVN31/2011</strong> trước đây phải nâng cấp và bổ sung thiết bị ‘    <strong><em>đầu đọc thẻ tài xế’</em></strong> để tuân thủ hoàn toàn theo quy chuẩn mới <strong>QCVN31/2014</strong> của Bộ GTVT trước ngày 31/12/2017.
                </p>
                <p>
                    Công ty Ánh Dương xin thông báo đến các khách hàng đã gắn thiết bị GSHT nhưng chưa đáp ứng đủ chuẩn theo 2 qui định trên sớm bổ sung thêm thiết bị    <strong><em>‘đầu đọc thẻ tài xế’</em></strong> nhằm đáp ứng hoàn toàn đúng khi sử dụng thiết bị GSHT theo quy chuẩn mới <strong>QCVN31/2014</strong> của Bộ
                    GTVT cũng như hạn chế tối đa việc vi phạm thời gian lái xe .
                </p>
                <p>
                    Trân trọng Thông Báo !
                </p>


            </div>
        </div>
    </div>
</div>