<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ADSUN CoLtd ®  - Điện tử Viễn thông Ánh Dương</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="thiết bị định vị, định vị ô tô, định vị xe tải, lắp đặt thiết bị định vị ô tô" />
    <meta name="description" content="Ánh Dương là công ty chuyên cung cấp các lắp đặt các thiết bị định vị gắn cho xe ô tô xe tải - Định vị hợp chuẩn theo quy định của Bộ GTVT. Bảo hành 18 tháng" />
    <meta name="author" content="Công Ty Cổ Phần Điện Tử  Viễn Thông Ánh Dương" />
    <meta name="robots" content="index, follow" />
    <meta property="og:site_name" content="Công Ty Cổ Phần Điện Tử  Viễn Thông Ánh Dương" />
    <meta property="og:description" content="Ánh Dương là công ty chuyên cung cấp các lắp đặt các thiết bị định vị gắn cho xe ô tô xe tải - Định vị hợp chuẩn theo quy định của Bộ GTVT. Bảo hành 18 tháng" />

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- jQuery 3 -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="../bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="../bower_components/mobile-detect/mobile-detect.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="../bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../assets/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="../assets/js/plugins/iCheck/square/blue.css">

    <link rel="stylesheet" href="../assets/css/styleLogin.css">
    <link rel="icon" href="../assets/images/favicon.ico" type="image/gif">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <!--<![endif]&ndash;&gt;-->

    <!-- Google Font -->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">-->
</head>
<body class="hold-transition login-page" ng-app="Loginapp" ng-controller="loginCtrl">
<div class="login-box" >
    <div class="login-logo">
        <a href="http://www.adsun.vn" target="_blank">
            <image src='../assets/images/logoweb1.png' style="background: rgba(48, 65, 96, 0.8);"></image>
        </a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg" style="font-weight: 600; color: red">Hệ thống quản lý thiết bị định vị T90</p>
        <div class="login_error" style="display: none;">
            <div class="alert alert-danger" role="alert" style="margin-bottom: 4px; color: #a94442 !important;background-color: #f2dede !important;border-color: #ebccd1 !important;">
                Tài khoản đăng nhập hoặc mật khẩu không đúng.Xin thử lại !!!
            </div>
        </div>

        <form role="form" method="post" ng-submit="login()">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Tên đăng nhập" ng-model="username">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Mật khẩu" ng-model="password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-7">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" ng-model="remember"> Ghi nhớ mật khẩu
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-5">
                    <button type="submit" class="btn btn-primary btn-block btn-flat "><i class="glyphicon glyphicon-log-in"></i>  Đăng nhập</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <hr>
        <!--Thông tin công ty-->
        <div class="social-auth-links text-center">
            <span>CSKH: 1900 54 54 56 - (028) 73 05 77 99</span>
            <!--<p>- OR -</p>-->
            <!--<a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using-->
            <!--Facebook</a>-->
            <!--<a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using-->
            <!--Google+</a>-->
        </div>
        <div class="img_appmobile">
            <img src="../assets/images/logo_adsun512.jpg" alt="" style="width: 100%">
            <div style="position: absolute;left: 122px;top: 52px">
                <a href="https://play.google.com/store/apps/details?id=vn.adsun.app.adsungps&hl=vi" target="_blank">
                    <img src="../assets/images/google_play.jpg" alt="">
                </a>
            </div>
            <div style="position: absolute;left: 238px;top: 52px">
                <a href="https://itunes.apple.com/vn/app/adsun-gps/id1169369710?mt=8" target="_blank">
                    <img src="../assets/images/apple_store.jpg" alt="">
                </a>
            </div>

        </div>
        <!-- /.social-auth-links -->

        <!--<a href="#">I forgot my password</a><br>-->
        <!--<a href="register.html" class="text-center">Register a new membership</a>-->

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
<div class="modal fade bs-example-modal-lg" id="modalthongbao" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title text-center text-danger">{{tieude}}</h4>
            </div>
            <div class="modal-body" style="height: 450px; overflow: auto">
                <div ng-bind-html="thongbao"></div>
            </div>
            <div class="modal-footer" style="padding: 0px; text-align: left;">
                <div class="checkbox" style="margin-left: 5px">
                    <label >
                        <input type="checkbox" ng-click="readthongbao($event)" > Đã đọc
                    </label>
                </div>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- iCheck -->
<script src="../assets/js/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="../logins/login.js"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>
</body>
</html>
