

<div class="row viewmobile">
    <div class="box">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-md-4">
                    <dropdown id="cpnSelectSettings"></dropdown>
                </div>
                <div class="col-md-2">
                    <dropdown id="groupSelectSettings"></dropdown>
                </div>
                <div ng-hide="hideComboboxGroupCar" class="col-md-2">
                    <dropdown id="modelSelectSettings"></dropdown>
                </div>
                <!--<div class="col-md-3" ng-hide="range_thoigian">-->
                <!--<datetime id="dtTimeSelect"></datetime>-->
                <!--</div>-->
                <div class="col-md-1">
                    <br>
                    <button type="button" class="btn btn-info" ng-click="btViewClick()" title="{{viewData}}"><span class="glyphicon glyphicon-search">&nbsp</span>{{viewData}}</button>
                </div>
                <!--<div class="col-md-1" style="float: right">-->
                <!--<br>-->
                <!--<a href="#" class="btn btn-info" title="Hướng dẫn " target="_blank">?</a>-->
                <!--</div>-->

            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div ui-view ></div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</div>