

<div id="maphanhtrinhxetaxi" class="style_map"></div>


<!--bảng điều khiển xem thông tin xe dạng grid -->
<div id="controltripTaxiMap " class="Control_map" style="width: 100%;left: 0;height: auto" >
    <div class="box box-adsun box-solid " data-widget="box-widget"  id="chonxe" style="margin-bottom: 1px">
        <div class="box-header with-border">
            <h6 class="box-title">Chọn xe</h6>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" id="my-collapse-button-trigger"><i class="fa fa-minus"></i></button>
            </div>
            <!-- /.box-tools -->
        </div>




        <div class="box-body no-padding" >
            <dropdown id="cpnSelectSettings"></dropdown>

            <div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon3" style="cursor: pointer;padding-right: 6px;padding-top: 0px;"><i class="ion-android-car" style="font-size: 22px; color: #2196f3"></i></span>
                <dropdown id="carSelectSettings"></dropdown>
            </div>
            <br>
            <div class="row">
                <label class="col-xs-3 col-sm-2">Thời gian: </label>
                <button class="btn btn-primary" ng-click="getdataClick(60)">1h</button>
                <button class="btn btn-primary" ng-click="getdataClick(120)">2h</button>
                <button class="btn btn-primary" ng-click="getdataClick(180)">3h</button>
                <button class="btn btn-primary" ng-click="showNgaythang()">Khác</button>
            </div>
            <hr ng-show="isShowkhac">
            <div class="row" ng-show="isShowkhac">
                <label class="col-xs-3">Từ ngày</label>
                <div class="col-xs-9">
                    <datetime id="dtTimeStartSelect"></datetime>
                </div>
            </div>
            <br>
            <div class="row" ng-show="isShowkhac">
                <label class="col-xs-3">Đến ngày</label>
                <div class="col-xs-9">
                    <datetime id="dtTimeEndSelect" ></datetime>
                </div>
            </div>
            <div class="col-xs-12" ng-show="isShowkhac">
                <button class="btn btn-primary col-xs-offset-3" ng-click="getdataClick(0)">Xem dữ liệu</button>
            </div>
        </div>
    </div>
    <div class="box box-adsun box-solid" style="margin-bottom: 1px">
        <div class="box-header with-border">
            <h3 class="box-title">Thông tin</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body col-sm-offset">
            <!--<p>-->
                <!--<span>Thời điểm:</span>-->
                <!--<span ng-bind="modelmarker.TimeUpdate"></span>-->
            <!--</p>-->
            <p>
                <span>VT: </span> <span ng-bind="modelmarker.Speed" style="color: red; font-size: 14px"></span> Km/h - TG: <span ng-bind="modelmarker.TimeUpdate" style="color: red; font-size: 14px"></span>
            </p>

        </div>
        <!-- /.box-body -->
    </div>
</div>


<div id="playHanhtrinh" style="background-color: white; margin-bottom: 10px">
    <button ng-click="controlPlayClick()" title="Chạy" data-original-title="Chạy" class="btn-hanh-trinh  btn-icon-hanh-trinh legitRipple"><i id="playPauseSpanId" class="icon-play4"></i></button>
    <!--<button style="color: black" ng-click="controlPauseClick()" data-toggle="tooltip" data-placement="top" title="Dừng"><span class="glyphicon glyphicon-pause"></span></button>-->
    <button ng-click="controlReplayClick()" title="Chạy lại" data-original-title="Chạy lại" class="btn-hanh-trinh  btn-icon-hanh-trinh legitRipple"><i class="icon-loop3"></i></button>
    <button ng-click="controlPrevClick()" title="Lùi lại 1 đoạn" data-original-title="Lùi lại 1 đoạn" class="btn-hanh-trinh  btn-icon-hanh-trinh legitRipple"><i class="icon-backward2"></i></button>
    <button  ng-click="controlNextClick()" title="Xem đoạn tiếp theo" data-original-title="Xem đoạn tiếp theo" class="btn-hanh-trinh  btn-icon-hanh-trinh legitRipple"><i class="icon-forward3"></i></button>
    <select id="mySelectSpeed" style="width:50px;height:25px;"  title="Chọn tốc độ" data-original-title="Chọn tốc độ" class="tooltitle_journey" >
        <option value="0" selected="selected">x0</option>
        <option value="1">x1</option>
        <option value="2">x2</option>
        <option value="3">x3</option>
        <option value="4">x4</option>
        <option value="5">x5</option>
    </select>
    <div  class="progress" id="pProcessTrip" style="margin-bottom: 4px !important;margin-top: 4px" ng-click="onProcessbarClick($event)" ng-mousemove="onProcessbarMouse($event)">
        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="50"
             aria-valuemin="0" aria-valuemax="100" style="width:1%">
        </div>
    </div>
</div>
