<!--<div class="panel panel-flat">-->
    <!--<div class="panel-body">-->
        <!--<div class="row" >-->
            <!--<div class="col-md-4">-->
                <!--<dropdown id="cpnSelectSettings"></dropdown>-->
            <!--</div>-->
            <!--<div ng-hide="hideComboboxGroupCar" class="col-md-2">-->
                <!--<div ng-show="!checkboxes_group">-->
                    <!--<dropdown id="groupdeviceSelectSettings"></dropdown>-->
                <!--</div>-->
                <!--<div ng-show="checkboxes_group">-->
                    <!--<dropdown id="groupdeviceSelectSettings_muti"></dropdown>-->
                <!--</div>-->

            <!--</div>-->
            <!--<div ng-hide="hideComboboxCar" class="col-md-2">-->
                <!--<div ng-show="!checkboxes_combobox">-->
                    <!--<dropdown id="modelSelectSettings"></dropdown>-->
                <!--</div>-->
                <!--<div ng-show="checkboxes_combobox">-->
                    <!--<dropdown id="modelSelectSettings_multi"></dropdown>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-2" ng-hide="hideDriver">-->
                <!--<dropdown id="driverSelectSettings"></dropdown>-->
            <!--</div>-->

            <!--<div class="col-md-3">-->
                <!--<label>Từ ngày</label>-->
                <!--<datetime id="dtTimeStartSelect"></datetime>-->
                <!--<label>Đến ngày</label>-->
                <!--<datetime id="dtTimeEndSelect" ></datetime>-->
            <!--</div>-->

            <!--<div class="col-md-1">-->
                <!--</br><button type="button" class="btn btn-info" ng-click="btViewClick()" title="{{viewData}}"><span class="glyphicon glyphicon-search">&nbsp</span>{{viewData}}</button>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="col-md-1" style="float: right">&ndash;&gt;-->
            <!--&lt;!&ndash;<br>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="#" class="btn btn-info" title="Hướng dẫn" target="_blank">?</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
        <!--<div  id="panelHeadingButton" style="display:none; background-color:#dff0d8;width: 100%;text-align: right!important">-->
            <!--<button class="btn btn-primary btn-sm" ng-click="btDown()" style="z-index: 1000;">-->
            <!--<span class="glyphicon glyphicon-menu-down">-->
            <!--</span>-->
            <!--</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<hr>-->
<!--<div class="panel panel-flat">-->
    <!--<div class="panel-body">-->
        <!--<div class="row">-->
            <!--<div ui-view></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<div class="row viewmobile">
    <div class="box">
        <div class="box-header with-border">
            <div class="row" >
                <div class="col-md-4">
                    <dropdown id="cpnSelectSettings"></dropdown>
                </div>
                <div ng-hide="hideComboboxGroupCar" class="col-md-2">
                    <div ng-show="!checkboxes_group">
                        <dropdown id="groupdeviceSelectSettings"></dropdown>
                    </div>
                    <div ng-show="checkboxes_group">
                        <dropdown id="groupdeviceSelectSettings_muti"></dropdown>
                    </div>

                </div>
                <div ng-hide="hideComboboxCar" class="col-md-2">
                    <div ng-show="!checkboxes_combobox">
                        <dropdown id="modelSelectSettings"></dropdown>
                    </div>
                    <div ng-show="checkboxes_combobox">
                        <dropdown id="modelSelectSettings_multi"></dropdown>
                    </div>
                </div>
                <div class="col-md-2" ng-hide="hideDriver">
                    <dropdown id="driverSelectSettings"></dropdown>
                </div>

                <div class="col-md-3">
                    <label>Từ ngày</label>
                    <datetime id="dtTimeStartSelect"></datetime>
                    <label>Đến ngày</label>
                    <datetime id="dtTimeEndSelect" ></datetime>
                </div>
                <hr>
                <div class="col-md-3">
                    <button type="button" class="btn btn-info" ng-click="btViewClick()" title="{{viewData}}"><span class="glyphicon glyphicon-search">&nbsp</span>{{viewData}}</button>
                </div>
                <!--<div class="col-md-1" style="float: right">-->
                <!--<br>-->
                <!--<a href="#" class="btn btn-info" title="Hướng dẫn" target="_blank">?</a>-->
                <!--</div>-->
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div ui-view></div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</div>