<div class="col-md-12">
    <label class="radio-inline"><input type="radio" name="optradio" ng-model="viewchoice" ng-value="0">Tất cả</label>
    <label class="radio-inline"><input type="radio" name="optradio" ng-model="viewchoice" ng-value="1">Chích xung không sụp cò</label>
    <label class="radio-inline"><input type="radio" name="optradio" ng-model="viewchoice" ng-value="2">Mất kết nối đồng hồ</label>
    <label class="radio-inline"><input type="radio" name="optradio" ng-model="viewchoice" ng-value="3">Khả nghi xe bị ngắt xung</label>
</div>

<div class="col-md-12">
    <h4 class="text-center">BÁO CÁO CUỐC HỒNG NGOẠI</h4>
    Lưu ý:
    <ul>
        <!--<li><em>Dòng hiển thị màu cam <span style='width:4px; height:4px; margin-right:2px ;border: 4px solid #e74c3c'></span> là cuốc bất thường</em></li>-->
        <li><em>Nhấp đúp vào dòng để xem chi tiết hành trình của cuốc xe đó</em></li>
    </ul>
    <grid-view id="gridCuochongngoai"></grid-view>
</div>
