

    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <h3 class="text-center">BÁO CÁO DOANH THU XE THEO KẾT TOÁN CA</h3>
                <div class="row text-center">
                    <span class="col-sm-4">Từ ngày {{beginday}} đến ngày {{endday}}</span>
                </div>
                <div class="col-md-12">
                    <jqx-data-table jqx-settings="gridSettings" jqx-create="createWidget" jqx-height="heightgrid" jqx-on-row-double-click="rowDoubleClick(event)"></jqx-data-table>
                    <button class="btn btn-success" ng-click="exportexcell()"><i class="icon-file-excel"></i>Excel</button>
                    <div id="exportable" style="display: none" >
                </div>
            </div>
        </div>
    </div>



