<h4 class="text-center">BÁO CÁO SỐ BẢN TIN TRUYỀN TỔNG CỤC ĐƯỜNG BỘ</h4>
<!--gridview báo cáo cuốc xe-->
<div class="col-md-12" id="grid" >
    <ul>
        <span>Lưu ý:</span>
        <li class="text-danger">Số liệu trong báo cáo là số bản tin Adsun đã truyền TCĐB , báo cáo này nhằm  hỗ trợ khách hàng theo dõi, kiểm tra thường xuyên tình hình hoạt động và truyền dữ liệu của Thiết bị GSHT</li>
        <li class="text-danger">Dữ liệu báo cáo không  dùng để so sánh với hệ thống nhận và xử lý dữ liệu của TCĐB</li>
    </ul>
    <grid-view id="gridTruyenTongcuc"></grid-view>
</div>