/*import font Arimo từ google cho website*/
/*@import 'https://fonts.googleapis.com/css?family=Arimo&subset=vietnamese';*/
.container{
    width: auto !important;
}
.img-logo{
    width: 225px;
    margin-top: -13px;
    margin-right: -37px;
    margin-left: -36px;
}
.dropdown-menu{
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
    max-height: 350px;
    /* height: 400px; */
    overflow-y: auto;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.skin-blue .main-header .navbar {
    background-color: #2196f3 !important;
}

.dropdown-menu>li>a {
    padding: 6px 20px !important;
    color: black;
}

/*.box-adsun{*/
    /*background-color: #2196f3;*/
    /*color: white;*/
/*}*/

.box.box-adsun {
    border-top-color: #4daaf6 ;
}
.box.box-solid.box-adsun {
    border: 1px solid #4daaf6 ;
}
.box.box-solid.box-adsun > .box-header {
    color: #ffffff;
    /*background: #4daaf6  ;*/
    background-color: #4daaf6 ;
}

.box.box-solid.box-adsun>.box-header .btn{
    color: #ffffff;
}
.mfb-component__button--child, .mfb-component__button--main{
    background-color: #2196f3 !important;
}
.box-title{
    font-size: 16px !important;
}

.btn-loading-map{
    position: fixed;
    top: 50%;
    left: 25%;


    background-color: #2196f3;
    color: #FFFFFF;
}
#loading{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 5000 !important;

}
#veil{
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: not-allowed;
    filter: alpha(opacity=40);
    opacity: 0.1;
    background: #000000;
    z-index: 90000 !important;
    top:30px
}


.form-control{
    font-size: 12px !important;
    height:30px !important;
}

.btn-hanh-trinh {
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    border-width: 0;
    padding: 2px 8px;
    border-radius: 3px;
    color: white;
    background-color: #2196f3;
}
.icon-hanh-trinh{
    margin-right: 0px;
}
.btn-icon-hanh-trinh {
    padding-left: 8px;
    padding-right: 8px;
    /* background-color: white; */
}
.spinner {
    display: inline-block;
    -webkit-animation: rotation 1s linear infinite;
    -o-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}
@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes rotation {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-ms-keyframes rotation {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}
@-o-keyframes rotation {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.has-feedback .form-control {
    padding-right: 37.5px !important;
}

.btn-baocao{
    margin-top: 15px;
    margin-left: -15px;
}

@font-face {
    font-family: Roboto-Bold;
    src: url(./fonts/Roboto-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Roboto-Italic;
    src: url(./fonts/Roboto-Italic.ttf);
    font-style: italic, oblique;
}
@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}
body{
    font-family: 'Roboto', sans-serif; !important;
    /*font-family: 'Arimo-Regular', sans-serif;*/
    /*font-family: myFirstFont;*/
}


.content-wrapper {
    min-height: inherit;
    background-color: #ecf0f5;
    z-index: 800;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #FFFFFF;
}


.autocomplete-suggestions {
    font-family: 'Roboto', sans-serif; !important;
    /*border: 1px solid #999; */
    /*background: #fff; */
    cursor: default;
    overflow: auto;
    margin-top: 0px;
    /*top: 30px !important;*/
    /*position: absolute;*/
    /*top: 100%;*/
    /*left: 0;*/
    /*z-index: 1000;*/
    /*display: none;*/
    /*float: left;*/
    /*min-width: 160px;*/
    /*padding: 5px 0;*/
    /*margin: 2px 0 0;*/
    list-style: none;
    font-size: 12px;
    /*text-align: left;*/
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.autocomplete-suggestion { padding: 6px 6px; font-size: 13px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #2196f3; }






.cellformatnowrap{
    white-space: nowrap;
}
.gridbaocao{
    margin-top: -16px;
    padding-bottom: 16px;
    background-color: #00ACED;
}

.gridtt09_4row{
    margin-top: -23px;
    padding-bottom: 23px;
    background-color: #00ACED;
}
.gridtt09_2row{
    margin-top: -10px;
    padding-bottom: 10px;
    background-color: #00ACED;
}
.gridtaxidetail_height40_2row{
    margin-top: -12px;
    padding-bottom: 12px;
}
.active_menuli{
    background-color:rgba(0, 0, 0, 0.1);
}
.active_childli{
    background-color:rgba(0, 0, 0, 0.2);
}

/*
    Css thông báo ở index
*/
#thongbao_notify{
    margin: -8px 0px 0px 9px;
    -webkit-box-shadow: -1px 3px 9px -1px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: -1px 3px 9px -1px rgba(0,0,0,0.75) !important;
    box-shadow: -1px 3px 9px -1px rgba(0,0,0,0.75) !important;

}
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal-img {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 150%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content-img {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption-img {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content-img, #caption-img {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close-img {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-img:hover,
.close-img:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content-img {
        width: 100%;
    }
}

@media (max-width: 1150px) {
    .nav>li>a {
        padding: 15px 6px;
    }
    .newsticker{
        margin-left: -39px;
        margin-right: -5px;
    }
}



/*Xử lý màu trong grid-view các dòng thỏa điều kiện xét value*/
.yellow {
    color: black\9;
    background-color: yellow;
    /*#f8e984\9*/

}
.red {
     color: white\9;
     background-color: #FF6B6B\9;
 }
.organce{
    color: white\9;
    background-color: #e74c3c\9;
}
.blue-flat{
    color: white\9;
    background-color: #4DAF7C\9;
}
.yellow:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .yellow:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
    color: black;
    background-color: yellow;
}

.red:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .red:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
    color: white;
    background-color: #FF6B6B;
}

.organce:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .organce:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
    color: white !important;
    background-color: #e74c3c;
}

.blue-flat:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .blue-flat:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
    color: white;
    background-color: #4DAF7C;
}
/*end*/

#bs-example-navbar-collapse-1.hovertransparent .nav > li > a:hover, #bs-example-navbar-collapse-1.hovertransparent .nav > li > a:focus{
    background-color: transparent!important;
}

#skin-select{top:14px}
#skin-select #toggle{
    top:5px;
}
#skin-select #toggle.active{
    top: 5px;
}
#nt-title-container{
    margin-top: 10px;
}
.label_fix{
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    white-space: pre-line;
    vertical-align: text-top;
    border-radius: .25em;
}

label{
    font-weight: 500 !important;
}
/*Fix chữ chạy*/
.running-text{
    padding:0px 45px 0 20px; !important;
}
.date-top{
    margin-bottom: 2px;
    margin-left: -54px;
    width: 50%;
}
#nt-title{
    margin-top: 5px;

}

.searchbox {
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    width: 392px;
    height: 30px;
    border: 1px solid transparent;
    padding: 4px 104px 11px 15px;
    transition-property: background, box-shadow;
    transition-duration: 0.3s;
}

/*Hiển thị nội dung của google place autocomplete*/
.pac-container {
    /*background-color: #fff;*/
    /*position: absolute !important;*/
    /*z-index: 1000;*/
    /*border-radius: 2px;*/
    border-top: none !important;
    /*font-family: Arial, sans-serif;*/
    /*box-shadow: none !important;*/
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*overflow: hidden;*/
    box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02) !important;
    width: 392px !important;
    margin-left: -16px !important;
    margin-top: 10px!important;
}
/*CSS chỉnh độ bóng của ô search*/
.searchbox-shadow {
    box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
}
/*CSS ô tìm kiếm của tìm địa chỉ*/
.search_input{
    font-size: 15px;
    margin: 0 !important;
    padding: 0 !important;
    outline: 0;
    width: 100%;
    height: 24px !important;
    line-height: 24px;
    transition-property: color;
    transition-duration: 0.3s;
    color: black !important;
    background: #fff;
    border: 1px solid transparent;
}
.searchbox-searchbutton {
    display: block;
    padding: 3px 15px;
    background: inherit;
    border: none;
    /*cursor: pointer;*/
}

#search_location{
    transform: translateX(0px);
    transition-property: -webkit-transform,transform,visibility,opacity;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.0,0.0,0.2,1);
    margin-top: 8px;
}
.searchbox-searchbutton-container {
    position: absolute;
    right: 54px;
    top: 0;
}
.searchbox-searchbutton-container::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0px;
    border-left: 1px solid #ddd;
    height: 28px;
}
.searchbox-searchbutton::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/search.png);
    background-size: 72px 24px;
    color: inherit;
}
.close-button::before {
content: '';
background-image: url(../images/clear_search.png);
background-size: 96px 24px;
height: 24px;
width: 24px;
cursor: pointer;
    display: block;
    position: relative;
    left: -14px;
    top: 10px;
}
.searchbox-directions::before {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    opacity: .8;
    background: url(//maps.gstatic.com/tactile/omnibox/directions-1x-20150909.png) no-repeat 1px 1px/20px;
}
.searchbox-directions {
    display: block;
    cursor: pointer;
    padding: 13px 16px;
}
.searchbox-directions-container {
    display: block;
    position: absolute;
    right: 0;
    top: -10px;
}
#get_direction{
    -webkit-box-shadow: 0px 6px 4px -4px rgba(105,102,105,0.39);
    -moz-box-shadow: 0px 6px 4px -4px rgba(105,102,105,0.39);
    box-shadow: 0px 6px 4px -4px rgba(105,102,105,0.39);
    margin-right: 5px;
    margin-top: 5px;
}
.widget-directions-waypoints {
    position: relative;
    padding-bottom: 24px;
    z-index: 1002;
    width: 408px;
    /*margin-left: -8px;*/
    /*margin-top: -8px;*/
    /*padding-top: 8px;*/
    background: #4285F4 !important;
    color: rgba(255,255,255,0.87);
    border-radius: 0;
}
.widget-directions-searchbox-container {
    height: 40px;
    overflow: hidden;
}
.widget-directions-searchbox-container .searchbox {
    background-clip: padding-box;
    width: auto;
    border: none;
    position: relative;
    outline: none;
    margin: 0;
    transition-property: none;
    height: 38px;
    padding: 12px 72px 4px 72px;
    background: #4285F4 !important;
}

.tactile-searchbox-input {
    color: inherit;
    width: 100%;
    margin: 0 !important;
    height: 24px !important;
    line-height: 24px;
    transition-property: color;
    transition-duration: 0.3s;
    /*background-color: inherit;*/
    border: 0;
    /*border-bottom: 1px;*/
    background: transparent;
    padding: 0 !important;
    position: relative;
    font-size: 15px;
    border-bottom: 1px solid lightgrey;
}

.tactile-searchbox-input::-webkit-input-placeholder{
    color: lightgrey;
}
.widget-directions-right-overlay {
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    right: 0;
    width: 72px;
    text-align: center;
    border: 0;
    opacity: 1;
    transition: opacity 200ms cubic-bezier(0.52,0,0.48,1);
}
.widget-directions-searchbox-handle {
    visibility: visible !important;
    position: absolute;
    height: 29px;
    padding: 10px 0 0 25px;
    z-index: 4;
    left: 0px;
    cursor: -webkit-grab;
    cursor: grab;
    width: 24px;
    margin-top: 6px;
}

.widget-directions-reverse {
    cursor: pointer;
    padding: 16px;
    margin-top: -12px;
    background: transparent;
    border: none;
}


/*fix khi focus vao nano*/
.nano .content:focus {
    outline: none !important;
}

/*Fix chữ tìm kiếm nâng cao cho grid-view*/
div.jqx-input-group > a {
    float: right!important;
    position: relative!important;
}
/*fix font cho grid-view*/
.jqx-widget-office {
    /*font-family: Calibri;*/
    font-family:'Arimo', Arial,serif; !important;
}
.jqx-widget-content-office{font-family: 'Arimo',Arial,serif; font-size: 14px;}
.jqx-widget-header-office{font-family:'Arimo', Arial,serif; font-size: 14px;}
.jqx-fill-state-normal-office{font-family:'Arimo', Arial,serif;font-size: 13px;}
.jqx-widget-office .jqx-grid-column-header-office, .jqx-grid-cell-office, .jqx-widget-office .jqx-grid-cell-office, .jqx-widget-office .jqx-grid-group-cell-office, .jqx-grid-group-cell-office{font-family:'Arimo',arial,serif;font-size: 14px;}
.jqx-input-button-header-office, .jqx-calendar-title-header-office, .jqx-grid-office .jqx-widget-header-office, .jqx-grid-header-office, .jqx-grid-column-header-office, .jqx-grid-office {font-family: 'Arimo',arial,
serif; font-size: 13px; white-space: pre-line}
.jqx-window-header-office{font-family: 'Arimo',arial,serif; color: #444444; background: #fff;font-size: 14px;}
/*fix css placeholder search menu index*/
input.search.rounded.id_search::-webkit-input-placeholder {
    color: white;
}
/*Chế độ mặc định ẩn của menu*/

ul[type='g__system'] >.group_menu{
    display: block;
}

ul[type='g__general'] >.group_menu{
    display: none;
}

ul[type='g__admin'] >.group_menu{
    display: none;
}

ul[type='g__manager'] >.group_menu{
    display: none;
}

/*style span in page  */
.has-primary .help-block,
.has-primary .control-label,
.has-primary .radio,
.has-primary .checkbox,
.has-primary .radio-inline,
.has-primary .checkbox-inline {
    color: #FFF !important;
}
.navbar{
    /*margin-top: 10px!important;*/ /*fix lại cho thanh navbar nhỏ hơn - fix tại file style.css*/
}

.has-primary .form-control {
    border-color: #337AB7;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-primary .form-control:focus {
    border-color: #337AB7;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #337AB7;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #337AB7;
}
.has-primary .input-group-addon {
    color: #FFF !important;
    background-color: #337AB7;
    border-color: #337AB7;
}
.has-primary .form-control-feedback {
    color: #FFF !important;
}

canvas label{
    background-color: red!important;
}
/*.icon_Sidebar{*/
    /*width: 35px;*/
    /*height: 35px;*/
    /*margin-top: 8px;*/
/*}*/

.jqx-input{
    color: black!important;
}
#clear_search{color: white;top: 3px;
    right: -2px;}
.img_logo{width: 120%;position: inherit;margin-top: 17px; margin-left: -19px}


/*Google chrome*/
/*hide scroll bar*/
/*::-webkit-scrollbar {*/
    /*display: none;*/
/*}*/
/*Fire fox*/
html {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

/*Thêm active*/
ul.topnav li a:focus {
    background-color:rgba(0, 0, 0, 0.2);
    /* #252d3b */
    color: white!important;
    text-shadow: none;
    border-left: 2px solid #ffffff;
    padding-left: 28px;
    position: relative;
}
ul.topnav ul li a, ul.topnav ul li a:visited {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 13px;
    font-weight: normal;
    outline: 0 none;
    padding-left: 30px;
    /* transition: all 0.2s ease 0s;*/
}
ul.topnav li a:active{
    background-color:rgba(0, 0, 0, 0.2);
}
ul.topnav li a, a:visited {
    /*border-bottom:6px solid #ffffff;*/
    /*border-left:8px solid transparent;*/
    /*border-right:8px solid transparent;*/
    /*width:0;*/
    /*height:0;*/
    /*position: absolute;*/
    /*top:19px;*/
    /*left: -6px;*/
    /*content:"";*/
    /*display:block;*/
    /*-webkit-transform: rotate(90deg);*/
    /*-moz-transform: rotate(90deg);*/
    /*-ms-transform: rotate(90deg);*/
    /*-o-transform: rotate(90deg);*/
    /*tranform: rotate(90deg);*/
    outline: none;
}
.current{
    background-color:rgba(0, 0, 0, 0.2);
    /* #252d3b */
    color: white!important;
    text-shadow: none;
    /*!*border-left: 2px solid #ffffff;*!*/

    /*position: relative;*/
}
.demo i {
    /*position: absolute;*/
    /*top: 16px;*/
    /*right: -20px;*/
    position: relative;
    top: -32px;
    right: -221px;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;

}
.alert{
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 0px;
}

/*chỉnh css với màn hình iphone 6*/
@media (max-width: 400px) {
    #tree-wrap{
        height: 600px;
        margin-top: -28px;
    }
    #skin-select li i {
        font-size: 23px;
        font-style: normal;
        left: -5px;
        line-height: 15px;
        position: relative;
        width: 20px;
        top: 12px;
    }
    button.navbar-toggle.toggle-menu-mobile{display: none}
    /*.noft-red {*/
        /*top: 0!important;*/
        /*position: absolute;*/
        /*!* float: right; *!*/
    /*}*/
    /*.nav > li {*/
        /*position: relative;*/
        /*display: block;*/
        /*float: left;*/
    /*}*/
    /*.noft-green {*/
        /*top: 0!important;*/
        /*position: absolute;*/
        /*!* float: right; *!*/
    /*}*/
    /*.nav.navbar-nav.navbar-right{*/
        /*float: right;*/
        /*margin-right: -21px;*/
        /*position: static;*/
    /*}*/
    .nav > li {
        position: relative;
        display: block;
        float: left;
    }
    /*li.open{ width: 128px;}*/
}
.controlShowInfoCar {
    margin-left: 20px;
    font-size: 12px;
}
.trip_map_control_infoCar {
    position: absolute;
    width: 210px;
    height: 340px;
    color: #dedede;
    font-size: 12px;
    font-family: 'Arimo', Arial, sans-serif;
    background: rgba(27, 145, 179, 0.95);
}
.trip_map_control_infoCar .trip_header_info {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    margin-right: 20px;
}
/*style for loading*/

#feedLoading {
    position: absolute;
    margin-left: 100px;
    top: 300px;
    width: 100%;
    text-align: center;
    font-size: 4em;
    color: white;
    z-index: 90000 !important;
    text-shadow: 2px 2px 2px #021124;
}
.windows8 {
    position: relative;
    width: 78px;
    height:78px;
    margin:auto;
}

.windows8 .wBall {
    position: absolute;
    width: 74px;
    height: 74px;
    opacity: 0;
    transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    animation: orbit 6.96s infinite;
    -o-animation: orbit 6.96s infinite;
    -ms-animation: orbit 6.96s infinite;
    -webkit-animation: orbit 6.96s infinite;
    -moz-animation: orbit 6.96s infinite;
}

.windows8 .wBall .wInnerBall{
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgb(102,123,166);
    left:0px;
    top:0px;
    border-radius: 10px;
}

.windows8 #wBall_1 {
    animation-delay: 1.52s;
    -o-animation-delay: 1.52s;
    -ms-animation-delay: 1.52s;
    -webkit-animation-delay: 1.52s;
    -moz-animation-delay: 1.52s;
}

.windows8 #wBall_2 {
    animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}

.windows8 #wBall_3 {
    animation-delay: 0.61s;
    -o-animation-delay: 0.61s;
    -ms-animation-delay: 0.61s;
    -webkit-animation-delay: 0.61s;
    -moz-animation-delay: 0.61s;
}

.windows8 #wBall_4 {
    animation-delay: 0.91s;
    -o-animation-delay: 0.91s;
    -ms-animation-delay: 0.91s;
    -webkit-animation-delay: 0.91s;
    -moz-animation-delay: 0.91s;
}

.windows8 #wBall_5 {
    animation-delay: 1.22s;
    -o-animation-delay: 1.22s;
    -ms-animation-delay: 1.22s;
    -webkit-animation-delay: 1.22s;
    -moz-animation-delay: 1.22s;
}



@keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin:0%;
    }

    30% {
        opacity: 1;
        transform:rotate(410deg);
        animation-timing-function: ease-in-out;
        origin:7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin:30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin:39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin:70%;
    }

    76% {
        opacity: 0;
        transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin:0%;
    }

    30% {
        opacity: 1;
        -o-transform:rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin:7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin:30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin:39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin:70%;
    }

    76% {
        opacity: 0;
        -o-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }
}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin:0%;
    }

    30% {
        opacity: 1;
        -ms-transform:rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin:7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin:30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:70%;
    }

    76% {
        opacity: 0;
        -ms-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:0%;
    }

    30% {
        opacity: 1;
        -webkit-transform:rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin:7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:70%;
    }

    76% {
        opacity: 0;
        -webkit-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin:0%;
    }

    30% {
        opacity: 1;
        -moz-transform:rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin:7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin:30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:70%;
    }

    76% {
        opacity: 0;
        -moz-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
}
.blog-side-nest{
    background-color: white;
}

/*CSS switch*/
.onoffswitch {
    position: relative; width: 48px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 14px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 15px; padding: 0; line-height: 16px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: 600;
    box-sizing: border-box;
}
/*.onoffswitch-inner-on{*/
    /*content: "ON";*/
    /*padding-left: 10px;*/
    /*background-color: #71E05E; color: #FFFFFF;*/

    /*display: block; float: left; width: 50%; height: 30px;*/
    /*!*padding: 0;*!*/
    /*line-height: 30px;*/
    /*font-size: 14px;*/
    /*font-family: Trebuchet, Arial, sans-serif;*/
    /*font-weight: bold;*/
    /*box-sizing: border-box;*/

/*}*/
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 5px;
    background-color: #71E05E; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 6px;
    background-color: #F20808; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 10px;
    height: 10px;
    margin: 1.6px;
    margin-top: 2.7px;
    background: #FFFFFF;
    position: absolute;
    /*top: 0; */
    /*bottom: 0;*/
    right: 31px;
    border: 2px solid #999999; border-radius: 14px;
    transition: all 0.3s ease-in 0s;
}
/*.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {*/
    /*margin-left: 0;*/
/*}*/
/*.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {*/
    /*right: 0px;*/
/*}*/

.onoffswitch-inner-on {
    display: block; width: 200%;
    /*margin-left: -100%;*/
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner-on:before, .onoffswitch-inner-on:after {
    display: block; float: left; width: 50%; height: 15px; padding: 0; line-height: 16px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
/*.onoffswitch-inner-on:after{*/
    /*content: "ON";*/
    /*padding-right: 11px;*/
    /*background-color: #71E05E; color: #FFFFFF;*/
    /*text-align: right;*/
/*}*/
.onoffswitch-inner-on:before {
     content: "ON";
     padding-left: 6px;
     background-color: #71E05E; color: #FFFFFF;
 }

#tienichControl_map{
    /*height: 600px;*/
    margin-top: 10px;
}

.panel-nho{
    padding: 5px;
}
.btn-icon-hanh-trinh > i {
    margin-right: 0px !important;
}

@media (min-height: 33.875em){
    .picker--opened .picker__frame {
        top: auto;
        bottom: 57px;
    }
}
@media (max-width: 767px){
    .skin-blue-light .main-header .navbar .dropdown-menu li a {
         color: black;
    }
}
.container{
    padding-right: 0px;
    padding-left: 0px;
}
@media (max-width: 1024px){
    /*.main-sidebar {*/
        /*-webkit-transform: translate(-230px, 0);*/
        /*-ms-transform: translate(-230px, 0);*/
        /*-o-transform: translate(-230px, 0);*/
        /*transform: translate(-230px, 0);*/
    /*}*/

    /*.sidebar-open .main-sidebar {*/
        /*-webkit-transform: translate(0, 0);*/
        /*-ms-transform: translate(0, 0);*/
        /*-o-transform: translate(0, 0);*/
        /*transform: translate(0, 0);*/
    /*}*/
}
.main-header .navbar {
    margin: 0;
}
.viewmobile{
    padding-right: 15px;
    padding-left: 15px;
}
.sidebar-menu>li>a{
    font-size: 15px;
}
.treeview-menu>li>a {

    font-size: 15px;
    line-height: 25px;
}

.box-header {
    color: #444;
    display: block;
    padding: 5px;
    position: relative;
}
.btn-box-tool{
    margin-top: -4px;
}