.style_map {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    overflow: hidden !important;
}

/*CSS cho input autocomplete xe tren ban do*/
.xetarget {
    /*-webkit-animation:spin 2s linear infinite;*/
    /*-moz-animation:spin 2s linear infinite;*/
    /*animation:spin 2s linear infinite;*/
    /*-o-transition: 1s ease-in-out;*/
    /*transition: 1s ease-in-out;*/


    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 20;


    /*-webkit-animation: pulsate 2s ease-out;*/
    /*-webkit-animation-iteration-count: infinite;*/
    /*opacity: 0.0*/

}

.xeredsun {
    background-color: #ff7979 !important;
    color: #1b58fb !important;
    border: 1px solid #ff7979 !important;
    font-weight: 500;
}

.xebluesun {
    background-color: #18fdfd !important;
    color: #1b58fb !important;
    border: 1px solid #18fdfd;
    font-weight: 500;
}


.xequatocdo {
    animation: pulse 1s infinite alternate;
    -webkit-animation: pulse 1s infinite alternate;
}

/* Animaitons */
@keyframes pulse {
    to {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }
}

@-webkit-keyframes pulse {
    to {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }
}


@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


.xekotaget {
    animation: none;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.searchfield {
    display: block;
    width: 100%;
    text-align: center;
    /*margin-bottom: 35px; */
}

#giaithich {
    width: 100%;
    height: 50px;
    margin-bottom: -26px !important;
}


.searchfield form {
    /*display: inline-block;*/
    background: #eeefed;
    /*padding: 0;*/
    margin: 0;
    padding: 4px;
    border-radius: 3px;
    /*margin: 5px 0 0 0;*/
}

.searchfield form .biginput {
    width: 100%;
    height: 30px;
    padding: 0 10px 0 10px;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    color: #aeaeae;
    font-weight: normal;
    font-size: 13px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.searchfield form .biginput:focus {
    color: #858585;
}

/*end*/

/*CSS icon lịch ở trang hành trình khi không có tiêu đề thời gian*/
#dtTimeSelectMap i {
    left: 205px;
    margin-top: -4px;
}

#dtTimeSelectMap input {
    width: 228px !important;
    padding-right: 0px;
    padding-left: 1px;
    font-size: 12px;
}

/*Tạo thông báo badge cho các xe*/
.noft-map {
    float: left;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 12px;
    padding-top: 7px;
    /*position: absolute;*/
    text-align: center;
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin: 2px;
}

.noft-mess {
    margin-top: 28px;
    position: inherit;
}

/*trạng thái xe di chuyển*/
#carrun {
    background: none repeat scroll 0 0 #3465aa;
    left: 36px;
}

/*trạng thái xe dừng*/
#carstop {
    background: none repeat scroll 0 0 #dc0030;
    left: 67px;
}

#carshut {
    background: none repeat scroll 0 0 #EB2271;
    left: 98px;
}

#cargps {
    background: none repeat scroll 0 0 #09a275;
    left: 129px;
}

#carlostsign {
    background: none repeat scroll 0 0 #2a2a2a;
    left: 160px;
}

#caroverspeed {
    background: none repeat scroll 0 0 #f2b701;
    left: 191px;
}

#totalcar {
    background: none repeat scroll 0 0 #F4A460;
    left: 5px;

}


#Tienich_map {
    bottom: 5px;
    height: 400px;


}

/*Thông báo đường đi của google*/
#right-panel {
    height: 300px;
    width: 408px;
    z-index: 2 !important;
    position: relative !important;
    background-color: white;
    float: right;
    overflow: auto !important;
    top: 109px;
    font-size: 13px;
    font-family: Arimo, Arial, sans-serif;
    margin-right: 5px;
    -webkit-box-shadow: 0px 6px 4px -4px rgba(105, 102, 105, 0.39);
    -moz-box-shadow: 0px 6px 4px -4px rgba(105, 102, 105, 0.39);
    box-shadow: 0px 6px 4px -4px rgba(105, 102, 105, 0.39);
}

/*Thông báo đường đi của google ở vùng cao tốc*/
#right-panel-hightwayzone {
    height: 300px;
    width: 408px;
    z-index: 2 !important;
    position: relative !important;
    background-color: white;
    float: left;
    overflow: auto !important;
    top: 109px;
    font-size: 13px;
    font-family: Arimo, Arial, sans-serif;
    /*margin-right: 5px;*/
    -webkit-box-shadow: 0px 6px 4px -4px rgba(105, 102, 105, 0.39);
    -moz-box-shadow: 0px 6px 4px -4px rgba(105, 102, 105, 0.39);
    box-shadow: 0px 6px 4px -4px rgba(105, 102, 105, 0.39);
}


/*css của chức năng xóa tìm đường bản đồ */
#clearDirectionsItem {
    display: none;
}

.angular-google-map-container {
    height: 700px;
}

.angular-google-map-container #txtFindAddress {
    width: 300px;
    display: block !important;
}

.angular-google-map-container #btFindCar {
    margin-top: 10px;
}

.map_control_info {
    display: none;
}

.map_control_infoCar {
    width: 250px;
    height: 450px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #175c42;
}

.map_search_address {
    margin-top: 5px;
}

.map_control_noteBox {
    width: 270px;
    height: 120px;
    background-color: #fffbc3;
}

.map_control_noteBox .map_control_infoNote {
    padding-left: 5px;
    margin-right: 2px;
    border-bottom: solid 2px;
}

.map_control_noteBox .map_control_noteBox_count {
    font-size: 13px;
    color: red;
    font-weight: bold;
    margin-top: -5px;
}

.map_control_noteBox img {
    width: 40px;
}

.map_control_btViewNote {
    display: none;
}

/*nội dung của marker xe trên bản đồ (Window)*/
.map_window_marker {
    margin-top: 18px;
    background-color: #ffffff;
    padding: 10px;
    font-size: 11.5px;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*border-radius: 5px 5px 5px 5px;*/
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    margin-left: 15px;
    /*border: 1px solid #175c42;*/
    height: 150px;
}

table.table.table-condensed.map_window_marker {
    width: 500px;
}

.table .map_window_marker > tbody + tbody {
    border-top: 1px solid #ddd;
}

.map_window_marker span {
    color: #262626;
    font-weight: 500;
}

.map_window_marker a {
    text-decoration: underline !important;
}

.map_window_marker .map_window_title {
    color: #262626;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.map_window_marker .div .box-inline div {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

@media (max-width: 768px) {
    .map_window_marker {
        width: 150px;
    }

    #txtFindAddress {
        width: auto !important;
    }

    .map_window_tab_left {
        width: 100%;
    }

    .map_window_tab_right {
        width: 100%;
        display: none;
    }

    /*ẩn phần nhập tìm địa chỉ*/
    .map_input_search {
        display: none;
    }

    .map_search_address {
        margin-left: 10px;
    }

    /*ẩn control nội dung form danh sách xe*/
    .map_control {
        display: none;
    }

    .map_note {
        display: none;
    }

    .map_warning {
        display: none;
    }
}

@media (min-width: 768px) {
    .map_window_tab_right {
        width: 49%;
        float: left;
        display: block;
    }

    .map_window_tab_left {
        width: 49%;
        float: left;
    }

    /*ẩn nút nhập thu nhỏ địa chỉ*/
    .map_button_hide {
        display: none;
    }

    /*ẩn nút tìm kiếm địa chỉ*/
    .map_button_search {
        display: none;
    }
}

/*.context_menu {*/
/*background-color: #ffffff;*/
/*!*opacity: 0.9;*!*/
/*!*padding: 5px;*!*/
/*font-size: 12px;*/
/*font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*!*border: 5px solid #27AE60;*!*/
/*border-radius: 5px;*/
/*-moz-border-radius: 5px;*/
/*-webkit-border-radius: 5px;*/
/*-ms-border-radius: 5px;*/
/*-o-border-radius: 5px;*/
/*}*/
.context_menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 8px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    /*-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
    /*box-shadow: 0 6px 12px rgba(0,0,0,.175);*/

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.context_menu_item {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    /*color: #333;*/
    white-space: nowrap;
    cursor: pointer;
}

.context_menu_item i {
    margin-right: 16px;
    float: left;
    margin-top: 2px;
    top: 0;
}

.context_menu_item:hover {
    text-decoration: none;
    color: #fff;
    background-color: #2196f3;
}

.labelContentCircle {
    color: red;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 40px;
    border: 2px solid black;
    white-space: nowrap;
}

.map_control_infoCar button {
    text-align: left;
}

.map_control_infoCar span {
    float: right;
}

.map_control_infoCar .map_control_infoPart {
    width: 100%;
    height: 200px;
    overflow: auto;
    display: none;
    background-color: white;
    border: 2px solid #1c435f;
    -o-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    font-family: 'Arimo', Arial, sans-serif;

}



.style-bs{
    /*background-color: #2196f3;*/
    /*color: white;*/
    /*border: 1px solid #2196f3;*/
    /*font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: 'Arimo', Arial, sans-serif;!important;
    font-size: 13px;
    /*font-weight: 500;*/
    height: 20px;
    text-align: center;
    white-space: nowrap;
    padding: 2px;
    z-index: -1;
    position: relative;
    top: 42px;
    left: 8px;

    background-color: #18fdfd ;
    color: #1b58fb ;
    border: 1px solid #18fdfd;
    font-weight: 500;
}


.labelContentPoint {
    color: red;
    background-color: white;
    /*font-family: "Lucida Grande", "Arial", sans-serif;*/
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    width: 200px;
    border: 1px solid black;
    font-family: 'Arimo', Arial, sans-serif;
}

.context_menu_reportStatus {
    background-color: #ffffff;
    height: 250px;
    width: 300px;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    border: 1px solid #175c42;
}

.Control_map {
    background: #fff;
    border: 1px solid #eee;
    /*margin-bottom: 30px;*/
    /*padding: 0 20px;*/
    /*background-color:white;*/
    position: relative;
    z-index: 6;
    /*border-radius: 0 0px 7px 0px;*/
    height: auto;
    /*box-shadow: 2px 2px 3px 0px #7f8181;*/
    width: 232px;

}

.Control_map > ul > li {
    font-size: 11px;
}

#controlMap {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    max-height: 600px;
}

.toolboxButtonUp {
    /*background: transparent url('../images/slider_btn_close.png') no-repeat scroll 0% 0%;*/
    cursor: pointer;
    float: right;
    position: relative;
    z-index: 99999;
    /*height: 42px;*/
    /*margin-left: -23px;*/
    /*margin-top: 1px;*/
    /*width: 22px;*/
    margin-top: -8px;
    width: 13px;
    color: #2196f3;


}

.icon_Sidebar {
    /*width: 35px;*/
    /*height: 35px;*/
    margin-top: 8px;
    cursor: pointer;
    margin-left: 4px;
    height: 30px;
    width: 30px;
    border-radius: 5px 5px 5px 5px;
    /*background: url("../../themes/apricotbootstrap3/assets/img/small-bg0.jpg");*/
}

.input_Sidebar {
    margin-top: 8px;
    margin-left: 5px;
    border-radius: 10px;
    height: 30px !important;
    color: black !important;
    padding-left: 5px;
}

.Showpullright {
    display: flex;
    text-align: right;
    /*float: right!important;*/
    /*z-index: 9999999;*/
    position: absolute;
    margin-top: -45px;
    margin-left: 74%;
    width: 100%;

}

.closeTienich {
    cursor: pointer;
    float: left;
    position: absolute;
    z-index: 99999;
    height: 42px;
    margin-top: 1px;
    width: 22px;
    margin-top: -9px;
    margin-left: -9px;
    font-size: 15px;
    color: red;
    font-weight: bold;
}

.closeTienich:hover {
    color: red;
}

.content {
    position: static !important;
}

.style_map {
    position: absolute !important;
    height: 100%;
    width: 100%;
}

.icon_nest {
    width: 35px;
    height: 35px;
}

.right_panel {
    /*max-height: 355px;*/
    /*border: 1px solid #ffffff;*/
    /*border-radius: 5px 0px 0px 5px;*/
    /*box-shadow: 0px 0px 10px 0px #cccccc;*/
    /*padding: 10px 0 10px 10px;*/
    /*background: url("../../images/transparentBg.png");*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    height: auto;
    width: 400px;
    margin-top: 33px;
    margin-bottom: -22px;


}

.right_panel > .panel-heading, .right_panel > .panel-body {
    padding-top: 8px;
    padding-bottom: 8px;

}

.right_panel > .panel-heading {
    background-color: #2196f3;
    color: #FFFFFF;

}

/*.right_panel > .panel-body{*/
/*padding-top: 6px;*/
/*padding-top: 6px;*/
/*}*/

.right_panel_timdothatlac {
    /*max-height: 355px;*/
    /*border: 1px solid #ffffff;*/
    /*border-radius: 5px 0px 0px 5px;*/
    /*box-shadow: 0px 0px 10px 0px #cccccc;*/
    /*padding: 10px 0 10px 10px;*/
    /*background: url("../../images/transparentBg.png");*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    height: 500px;
    width: 400px;
}

#distance_top {
    max-height: 700px;
    /*border: 1px solid #ffffff;*/
    /*border-radius: 5px 0px 0px 5px;*/
    /*box-shadow: 0px 0px 10px 0px #cccccc;*/
    /*padding: 1px 9px 5px 9px;*/
    /*height: 100%;*/
    width: 217px;
    -webkit-box-shadow: 5px 3px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 3px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 3px 5px -2px rgba(0, 0, 0, 0.75);
}

.tittle_rightpanel {
    top: 18px;
    position: relative;
    font-size: 15px;
    left: 5px
}

.close_rightpanel {
    float: right;
    position: relative;
    font-size: 15px;
    top: -19px;
    right: 10px;
    cursor: pointer;
}

/*CSS tạo div thành table hiển thị*/
.divTable {
    display: table;
    flex-flow: row wrap;
    border-collapse: collapse;
    border-spacing: 0;
    /*background-color: #fff;*/
    font-size: 12px;
    /*box-shadow: 5px 5px 2px #888888;*/
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);*/
    /*-webkit-box-shadow: 5px 5px 6px 0px rgba(136,136,136,1);*/
    /*-moz-box-shadow: 5px 5px 6px 0px rgba(136,136,136,1);*/
    /*box-shadow: 5px 5px 6px 0px rgba(136,136,136,1);*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    background: white;
    color: #000000;
    font-family: 'Arimo', Arial, sans-serif;

}

.divTable .divTitle {
    display: table-caption;
    /*text-align: center;*/
    font-weight: 600;
    /*font-size: larger;*/
}

.divTable .divHeading {
    display: table-row;
    font-weight: bold;
    /*border-bottom-width: 2px;*/
}

.divTable .divHeading .Cell {
    /*border-bottom-width: 2px;*/
}

.divTable .Row {
    /*display: table-row;*/
    display: flex;
    height: 20px;
}

/*.divTable .Row:nth-of-type(odd) {*/
/*background-color: #f9f9f9;*/
/*}*/
/*.divTable .Row:hover {*/
/*color: #fff;*/
/*background-color: #337ab7;*/
/*!*background-color: #f5f5f5;*!*/
/*cursor: default*/
/*}*/
.divTable .Cell {
    width: 23%;
    /*display: table-cell;*/
    /*border-bottom: 1px solid #ddd;*/
    border-width: thin;
    padding: 3px;
}

.divTable .colspan2 {
    flex: 2;
}

.divTable .fixwidth {
    width: 95px;
}

.divTable .fixwidth_special {
    width: 5.75em;
}

.thongtintaxi {
    border-bottom: 1px solid rgb(200, 200, 200);

}

.xebantaxi {
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


#search_location_taxi {
    position: fixed !important;
    top: 50px !important;
    left: 400px !important;
}

#tienich {
    position: fixed !important;
    /*max-height: 550px;*/
    /*height: 500px;*/
    /*overflow-y: auto;*/
    top: 50px !important;
}

.fixscroll {
    margin-top: 10px;
    max-height: 550px;
    /*height: 500px;*/
    overflow-y: auto;
}

#listcar_table {
    width: 100% !important;
}

#listcar_table tbody {

    height: 280px;
    overflow-y: auto !important;
    position: absolute;
    margin-left: -1px;
    overflow-x: hidden;
}

.listcar_body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    position: absolute;
    left: 10px;
}

.listcar_body::-webkit-scrollbar-button:start:decrement, tbody ::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0;
    background-color: transparent;
}

.listcar_body::-webkit-scrollbar-track-piece {
    background-color: #FAFAFA;
    -webkit-border-radius: 0;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
}

.listcar_body::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #999;
    -webkit-border-radius: 8px;
}

.listcar_body::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #999;
    -webkit-border-radius: 8px;
}

.listcar_body::-webkit-scrollbar {
    display: block;
}

#listcar_table > thead > tr > th, #listcar_table > thead > tr > td {
    border-bottom-width: 0px !important;
}

#listcar_table tbody tr.selected td {
    background: none repeat scroll 0 0 #FFCF8B;
    color: #000000;
}


.table_scroll_car {
    width: 100%; /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
    /*border: 2px solid black;*/
}

.table_scroll_car tbody,
.table_scroll_car thead {
    display: block;
}

.table_scroll_car thead tr th {
    height: 30px;
    line-height: 30px;
    /*text-align: left;*/
}

.table_scroll_car tbody {
    height: 280px;
    overflow-y: auto !important;
    overflow-x: hidden;
    position: absolute;
    margin-left: -1px;
}

/*#table_scroll_car tbody { border-top: 2px solid black; }*/

.table_scroll_car tbody td, #table_scroll_car thead th {
    width: 20%; /* Optional */
    /*border-right: 1px solid black;*/
}

.table_scroll_car tbody td:last-child, thead th:last-child {
    border-right: none;
}

.table_scroll_car > thead > tr > td {
    border: none !important;
}

.blog-side-nest {
    background-color: white;
}

#controltripMap {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important
}

#controltripTaxiMap {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    left: 0px !important;
    position: relative;
}

.Control_maptaxi_trip {
    background: #fff;
    border: 1px solid #eee;
    /* margin-bottom: 30px; */
    /* background-color: white; */
    position: relative;
    z-index: 6;
    /* border-radius: 0 0px 7px 0px; */
    height: auto;
    /* box-shadow: 2px 2px 3px 0px #7f8181; */
    width: 250px;
    margin-top: 30px;
}

.Control_map_trip {
    background: #fff;
    border: 1px solid #eee;
    /* margin-bottom: 30px; */
    /* background-color: white; */
    position: relative;
    z-index: 6;
    /* border-radius: 0 0px 7px 0px; */
    height: auto;
    /* box-shadow: 2px 2px 3px 0px #7f8181; */
    width: 250px;
    margin-top: 30px;
}

/*set style bảng thông tin*/
.Title-containt {
    float: left;
    width: 50%;
    font-size: 13px;
    /*font-weight: bold;*/
}

.tab-contain {
    float: left;
    width: 50%;
    font-size: 13px;
}

.table-tienich > tbody > tr > td, .table-tienich > thead > tr > td {
    padding: 5px 6px;
    line-height: 1.5384616;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.mfb-component__button--child, .mfb-component__button--main {
    background-color: #2196f3 !important;
}

a.mfb-component__button--main:hover, a.mfb-component__button--child:hover {
    color: black !important;
}

.gmnoprint.gm-style-mtc {
    top: 20px !important;
}

.map_split {
    position: relative !important;
    left: 0px;
    top: 0px;
    z-index: 1;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    overflow: hidden !important;
}

@media (max-width: 320px) {
    .pre-scrollable {
        max-height: 283px;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    .pre-scrollable {
        max-height: 382px;
    }
}

.fixed .content-wrapper, .fixed .right-side {
    padding-top: 50px;
}

.main-sidebar {
    padding-top: 50px;
}

.rInfo-hiden {
    display: none !important;
    height: 0 !important;
}

.rInfo-show {
    display: table-row;
!important;
    height: auto !important;
}
