.login-logo{
     margin-bottom: 0px !important;
}
.img_appmobile{
    position: relative; width: 360px;left: -20px;top: -9px
}
body{
    height: auto !important;
    /*opacity: 0.5;*/
}
.login-box, .register-box {
    margin: 4% auto !important;
}
body::after {
    background: url('../images/login.jpg' ) no-repeat;
    /*background-repeat:no-repeat;*/
    /*background-size:contain;*/
    /*background-position:center;*/
    content: "";
    opacity: 0.6;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    /*background-size: 100%;*/

}
.login-box-body, .register-box-body{
    padding-bottom: 0px;
}
.modal-backdrop.in {
    /*filter: alpha(opacity=50);*/
    opacity: 0;
}