
body{
    /*background: none !important;*/
    background: url(../images/login.jpg) no-repeat;
    background-size:100%;
}
#login-wrapper_guess{
    margin: 0px auto 0;
    position: relative;
    z-index: 5;
}
#logo-login_guess {
    background: rgba(48, 65, 96, 0.8);
    border-radius: 3px 3px 0 0;
    color: #FFFFFF;
    padding: 1px 0 14px 25px;
    margin-bottom: -1px;
}
#login-wrapper_guess h1 {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: -1px;
    text-decoration: inherit;
    text-transform: uppercase;
}
#login-wrapper_guess h1 span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-size: 11px;
    margin-left: 0;
    padding: 0 5px;
    position: relative;
    top: -3px;
}
.account-box-guess{
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -khtml-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    z-index: 3;
    font-size: 13px !important;
    background-color: #ffffff;
    padding: 20px;
    height: auto;
}
.cpn_title{
    color: #e74c3c; text-align:center!important;position: absolute;width: 100%;margin-left: -30px;margin-top: -7px;
}
.info_title{
    text-align:center!important;position: relative;width: 100%;
    /*margin-left: -33px;*/
    top:12px; height: auto;
}
.img_appmobile{
    position: relative; width: 360px;left: -20px;top: 15px
}

#notify_login{
    display: block;
    margin: 0 auto;
    /*background-color: whitesmoke;*/
    /*width: 600px;*/
    height: 70px;
}



@media (max-width: 1200px) {
    .cpn_title{
        color: #e74c3c;
        text-align: center!important;
        width: 100%;
        margin-top: -7px;
        position: relative;
        margin-left: -2px;
    }
    .info_title {
        text-align: center!important;
        width: 100%;
        /* margin-left: -33px; */
        margin-top: 10px;
        position: relative;
        margin-left: -1px;
    }
    .account-box-guess{height: 335px}
    #login-wrapper_guess{
        margin: 110px auto 0;
        position: relative;
        z-index: 5;
    }
}

/*Chỉnh trang login*/
@media (max-width: 400px) {
    #login-wrapper_guess {
        margin: 70px auto 0;
        position: relative;
        z-index: 5;
    }
    #logo-login_guess {
        margin-bottom: -31px;
    ;
    }
    .cpn_title {
        width: auto;
        margin-left: auto;
        margin-top: -7px;
        position: relative;
    }
    .info_title{

        width: auto;
        margin-left: auto;
        margin-top: 24px;
        position: relative;
    }
    .account-box-guess{height: auto}
}


/*=====style login====*/
@charset "utf-8";

a[href^=tel]{
    color:inherit;
    text-decoration:none;
}

body {
    color: #39434c;

    font-size: 12px;
    line-height: 1.5;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
    text-rendering: geometricPrecision; or text-rendering: optimizelegibility;
}

*
{
    margin:0;

    padding:0;
}

p{
    margin:0px;
}

h1,h2,h3{
    font-size:12px !impotant;
}

ol, ul {
    list-style: none;
    margin:0px;
}
ul, ol {
}
a, ul, li {
    list-style: none;
    text-decoration: none;
    color:12px;
}
.clear
{
    clear:both;
}

h1, .h1, h2, .h2, h3, .h3{
    margin:0px;
}

a:hover{
    text-decoration:none !important;
}

button, html input[type=button], input[type=reset], input[type=submit]{
    padding: 3px 5px;
}


img{
    max-width:100%;
}
.block_content img,.c-content img{
    height: auto !important
}
/******************************************************/
.pd0{
    padding-left:0px !important;
    padding-right:0px !important;
}

.mg0{
    margin-left:0px !important;
    margin-right:0px !important;
}
/******************************************************/




/***************************BANNER***************************/

#container_BAN{
    margin: 0 auto;
}

#bg_banner_top{
    background:url(../images/bg_banner_top.png) center top repeat;
}

#banner_main {
    position:relative;
}

.banner_top{
    padding-right:0px !important;
}

.banner_top img{
    max-width:100%;
}

.mxh_top {
    margin-top:25px;
}

.mxh_top ul li{
    margin-left:10px;
}

.logo_top{
    position: relative;
    top: 12px;
}


.hotline_top{
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    text-align:left;
    margin-top: 10px;
    background:url(../images/icon_hotline_top.png) center left no-repeat;
    padding-left: 30px !important;
}

.hotline_top span{
    color:#ff0000;
    font-size: 16px;
}

.b_hotline_top{
    /*position: absolute;
    right: 340px;
    bottom: 16px;
    */
    border:1px solid #e1e1e1;
    padding:2px 10px;
    background:url(../images/hotline.png) no-repeat 5px center;
}
.b_hotline_top img.bg_hotline{
    margin-top:14px;
    width:120px;
}
.b_hotline_top ul{

}

.b_hotline_top ul li {
    font-size: 12px;
    color: #C4161C;
    font-weight: bold;
    line-height: 33px;

    text-align:right;
}


.giohang_top {
    width: 60px;
    position: absolute;
    bottom: 8px;
    left: 465px;
}

.giohang_top img{
    position: relative;
    top: 28px;
}

.giohang_top p {
    position: relative;
    top: -17px;
    left: 26px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: thin solid #090;
    line-height: 30px;
    background: #fff;
    color:#000;
    font-size:11px;
    text-align: center;
}

.giohang_top p a {
    color: #000;
}

.giohang_top p a span {
    font-weight: bold;
    clear: both;
    position: relative;
    top: -9px;

    left: 8px;
}

.giohang_xs{
    display:none;
}

.giohang_xs{
    position: absolute;
    bottom: 40px;
    right: 50px;
    width:60px;

}

.giohang_xs img{
    position:absolute;

}

.giohang_xs p{
    position: absolute;
    top: 0px;
    left: 25px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: thin solid #ccc;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
}

@media (max-width: 700px) {

}


@media (max-width: 470px) {


}

@media (max-width: 470px) {
    .giohang_xs{
        display:block;
    }
}

@media (max-width: 550px) {
    #danhgia_trangchu {
        bottom: 5px !important;
        left: 71px !important;
        width: 215px !important;
    }

    .giohang_top {

        position: absolute;
        bottom: 1px;
        left: 290px;
    }


}



/**********************MENU TOP********************/
/***************************MENU***************************/
#menu_main{
    background: url(../images/bg_menu_top.png) repeat-x;
}

div#menu
{
    height: 41px;
    /*margin: 0 auto;
    width: 1000px;*/
    position: relative;
    z-index: 9999;

}
div#menu ul
{
    float:left;
    /*	background:url(../images/line_top_menu.png) top no-repeat;*/
}

.right_menu{
    float:right;
}

div#menu ul li
{
    height: 41px;
    float: left;
    background: url(../images/line_menu_top.png) no-repeat right;
    padding: 0px 1px;
    position:relative;
    z-index:9999999;
}

div#menu ul li:first-child img{
    margin:7px;
}
div#menu ul li:hover a, div#menu ul li.active a{
    background:rgba(0,0,0,.3);
    border:thin solid #0fc7ec;
    box-sizing:border-box;
    border-top: thin solid #053150;
    border-left: thin solid #053150;
    border-bottom:: thin solid #0fc7ec !important;
    border-right: thin solid #0fc7ec;

    border-radius:5px;

    transition:all 0.5s ease;
}


div#menu ul li a
{
    text-transform: uppercase;
    color: #fff;
    line-height: 41px;
    padding: 7px 7px;
    margin: 0px 5px;
    font-size: 12px;
    border: thin solid rgba(0,0,0,.0);
    font-weight: bold;

}

div#menu ul li ul li a{
    border: thin solid rgba(0,0,0,.0) !important;
    border-top: thin solid rgba(0,0,0,.0) !important;
    border-left: thin solid rgba(0,0,0,.0)!important;
    border-bottom:: thin solid rgba(0,0,0,.0) !important;
    border-right: thin solid rgba(0,0,0,.0)!important;
}

div#menu ul li ul li:hover a,div#menu ul li ul li.active a{
    border: thin solid rgba(0,0,0,.0);


}

div#menu ul li ul,div#menu ul li:hover ul ul,div#menu ul li ul li:hover ul ul
{
    position:absolute;
    display:none;
    width:200px;
    background:#0f91ea;
    border:thin solid #fff;

}

div#menu ul li ul li ul li:hover ul, div#menu ul li ul li:hover ul{
    display:block !important;
}

div#menu ul li ul li ul{
    display:none;
    background:#ffcccc;
}

div#menu ul li:hover ul
{
    top: 38px;
    left:0px;
    display:block;

}
div#menu ul li ul li ul
{
    top: 0px
}

div#menu ul li ul li:first-child a{
    padding-left:5px;
}

div#menu ul li ul li:hover ul
{
    top: -1px !important;
}

div#menu ul li ul li
{
    width:200px;
    line-height:32px !important;
    border-bottom:1px solid #fff;
    background:none;
    padding:0px;

}
div#menu ul li ul li:last-child{
    border-bottom:none;
}

div#menu ul li ul li:hover
{
    line-height:32px !important;


}

div#menu ul li ul li a
{
    display:block;
    color:#fff !important;
    padding:0px 1px 1px 5px;
    text-transform:uppercase !important;
    font-size:13px;
    line-height:38px !important;
    background:none !important;
}

div#menu ul li ul li:hover a{
    background:url(../images/icon_muiten_top.png) 165px  5px  no-repeat !important;
}

div#menu ul li ul li:hover ul
{
    left:201px;
    top: 0px;
    background: #0f91ea;
}

div#menu ul li ul li:hover ul li a{
    background:none !important;
}

div#menu ul li ul li:hover ul li a:hover{
    background:url(../images/icon_muiten_top.png) 165px  5px  no-repeat !important;
}


div#menu ul li ul li ul li:hover ul
{
    left:201px;
    display:block;
    top:0px;
}

.bg_input span
{
    font-weight: bold;
    font-size: 12px;
    padding-top: 5px;
    margin-right: 10px;
    float: left;
    color: #FFF;

}
.bg_input .search
{
    float:right;
}
div.bg_input {
    right: 10px;
    margin-right:1px;
    line-height: 18px;
    float: right;
    display: inline;
    top: 3px;
    position: relative;
}
.bg_input input {
    outline:none;
    width: 260px;
    height: 26px;
    line-height: 27px;
    border: none !important;
    background: rgba(0,0,0,.3);
    color:#fff;
    padding:0px 10px;
    box-sizing:border-box;
}

#search_frm_vi{

    background: rgba(0,0,0,.3);
    border: thin solid #0fc7ec;
    box-sizing: border-box;
    border-top: thin solid #053150;
    border-left: thin solid #053150;
    border-bottom: : thin solid #0fc7ec !important;
    border-right: thin solid #0fc7ec;
    border-radius: 5px;
}

.img_search {
    padding-right: 0px;
    right: 0;
    position: absolute;
    top: 8px;
    right: 7px;
}
.bg_input a {
    padding-top: 12px;
}


/***********************SEARCH**************************/
.fix-menu{
    width: 100%;
    height:25px;
    line-height:25px;
    background:#fff;
    color:#000;
    border:thin solid #b8b8b8;
    border-radius:5px;
    outline:none;
    padding:0px 30px 0px 10px;
    box-sizing:border-box;
}


@media (max-width:800px){
    .fix-menu{
        width:100%;
    }
}

@media (max-width:767px){
    .fix-menu{
        width:100%;
    }

    .timkiem_tukhoa {
        padding-left:10px!important;
    }
}

.img_search{

}

.img_search a{
    display:block;
    color:#000;
    padding:0px !important;
}

@media (min-width: 1000px){
    .bg_input {
        /*width: 295px;*/
    }
}

#search_frm_vi{
    position: relative;
    margin-top:5px;
    margin-bottom:5px;
}

.timkiem_tukhoa{
    font-size: 17px;
    color: #fff;
    white-space: nowrap;
    float:left;
    line-height: 39px;
    text-transform: uppercase;
}
/***************************DANHMUC-LIST***************************/

.photo_danhmuc{
    width: 81px;
    height: 61px;
    position:relative;
    float: left;
    margin-right: 10px;
}

.name_danhmuc{
    font-size:18px;

    text-transform:uppercase;
    color:#3c3c3c;

    position:relative;
    float:left;
    width:100px;
    height:58px;
}

.product_list_index li:hover .name_danhmuc div p{
    color:#fff;
}

.name_danhmuc div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    line-height: 100%;
    font-weight: normal;
    vertical-align: middle;
    display: table;
}
.name_danhmuc p{
    transition: all 0.3s ease;
    display: table-cell;
    color: #3c3c3c;
    font-size: 12.5px;
    margin: auto;
    position: relative;
    left: 0%;
    vertical-align: middle;
}

.photo_danhmuc img{
    position:absolute;
    top: 0px;
    bottom:0px;
    right: 0px;
    left: 0px;
    margin:auto;
}

.product_list_index .pdl5{
    margin-bottom:0px;

}

/*.product_list_index li{
	float:left;
	background:url(../images/bg_danhmuc_list.png) repeat-x;
	width:19.4%;
	height:61px;
	margin-right: 7.5px;
	margin-bottom:5px;
	border: thin solid #000;
	box-sizing: border-box;
	border-radius: 3px;

}*/

.product_list_index li{
    float:left;
    background:url(../images/bg_danhmuc_list.png) repeat-x;
    width:19.4%;
    height:68px;
    margin-right: 7.5px;
    margin-bottom:5px;
    border: thin solid #000;
    box-sizing: border-box;
    border-radius: 3px;

}

.product_list_index li:hover{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;

    background: #24a20a !important;
    border: thin solid #0d6000;
    box-sizing: border-box;
}
.product_list_index li a{
    display:block;
}

.product_list_index li:hover .name_danhmuc{
    color:#fff;

}

.photo_danhmuc {
    width: 81px;
    height: 60px;
    position: relative;
    float: left;
    margin-right: 5px;
}

/*.photo_danhmuc {
width: 81px;
height: 61px;
position: relative;
float: left;
margin-right: 5px;
}*/


/******`*********************DANHMUC-LEFT***************************/
ul.cateUl{
    border-top: none;
}

h2.title_menu {
    background: url(../images/bg_title_left.png) left top repeat-x;
    line-height: 40px;
    height: 35px;
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    text-align:center;
    position: relative;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: thin solid #207bbd;
}

h2.title_menu a{
    color:#fff;
}

ul.cateUl > li{
    display: block;
    position:relative;
    border-bottom: 1px solid rgba(204, 204, 204, 0.17);
}

ul.cateUl > li:after {
    position: absolute;
    border-bottom: 1px solid #000;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
}

/*ul.cateUl > li .p1{
		background: url(../images/bg_li_left_l.png) right top no-repeat;
		line-height: 35px;
}

ul.cateUl > li .p2{
	line-height: 35px;
	background: url(../images/bg_li_left_l.png) left top no-repeat;
}*/

ul.cateUl > li:last-child{

}

ul.cateUl > li > a{
    font-size: 12px;
    display: block;
    text-transform:uppercase;
    line-height: 35px;
    text-indent: 30px;
    min-height: 35px;
    color: #fff;
    font-weight: bold;
    background: url(../images/icon_li_left.png) no-repeat 12px 12px;



}
.nd_solo p span
{
    font-size:55px !important;
}
ul.cateUl > li> a:hover{
    color: #fff !important;
}


ul.cateUl>li>ul>li>ul>li>a {
    text-transform: capitalize;
    font-size: 11px;
    display: block;
    /*height: 31px;*/
    line-height: 30px;
    text-indent: 25px;
    color: #101010;
    border-bottom: 1px dotted #818080;
    font-weight: bold;
    background: url(../images/li_left_sub_bg.png) no-repeat 10px center;
}
ul.cateUl>li>ul>li>a{
    font-size: 11px;
    display: block;
    text-transform: uppercase;
    line-height: 30px;
    text-indent: 30px;
    color: #fff;
    margin: 2px 10px;
    background: url(../images/icon_li_li_left.png) no-repeat 18px center;
}

ul.cateUl>li>ul>li>a:hover{
    color:#fff !important;
}

ul.cateUl>li>ul>li>ul>li{
    display: block;
}

ul.cateUl>li>ul>li>ul>li>a{
    display: block;
    height: 35px;
    line-height: 35px;
    text-indent: 30px;
    border-bottom:dotted 1px #bbbaba;
}

ul.cateUl>li>ul>li>ul>li>a:hover{
    color:#f00 !important;
}

ul.tablayout {
    list-style-type: none;
    float: left;
    margin: 0px;
    pad: 0px;
    display: block;
    list-style-type: none;
    z-index:2;
}
ul.tablayout li {
    margin: 0 5px 0 0;
    float: left;
    display: list-item;
    text-align: -webkit-match-parent;
}

ul.tablayout li a {
    float: left;
    display: block;
    padding: 5px 25px;
    color: #0090D3;
    background: #D6E5EE;
    text-decoration: none;
    font-weight: bold;
    cursor:auto;
    border:1px solid #9AB6D2;
    border-bottom:0;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    -webkit-border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topleft:6px;
    -moz-border-radius-topright:6px;
}
ul.tablayout li a:hover{
    cursor:pointer;
}
.tabs-container {
    border-top: 1px solid #CCC;
    clear: left;
    padding: 10px 0;
    display: block;
    line-height: 2;
}

ul.tablayout li a.active
{
    color: #202020;
    background: #E7E7E7;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-top: 1px solid #CCC;
    text-transform: uppercase;
    border-radius: 0px;
    padding: 5px 105px;
}

.lienket_li {
    margin:0px 20px;
}

.lienket_li li{
    background:url(../images/icon_li_lienket.png) left center no-repeat;
    text-indent:15px;
}

.lienket_li li a{
    color:#003b83;
    font-size:12.5px;
    font-weight:bold;
}

.counter {
    padding-top: 5px;
    margin: 0px auto;
}

.counter li {
    margin-left: 20px;
    text-indent: 30px;
    line-height: 25px;
    font-size: 13px !important;
    margin-bottom: 5px;
}

.counter li span {
    color: #fff;
}

.counter li b {
    color: #fff;
}

.online {
    background:url(../images/icon_dang_onl.png) left no-repeat;
}

.homqua {
    background:url(../images/icon_homqua.png) left no-repeat;
}

.trongtuan {
    background: url(../images/icon_trongtuan.png) left no-repeat;
}

.tong {
    background: url(../images/icon_tong.png) left no-repeat;
}

.lienket {
    text-align: center;
    position: relative;
    z-index: 999;
    padding:10px;
}

#lienketcb {
    border: none;
    outline: none;
    border:thin solid #ccc;
    width:100%;
    height: 31px;
    text-align: center;
}

.rank{
    position:relative;
    min-height:150px;
}

.rank img{
    width:100% !important;
    max-width: 250px;
    padding:10px;

    position:absolute;
    top: 0px; left:0px; right: 0px; bottom:0px;
    margin:auto;
}


.hotline_left{
    background: url(../images/bg_hotline.png) no-repeat;
    min-width: 109px;
    height: 50px;
    position: relative;
    /* top: 10px; */
    left: 5px;
    padding-left: 40px;

}

.hotline_left p{
    font-size: 14px;
    color: #ff0000;
    font-style: italic;
    font-weight: bold;
}
.hotline_left p span {
    color: #000;
}
.mangxahoi_left ul{
    margin: 10px 0px;
    text-align: center;
}

.mangxahoi_left ul li{
    display:inline;
    margin-right: 10px;
}

.mail_left{
    background: url(../images/icon_mail.png) left center no-repeat;
    font-size: 12px;
    font-weight: bold;
    color: #393939;
    line-height: 28px;
    text-indent: 42px;
    margin-left: 10px;
}

@media(max-width: 1024px) {
    .mail_left{
        margin-left:5px;
        font-size:10.5px;
    }
}

@media(max-width: 800px) {
    .mail_left{
        margin-left:10px;
        font-size:12px;
    }
}
/***************************WRAP-MAIN***************************/

.bg_trang{
    margin-top: 5px;
    padding-top:1px;
}

#col_left{
    float:left;

}

.col_left{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom:10px;
}

#col_right{
    float: left;
}

#cot_phai{
    float:right;
}


@media (max-width:500px) {
    /*	#cot_phai{
            display:none !important;
        }

        .bg_slide_left, .video_left{
            display: none;
        }

        .hotro_left{
            display:block !important;
        }	*/
}

@media (min-width: 768px){
    .fix-col-sm-2 {
        width:20%;
    }

    .fix-col-sm-8 {
        width:60%;
    }





}

@media (max-width: 800px){
    #col_left{
        width:50%;
    }

    #cot_phai{
        width:50%;
    }

    #col_right{
        width:100%;
    }
}



/****************************SAN PHAM INDEX********************************/
.bg_title {
    display: block;
    background: url(../images/bg_title_content.png) left bottom no-repeat;
    height: 41px;
    line-height: 41px;
    text-indent: 30px;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
    border-top-right-radius:5px;
    /*border:thin solid #0d6000;*/
}

.bg_title a, .bg_title a b {
    text-transform: uppercase;
    font-size: 20px;
    color: #393939;
    text-indent: 45px;
    position: relative;
    font-weight:normal;
}

.congtrinh_index_all{
    float:left;
    margin-bottom:15px;
    margin-right:6px;
    padding:5px;
    box-sizing: border-box;
}

.congtrinh_index_all:hover{
    box-shadow: 0px 0px 0px 1px #168504;
}

.khung_congtrinh{
    width: 100%;
    height: auto;
    position: relative;
}

.khung_congtrinh img {
    width: 100%;
    height: 100%;
    /*	position:absolute;
        margin:auto;*/
}

.name_congtrinh{
    width:100%;
    text-align:center;
    color:#000;
    text-transform:capitalize;
    padding:10px 5px 0px 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    height: 42px;
}

.name_congtrinh a{
    font-weight:bold;
    font-size:11px;
    color:#6d6d6d;
    text-transform:uppercase;

}

.gia_index{
    color:#f10000;
    font-size:11px;
    text-align:center;
    font-weight:bold;
}


@media (max-width: 900px){
    .content_index{
        padding:5px;
    }
}

@media (min-width:571px) {
    .congtrinh_index_all{
        width:18.5%;
    }
}

@media (min-width:500px) {
    .congtrinh_index_all{
        width:18.7%;
    }
}


@media (max-width:499px) {
    .congtrinh_index_all{
        width:48%;
    }

    .congtrinh_index{
        padding:0px 5px;
    }
}

@media (max-width:336px) {
    .congtrinh_index_all{
        width:47%;
    }

    .congtrinh_index{
        padding:0px 5px;
    }
}

@media (max-width: 768px) {
    /*	.fix-col-xs-12{
        width:49%;
        float:left;
    }*/
    .fix-col-xs-12{
        width:100%;
        float:left;
    }
    .fix-col-xs-12.right_mb{
        float:right;
    }

    .title_menu{
        font-size:17px;
    }
}



@media (max-width: 400px) {
    .fix-col-xs-12{
        width:100%;
    }
}

.simply-scroll .simply-scroll-list li img{
    margin:0px !important;
}

.simply-scroll .simply-scroll-list li{
    padding: 10px 0px !important;

}

.simply-scroll .simply-scroll-clip{
    height:130px !important;
}
/***************************THONG TIN***********************/
#slide_show{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h2.title-pro-new {
    display: block;
    background: url(../images/bg_title_1.png) no-repeat;
    height: 32px;
    line-height: 32px;
    text-indent: 15px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    /*border: thin solid #0d6000;*/
    margin-bottom: 15px;
}

h2.title-pro-new a{
    color:#fff;
}

h2.title-pro-new a:hover{
    text-decoration:underline !important;
}

/***************************DICH VU*************************/
div.show-pro {
    padding: 0 10px 10px 5px;
    margin-right: 8px;
}

.box_news h2 a {
    color: #f90000;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 15px;
}

.box_news {
    border-bottom: 1px dotted #898EAA;
    clear: both;
    padding-bottom: 6px;
    padding-top: 0px;
    margin: 0 0 8px 0;
}

.image_boder {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #99A6FF;
    float: left;
    margin: 0 10px;
    padding: 3px;
    width: 165px;
    /*height: 120px;*/
    margin-left: 5px;
    position: relative;
}

.image_boder img{
    width:100%;
    height:100%;
    margin: auto;
    top: 0px;
    left:0px;
    right: 0px;
    bottom: 0px;
}

.box_news h2 {
    font-size: 12px;
}

p.small {
    color: #666666;
    font-size: 11px;
}

.box_news p.news_mota {
    text-align: justify;
    color: #282828;
}
/************************SITE-MAP**********************/

.site_map{
    margin:0px 20px;
}

.site_map li{
    list-style:circle;
}

.site_map li a{
    color:#060;
    font-size:14px;
    text-transform:uppercase;
    font-weight:bold;

}

.site_map li a:hover{
    color:#FC0;
}

.site_map li ul li{
    list-style:none;
    text-indent:20px;
    padding-left:5px;
    background:url(../images/sitemap.gif) left 0px no-repeat;
}

.site_map li ul li a,.site_map li ul li ul li a{
    font-weight:normal;
}

.site_map li ul li a{
    font-size:12px;
}

.site_map li ul li ul li{
    margin-left:30px;
    background:url(../images/sitemap.gif) left center no-repeat;
}

.site_map li ul, .site_map li ul li ul{
    margin:10px 0px;
}

/***********************CONTACT***********************/
.tablelienhe div label span img{
    margin-right:5px;
}

.ta_noidung {
    margin-bottom:10px;
}
/* --------------------- Phan trang ------------------*/
.phantrang{
    text-align:center;
    margin: 25px 0px 0px 0px;
    padding-bottom: 10px;
}
.phantrang a{
    display:inline-block;
    width:25px;
    height:25px;
    border-radius: 50%;
    line-height:21px;
    margin-right:5px;
    text-decoration:none;
    font-weight:bold;
    color:#fff;
    background:#ea0000;
    border: 2px solid #ea0000;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.phantrang span{
    display:inline-block;
    width:25px;
    height:25px;
    border-radius: 50%;
    line-height:21px;
    margin-right:5px;
    text-decoration:none;
    font-weight:bold;
    color:#ea0000;
    background:#fff;
    border: 2px solid #ea0000;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}
.phantrang a:hover{
    background: white;
    color: #ea0000;
}


li.chitiet-news {
    margin-top: 10px;
    margin-right: 15px;

    float: right;
}
li.chitiet-news > a {
    color: #fff;
    font-size: 11px;
    padding: 5px 10px 5px 10px;
    background: #090;
    display:block;
}

li.chitiet-news > a:hover {
    background: #030;
}


@media (min-width: 635px){
    .fix-col-sm-6-lh{
        width:50%;
    }
}

/***************************FOOTER**************************/
/*.bong_footer {
	background: url(../images/bg_footer.png) repeat-x;
	height: 20px;
	margin-top: 7px;
}*/

#bg_footer {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0px 10px 0px;
    position: relative;
    margin-top: 20px;
    background: url(../images/bg_footer.png) repeat center top;
}

.title_footer {
    font-size: 13px;
    text-transform: uppercase;
    background: url(../images/line_li_footer.png) left bottom repeat-x;
    padding-bottom: 4px;
    color: #ffff00;
    margin-top: 10px;
    margin-bottom: 15px;
}

#footer ul li{
    font-size: 12px;
    color: #fff;
    min-height:30px;
    line-height:30px;
    padding-left:37px;
    margin-bottom: 5px;
}

.add_footer{
    background:url(../images/icon_home.png) left top no-repeat;
}

.tel_footer{
    background:url(../images/icon_tele.png) left top no-repeat;
}

.email_footer{
    background:url(../images/icon_mail.png) left top no-repeat;
}

.map_footer{
    background:url(../images/icon_diachi.png) left top no-repeat;
}


#dknhantin{
    padding:0px 45px !important;
}

.form_guitin{
    position:relative;
    margin: 0;
    margin-top:22px;
}

.txt_email{
    color:#000;
    height:26px;
    line-height:26px;
    outline:none;
    border:thin solid #ccc;
    padding:0px 10px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 1px #fff;
}

.btn_email{
    background:#d10000;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0px 15px !important;
    line-height: 27px;
    position:absolute;
    right:0px;
    top:0px;
    outline:none;
    font-size:12px;
    font-weight:bold;
    color:#ffff00;
}


.footer_top_right ul {
    margin-top: 15px;
}

.footer_top_right ul li {
    float: left;
    margin-right: 5px;
}

.copyright {
    font-size: 12px;
    color: #616161;
    font-weight: bold;
}

.copyright span {
    color: #ff9c01;
}

.lichlamviec {
    margin-top: 15px;
}



@media (min-width: 1000px){

    .pdf0{
        padding:0px;
    }
}

/***************************PRODUCT DETAIL******************/

ul.product_info {
    font-size: 13px;
    float: left;
    width: 100%;
}

.product_info h1{
    text-transform: uppercase;
    color: #ff0000;
    font-size: 18px;
}

div.product-description {

}
ul.product_info{
    height:270px;
}
ul.product_info li {
    margin: 0px;
    padding: 5px 0px;
    color: #333;
}

ul.product_info li strong{
    color:#ff0000;
}

.detail_product {
    margin-top: 15px;
}

.MainContent p{
    padding:0px !important;
}

.left_sp {
    width: 445px;
    float: left;
}

.muahang2{
    display: block;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    width: 135px;
    line-height: 32px;
    font-size:16px;
}

/*.muahang2:hover{
	transition: all 0.5s ease;
	color:#fff;
	background:#0d6000;
}*/

/*++++++++++JS ZOOM PRODUCT+++++++++++*/
div.jszoom-product{ padding:5px; border:thin solid #fff; }
div.thumb ul{position: relative;list-style: none;}
div.thumb ul li{position: absolute;z-index: 0;width:100%;display: none;}
div.thumb ul li.active{z-index: 10;display: block;}

.thumb {
    margin-left: 0px;
    height: 270px !important;
    width: 100% !important;
    overflow: hidden;
}

.thumb ul,.thumb_wrapper {
    width:100% !important;
}


.block_content_detail
{
    margin: 0 auto;
    width: 90%;
    padding-top: 15px;
}

li.chitiet-news {
    margin-top: 10px;
    margin-right: 15px;

    float: right;
}
li.chitiet-news > a {
    color: #fff;
    font-size: 11px;
    padding: 5px 10px 5px 10px;
    background: #f90000;
    border-top-left-radius:10px;
    border-bottom-right-radius:10px;
    display:block;
    transition:all 0.5s ease;
}

li.chitiet-news > a:hover {
    background: #f90000;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;

    border-top-left-radius:0px;
    border-bottom-right-radius:0px;
    transition:all 0.5s ease;
}

.formthanhtoan table tr td input{
    margin-bottom:10px;
}


.title_content{
    margin-top:5px;
    margin-bottom:-10px;
}

.title_content ul li{
    float:left;
    line-height:30px;
    padding:0 20px;
    /*background:#006;*/
    background:#CCC;
    list-style:none;
    margin-right: 1px;
}

.title_content ul li.active, .title_content ul li:hover{
    background:#086bc5;
    transition:all 0.5s ease;
}

.title_content ul li a{
    color:#FFF;
    text-decoration:none;
}

.c-content {
    line-height: 22px;
    border: 1px solid #e7e9e6;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 300px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 5px;
    background:#fefefe;
}

.theme-default .nivoSlider img{
    height:auto !important;
    border:none !important;
    margin-top:5px !important;
    margin-bottom:10px !important;
}

.theme-default .nivo-caption{
    display:none !important;
}

/****************************MENU TOGGLE*************************/

.menu_tg{
    /*border:thin solid #ccc;*/

}

.menu_tg{
    margin: 0px 4px;
    margin-right: 5px;
    border: thin solid #ccc;
}

.icon_toggle_nav{
    background: url(../images/bg_menu_top.png) repeat-x;
    text-align:center;
    box-sizing: border-box;
    font-size:16px;
    text-transform:uppercase;
    color:#fff;
    font-weight: bold;
    line-height:38px;

}

.icon_toggle_nav img{
    float: right;
    position: relative;
    top: 3px;
    right: 3px;
}

ul.toggle_menu{

    border-top: none;
    background: #fff;
}

ul.toggle_menu > li{
    display: block;
    position:relative;
    margin:0px 1px;
    border-bottom:thin solid #ccc;
}

ul.toggle_menu > li:last-child{
    border-bottom:none;
}

ul.toggle_menu > li .p1{
    line-height: 35px;
}

ul.toggle_menu > li .p2{
    line-height: 35px;
}

ul.toggle_menu > li:last-child{

}

ul.toggle_menu > li > a{
    font-size: 14px;
    display: block;
    text-transform:uppercase;
    line-height: 39px;
    text-indent: 10px;
    min-height: 39px;
    color: #000;
}
.nd_solo p span
{
    font-size:55px !important;
}

ul.toggle_menu > li>ul>li{
    position:relative;
}

ul.toggle_menu > li> a:hover{
    color: #090 !important;
}


ul.toggle_menu>li>ul>li>ul>li>a {
    text-transform: capitalize;
    font-size: 12px;
    display: block;
    /*height: 31px;*/
    line-height: 30px;
    text-indent: 25px;
    color: #101010;
    border-bottom: 1px dotted #818080;
    background: url(../images/li_left_sub_bg.png) no-repeat 10px center;
}

ul.toggle_menu>li>ul>li>a:last-child{
    border:none;
}

ul.toggle_menu>li>ul>li>a{
    font-size: 12px;
    display: block;
    text-transform: uppercase;
    line-height: 30px;
    text-indent: 30px;
    color: #000;
    border-bottom: thin solid #ccc;
    padding:5px;
    box-sizing:border-box;
    background: url(../images/icon_li_li_left.png) no-repeat 18px center;
}

ul.toggle_menu>li>ul>li>a:hover{
    color:#090 !important;
}

ul.toggle_menu>li>ul>li>ul>li{
    display: block;
}

ul.toggle_menu>li>ul>li>ul>li>a{
    display: block;
    height: 35px;
    line-height: 35px;
    text-indent: 30px;
    border-bottom:solid 1px #ccc;
}

ul.toggle_menu>li>ul>li>ul>li>a:hover{
    color:#090 !important;
}

#fanpage{
    margin:15px 0px 5px;
}

/***************************MEDIA***************************/

/************************MEDIA DANHMUC LIST*****************/

@media (min-width:1000px) {
    .product_list_index li{
        width: 19.4% !important;
    }
    .pdl5{
        padding-left:0px;
    }

}
@media (max-width:1024px) {
    .hotline_left {
        padding-left: 10px;
        background: none;
        text-align: center;
    }
}
@media (max-width:999px) {
    .product_list_index li{
        width: 49% !important;
    }

    .product_list_index li{
        margin-right: 5px;
        margin-left: 4px;
        margin-bottom: 5px;
    }

    .pdl5{
        padding-right:5px;
    }
    .product_list_index li.mb_mgr0{
        margin-right:0px;
        float:right;
    }

}

@media (max-width:920px) {
    .product_list_index li{
        width: 48.9% !important;
    }
    .product_list_index li.mb_mgr0{
        margin-right:0px;
        float:right;
    }
}

@media (max-width:838px) {
    .product_list_index li{
        width: 48.7% !important;
    }
    .product_list_index li.mb_mgr0{
        margin-right:0px;
        float:right;
    }
    ul.product_info {
        height:auto;
    }
}

@media (max-width:713px) {
    .product_list_index li{
        width: 48.5% !important;
    }
    .product_list_index li.mb_mgr0{
        margin-right:0px;
        float:right;
    }
    ul.product_info {
        height:auto;
    }
}

@media (max-width:700px) {
    .product_list_index li{
        width: 48.5% !important;
    }

    .pdl5{
        padding-right:5px;
    }
    .product_list_index li.mb_mgr0{
        margin-right:0px;
        float:right;
    }
    ul.product_info {
        height:auto;
    }
}

@media (max-width:472px) {
    .product_list_index li{
        width: 99% !important;
    }

    .pdl5{
        padding-right:5px;
    }
    ul.product_info {
        height:auto;
    }
}



/***********************MEDIA COL LEFT************************************/
@media (min-width:500) {
    .pdl5{
        padding-left:0px;
    }

}
/***************************************************************************/
@media (max-width:1000px) {
    #menu_main{
        display:none;
    }

    #menu_toggle{
        display:block;
    }

    .dm_sp{
        display:none;
    }

}

@media (max-width: 767px) {
    .banner_top{
        padding:0px;
    }

    .logo_top {
        top:10px;
        text-align: center;
    }

    .logo_top img {
        max-width:100%;
    }

    .logo_top {
        max-width: 100%;
        top: 5px;
    }

    .logo_top img {
        max-width:100%;
    }

    #search_frm_vi{
        margin-top:5px;
    }

    .hotline_top {
        margin-top:15px;
    }

    #dknhantin{
        padding:0px 15px !important;
    }

    .form_guitin{
        margin:10px 5px !important;
    }

    .title_footer{
        line-height:18px;
        background: url(../images/icon_li_foote.png) left 4px no-repeat;
    }


    #col_right{
        float: right;
    }

    #cot_phai{
        float:left;
    }
}


@media (max-width:500px) {
    #col_left, #cot_phai{
        width:100% !important;
    }
}

@media (max-width:785px) {
    #cssmenu > ul > li > a{
        color:#b80c08 ;
    }
}

@media (max-width:1024px) {
    #copyright{
        padding:0px 10px;
    }
}


@media (max-width:900px) {
    .b_hotline_top{
        display:none;
    }
}

@media (min-width:1001px) {
    #menu_toggle{
        display:none;
    }

    #menu_main{
        display:block;
    }
}


.quangcao_2ben{
    display:none;
}

@media (min-width:1200px) {
    .fix-container{
        width:1178px   !important;
        margin:0 auto;
    }

    .fix-container-1200{
        width:1200px   !important;
        margin:0 auto;
    }

    .quangcao_2ben{
        display:bock;
    }
}



@media (min-width:999px) {
    .mgr0{
        margin-right:0px !important;
    }

    .float-min{
        float:right;
    }
}

.main_content_index,#main_content_web{

}

.content_index{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    margin-bottom:10px;
}

.congtrinh_index{
    padding-left:5px;
}

.thongtinlienhe{
    padding:0px 5px;
}

.thongsoythuat_content{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    padding:0px 5px;
}

.bg_bc{
    background:#f1f1f1 !important;
    border:none !important;
}

.bg_bc a, .bg_bc{
    color:#000 !important;
}

.bg_bc img{
    position:relative;
    top:-1.5px;
}
.footer_top_left, .footer_top_right  {
    padding:0px 5px;
}

.icon_xemchitiet a:hover img{
    border-bottom: thin solid #fff;
    padding-bottom: 2px;
}

.icon_xemchitiet a{
    color:#fff;
    font-size: 12px;
    text-transform:none;
    line-height: 17px;
}

.icon_xemchitiet {
    position: absolute;
    top: 10px;
    right: 10px;
    color:#000;
}

.congtrinh_index_all{
    position:relative;
}

.icon_km{
    position:absolute;
    top:5px;
    left:5px;
    z-index:99;
    width:45px;
    height:45px;
    line-height:45px;
    text-align:center;
    color:#fff;
    background:url(../images/icon_km.png) no-repeat;
}

@media (min-width: 768px){
    .fix-offset{
        margin-left: 185px !important;
    }
}

.othernews {
    color: #333;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.othernews h3 {
    color: #ff0000;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.othernews ul {
    list-style: inside;
    margin: 10px 0 0 0;
}
.othernews ul li {
    padding-left: 10px;
    margin: 0 0 5px 0;
    color:#ff0000;
}

.othernews ul li a {
    color: #0066CC;
}

.bd1{
    border-top:3px solid #969696;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-sizing:border-box;
}

.bd2{
    background:url(../images/border-khung.png) left top  no-repeat;
    box-sizing:border-box;
}

.bd3{
    border-bottom:3px solid #282828;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-sizing:border-box;
}

.bd4{
    background:url(../images/border-khung.png) right top  no-repeat;
    box-sizing:border-box;
}

@media (max-width: 410px){
    .thongtin_top_right a{
        font-size:10px !important;
    }
}

@media (min-width: 769px){
    .text-align-r{
        text-align:right;
    }

    .padding-left-30{
        padding-left:30px !important;
    }

    .padding-left-40{
        padding-left:40px !important;
    }


}
table.tbl_cart {
    font-size:12px;
}
table.tbl_cart td{
    padding:5px;
}
table.tablelienhe{
    font-size:14px;
}
.post-share .icon_facebook{
    float:left;
    padding-right:5px;
}
.post-share .icon_twitter{
    float:left;
    width:85px;
}
.post-share .icon_google{
    float:left;
    width:60px;
}

.pd3{
    padding:0px 3px;
}

.pd8{
    padding:0px 8px !important;
}


/****************************PRODUCT DETAIL*********************/
.khung_sp{
    background:url(../images/bong_khung_sp.png) bottom  no-repeat;
    background-size:100% auto;
    box-sizing:border-box;
}

.khung_sp{
    border:thin solid #ccc;
    margin-bottom: 7px;
    background: #fff;
    overflow:hidden;
}

.khung_sp img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transform: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.khung_sp img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


.thongtin_sp_name{
    text-align:center;
    min-height: 36px;
}

.thongtin_sp_name a{
    color:#393939;
    font-size:12px;
    font-weight:bold;
    text-transform:uppercase;
}


.thongtin_news_name{
    text-align:center;
    min-height:54px;
}

.thongtin_news_name a{
    color:#393939;
    font-size:12px;
    font-weight:bold;
    text-transform:uppercase;
}

.thongtin_news_name_m{
    display:none;
}

@media(max-width: 800px){
    .thongtin_news_name_m{
        text-align:center;
        min-height:36px;
        display:block;
    }

    .thongtin_news_name_m a{
        color:#393939;
        font-size:12px;
        font-weight:bold;
        text-transform:uppercase;
    }

    .thongtin_news_name{
        display:none;
    }
}

.thongtin_sp_price{
    color:#fff;
    font-size:14px;
    text-align:center;
}

.thongtin_sp_price span{
    font-weight:bold;
    color:#fff;
}

.thongtin_sp{
    margin:5px 0px 5px 0px;
}

.fanpage_facebook{
    background: #2e2e2e;
    margin: 6px 5px;
}


/*******************HO TRO TRUC TUYEN*****************/
.yahoo_list{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background:url(../images/muiten_xuong.png) right center no-repeat;
    line-height: 35px;
    margin:0px 5px;
}

.khung_hotrokinhdoanh_right{
    border: thin solid #ccc;
    border-top: none;
}

.yahoo_item{
    border-top:thin solid #ccc;
    border-bottom:thin solid #ccc;
    padding:5px;
}

.yahoo_item li{
    margin:10px 0px;
}

.yahoo_item_name{
    width: 70px;
    margin-right: 5px;
    font-size:12px;
    color:#3e3e3e;
}

.yahoo_item_dienthoai{
    font-size: 13px;
    color: #01305a;
    font-weight: bold;
    margin-right: 10px;
}

.yahoo_item_yahoo{
    margin-right:10px;
}

.hotro_only{
    padding-bottom:10px;
    margin-bottom:10px;
    position: relative;
    border-bottom: 1px solid rgba(204, 204, 204, 0.17);
}

.hotro_only:after{
    position: absolute;
    border-bottom: 1px solid #000;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
}

.hotro_cotent{
    margin-top:14px;
}

.hotro_content_tele{
    font-size: 17px;
    font-weight: bold;
    color: #ffad00;
    border-bottom:thin dashed #ccc;
    margin-right:12px;
    padding-bottom:0px;
    margin-bottom:3px;
}

.hotro_content_name{
    font-size:14px;
    text-transform:uppercase;
    color:#fff;
}

.hotro_yahoo_img{
    padding:0px 12px;
}


@media (max-width: 799px) {
    .hotro_yahoo_img {
        width:30%;
    }
}

@media (max-width: 319px) {
    .hotro_yahoo_img {
        width:50%;
    }
}

.tablelienhe{
    color: #333;
}

@media (min-width: 568px) {
    .fix-col-xs-6{
        width: 33.33333% !important;
    }
}

.thumb_wrapper{
    height:220px  !important;
}

.jcarousel-skin-tango .jcarousel-container-horizontal{
    width:100% !important;
}

.jcarousel-skin-tango .jcarousel-container-horizontal{

}

@media (max-width: 768px) {
    #bttop{
        text-align: center;
        padding: 5px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        cursor: pointer;
        display: none;
        color: #fff;
        font-size: 11px;
        font-weight: 900;
    }
}

.pd7{
    padding:0px 7px !important;
}

.fix-row{
    margin:0px -7px !important;
}

@media (max-width: 767px) {
    .fix-row{
        margin: 0px !important;
    }



}

@media (max-width: 768px){

}

@media (max-width: 600px) {
    .thumb, .thumb_wrapper{
        height:280px !important;
    }
    .an_mobile{
        display:none;
    }
}

@media (max-width: 320px) {
    .thumb, .thumb_wrapper{
        height:200px !important;
    }
}

.margin-10{
    margin:0px -10px;
}
.margin-7{
    margin:0px -7px;
}



.pd10{
    padding:0px 10px;
}


.bg_title_content h2{
    line-height:33px;
    margin-bottom: 20px;

    text-transform:uppercase;
    font-weight:normal;
    font-size:20px;
    color:#fff;
    text-align:center;
    text-shadow:1px 1px 1px #000;
    background:url(../images/bg_khachhang.png) center top no-repeat;


}


.demo{
    padding-bottom: 10px;
    background:#f1f1f1;
    border:thin solid #d4d4d4;
    border-top: thin solid #a50101;
}

.demo img{
    border:thin solid #ccc;
    box-sizing: border-box;
}


/********************************FOOTER_TOP********************************/
#footer{
    color:#fff;
}

#footer_top ul{
    padding-left:10px;
}

.title_footer_top{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}


.title_footer_top{
    margin:25px 0px 10px  0px;
}

.mar_footer_top ul li{
    margin: 7px  0px;
}

.mar_footer_top ul li a{
    color: #fff;
    font-size: 12px;
    padding-left: 15px;
    background: url(../images/icon_li_li_left.png) no-repeat 0px center;
}

/******************************COPY_RIGHT********************************/
#copyright{
    background:#c90000;
    line-height:41px;
    color:#fff;
}

.skdslider ul.slides li img, .skdslider{
    max-height:500px;
}


/*******************************FOOTER INTRO*****************************/
#footer_intro{
    background: url(../images/bg_footer_intro.png) center top no-repeat;
}

@media(max-width: 768px){
    #footer_intro{
        background:	#027dd2;
    }
}

.sodo_dieukhoan{
    width:40%;
}

.diachi_intro{
    width:60%;
}
@media(max-width: 640px){

    .diachi_intro, .sodo_dieukhoan{
        width:100%;
        text-align: center;
    }

    .sodo_dieukhoan ul{
        text-align: center !important;
    }
}

@media(max-width: 345px){
    .diachi_intro{
        padding:0px !important;
    }
}



.diachi_intro{
    line-height:33px;
    font-size:12px;
    font-weight:bold;
    text-transform:capitalize;
}

.diachi_intro{
    color: #fff;
    font-size:12px;
    font-weight:bold;
}

.diachi_intro span{
    color:#ffff00;
    text-transform:uppercase;
}

.sodo_dieukhoan ul li a{
    color:#fff;
    font-weight:bold;
    line-height:33px;
}

.sodotrang_footer a{
    border-right: 1px solid #fff;
    /*margin-right: 7px;*/
    padding-right: 14px;
}

#intro{
    margin-top: 24px;
}

.bg_slide_left{
    background:#fff;
}

.bong_3sp{
    background:url(../images/bong_3sp.png) no-repeat center top;
    height:10px;
    background-size:100%;
    margin-bottom: 15px;
    margin-top: 15px;
}

#facebook {
    background:#fff;
}


.bg_tv{
    background: url(../images/bg_tv.png) center top no-repeat;
    background-size: 100% auto;
    box-sizing: border-box;
    padding: 1px 9px 75px;
}

@media (min-width:1025px) {
    .bg_tv iframe{
        height: 402px !important;
    }
}

@media (max-width:1024px) {
    .bg_tv iframe{
        height: 345px !important;
    }
}

@media (max-width:800px){
    .bg_tv iframe{
        height: 255px !important;
    }
}

@media (max-width:768px){
    .bg_tv iframe{
        height: 438px !important;
    }
}

@media (max-width:600px){
    .bg_tv iframe{
        height: 325px !important;
    }
}

@media (max-width:568px){
    .bg_tv iframe{
        height: 306px !important;
    }
}

@media (max-width:320px){
    .bg_tv iframe{
        height: 150px !important;
    }
}

@media (max-width:1130px){
    .bg_input{
        display:none;
    }
}



.border_cot_trai_phai{
    border:thin solid #ccc;
    border-top:none;
}

.chieucao_sp .simply-scroll .simply-scroll-clip{
    height:420px  !important;
}

.bandango a{
    color:#444;
}

.bandango a:hover{
    color:	#e30018;
}

.dis_mobile_l_r{
    display:none;
}
#owl-demo-intro{visibility:hidden}
@media(max-width:800px) {
    .dis_mobile_l_r{
        display:block;
    }

    .dis_web_l_r{
        display:none;
    }
}

/*====end=====*/