<!--<div class="panel panel-flat">-->
    <!--<div class="panel-body">-->
        <!--<div class="row" >-->
            <!--<div class="col-md-4">-->
                <!--<dropdown id="cpnSelectSettings"></dropdown>-->
            <!--</div>-->
            <!--<div ng-hide="hideComboboxGroupCar" class="col-md-2">-->
                <!--<dropdown id="groupdeviceSelectSettings"></dropdown>-->
            <!--</div>-->
            <!--<div ng-hide="hideComboboxCar" class="col-md-2">-->
                <!--<div ng-show="!checkboxes_combobox">-->
                    <!--<dropdown id="modelSelectSettings"></dropdown>-->
                <!--</div>-->
                <!--<div ng-show="checkboxes_combobox">-->
                    <!--<dropdown id="modelSelectSettings_multi"></dropdown>-->
                    <!--&lt;!&ndash;<combobox id="modelSelectSettings_multi"></combobox>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-2" ng-show="showlocationandpoint">-->
                <!--<div ng-show="checkzonelocation">-->
                    <!--<dropdown id="zoneSelectSetting"></dropdown>-->
                <!--</div>-->
                <!--<div ng-show="!checkzonelocation">-->
                    <!--<dropdown id="pointSelectSetting"></dropdown>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-3" ng-hide="hidecalendar">-->
                <!--<label>Từ ngày</label>-->
                <!--<datetime id="dtTimeStartSelect"></datetime>-->
                <!--<label>Đến ngày</label>-->
                <!--<datetime id="dtTimeEndSelect" ></datetime>-->

            <!--</div>-->
            <!--<div class="col-md-3" ng-hide="hidesinglecalendar " >-->
                <!--<label class="col-xs-3">Từ ngày</label>-->
                <!--<div class="col-xs-9">-->
                    <!--<datetime id="dtTimeSingleSelect"></datetime>-->
                <!--</div>-->
                <!--&lt;!&ndash;<span>Thời gian</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<input style="color: #030100!important; width: 254px" id="dtSingleSelect" type="text" class="form-control" ng-value="dtsignleDay.Daymacdinh" dom-on-create="init()" ng-model="dtsignleDay.getdulieu">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="col-md-3" ng-hide="hideDriver">-->
                <!--<dropdown id="driverSelectSettings"></dropdown>-->
            <!--</div>-->
            <!--<hr>-->
            <!--<div class="col-md-3">-->

                <!--<button type="button" ng-click="btViewClick($event)" title="{{viewData}}" class="btn btn-info  btn-loading" ng-disabled="loading">-->
                    <!--<span ng-show="loading"><i class="icon-spinner3 spinner"></i></span>-->
                    <!--<span ng-show="!loading"><i class="glyphicon glyphicon-search"></i></span>-->
                    <!--&nbsp;{{viewData}}-->
                <!--</button>-->
            <!--</div>-->

        <!--</div>-->

    <!--</div>-->
<!--</div>-->
<!--<hr>-->
<!--<div class="panel panel-flat">-->
    <!--<div class="panel-body">-->
        <!--<div class="row">-->
            <!--<div ui-view></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->




<div class="row viewmobile">
    <div class="box">
        <div class="box-header with-border">
            <div class="row" >
                <div class="col-md-4">
                    <dropdown id="cpnSelectSettings"></dropdown>
                </div>
                <div ng-hide="hideComboboxGroupCar" class="col-md-2">
                    <dropdown id="groupdeviceSelectSettings"></dropdown>
                </div>
                <div ng-hide="hideComboboxCar" class="col-md-2">
                    <div ng-show="!checkboxes_combobox">
                        <dropdown id="modelSelectSettings"></dropdown>
                    </div>
                    <div ng-show="checkboxes_combobox">
                        <dropdown id="modelSelectSettings_multi"></dropdown>
                        <!--<combobox id="modelSelectSettings_multi"></combobox>-->
                    </div>
                </div>

                <div class="col-md-2" ng-show="showlocationandpoint">
                    <div ng-show="checkzonelocation">
                        <dropdown id="zoneSelectSetting"></dropdown>
                    </div>
                    <div ng-show="!checkzonelocation">
                        <dropdown id="pointSelectSetting"></dropdown>
                    </div>
                </div>
                <div class="col-md-3" ng-hide="hidecalendar">
                    <label>Từ ngày</label>
                    <datetime id="dtTimeStartSelect"></datetime>
                    <label>Đến ngày</label>
                    <datetime id="dtTimeEndSelect" ></datetime>

                </div>
                <div class="col-md-3" ng-hide="hidesinglecalendar " >
                    <label class="col-xs-3">Từ ngày</label>
                    <div class="col-xs-9">
                        <datetime id="dtTimeSingleSelect"></datetime>
                    </div>
                    <!--<span>Thời gian</span>-->
                    <!--<input style="color: #030100!important; width: 254px" id="dtSingleSelect" type="text" class="form-control" ng-value="dtsignleDay.Daymacdinh" dom-on-create="init()" ng-model="dtsignleDay.getdulieu">-->
                    <!--<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>-->
                </div>
                <div class="col-md-3" ng-hide="hideDriver">
                    <dropdown id="driverSelectSettings"></dropdown>
                </div>
                <hr>
                <div class="col-md-3">

                    <button type="button" ng-click="btViewClick($event)" title="{{viewData}}" class="btn btn-info  btn-loading" ng-disabled="loading">
                        <span ng-show="loading"><i class="icon-spinner3 spinner"></i></span>
                        <span ng-show="!loading"><i class="glyphicon glyphicon-search"></i></span>
                        &nbsp;{{viewData}}
                    </button>
                </div>

            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div ui-view ></div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</div>