<style>

    #dvContent th {
        border: solid 1px #000;
        margin-left: 5px;
        padding: 1px;
        background-color: aqua;
        text-align: center;

    }

    #dvContent table {
        border: solid 1px #000;
        width: 100%;

    }

    #dvContent tr {
        width: 100%;
        border-bottom: solid 1px #000;
    }

    #dvContent td {
        text-align: center;
        border-right: solid 1px #000;
    }

    #OtherMoney {
        width: 100%;

    }

    #OtherMoney td {
        text-align: left;
    }

    #OtherMoney tr {
        margin: 2px;
    }

    @media print {
        /*p.bodyText {font-family:georgia, times, serif;}*/
        /*body * {*/
        /*visibility:hidden;*/
        /*}*/

        /*#printbaocao, #printSection * {*/
        /*size: A5;*/
        /*visibility:visible;*/
        /*font-family:"Times New Roman", times, serif;*/
        /*font-size: 11px;*/
        /*}*/
        label.chitietcuocxe{
            display: none;
        }
        label.cuochopdong{
            display: none;
        }
        #printbaocao {
            position:absolute;
            left:0;
            top:0;
            /*margin: 10px;*/
            padding: 10px;
            min-height:550px;
            font-family:"Times New Roman", times, serif;
            font-size: 11px;
        }
        @page {
            size: A5;
            /*visibility:visible;*/
            font-family:"Times New Roman", times, serif;
            font-size: 11px;
            /*size: A5;  !* auto is the initial value *!*/
            margin: 0;


        }
    }
    @page :first {
        margin-top: 0    /* Top margin on first page 10cm */
    }


</style>
<div class="col-md-12">
    <h4 class="text-center">BÁO CÁO LỊCH SỬ KẾT TOÁN CA</h4>
    <p>Lưu ý: <em>Click đúp vào dòng cần chọn để xem chi tiết chốt ca tài xế</em> </p>
    <!--<grid-view id="gridLichsukettoanca"></grid-view>-->
    <!--<jqx-grid jqx-create="createWidget" jqx-settings="gridSettings" jqx-height="heightgrid"></jqx-grid>-->

    <jqx-data-table jqx-settings="gridSettings" jqx-create="createWidget" jqx-height="heightgrid" jqx-on-row-double-click="rowDoubleClick(event)"></jqx-data-table>
    <button class="btn btn-success" ng-click="exportexcell()"><i class="icon-file-excel"></i>Excel</button>
    <div id="exportable" style="display: none" >
        <!--div này chứa giá trị excel sau khi xuất ra. không được xóa-->
    </div>
</div>


<!--Modal-->
<div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="baocao">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">BÁO CÁO CHI TIẾT CHỐT CA TÀI XẾ</h4></div>
            <div class="modal-body" id="printbaocao">
                <div id="xuatword">
                    <div ng-bind-html="dataxuatbaocao" id="dvContent"></div>
                    <div class="col-sm-12">
                        <p class="col-sm-3 col-xs-3">Kế toán</p>
                        <p class="col-sm-3 col-xs-3">Người chốt ca</p>
                        <p class="col-sm-3 col-xs-3">Tài xế</p>
                    </div>
                </div>

            </div>
            <div class="text-center">
                <button class="btn btn-primary" ng-click="print()"><i class="icon-printer"></i> IN TRỰC TIẾP</button>
                <button class="btn btn-primary" ng-click="exportword()"><i class="icon-file-word"></i> XUẤT RA FILE
                    WORD
                </button>
                <!--<button class="btn btn-primary" ng-click="chotca()">CHỐT</button>-->
            </div>
        </div>
    </div>
</div>


