
<div class="col-md-12">
    <h5>Chọn file Excel (.xls)</h5>
    <div class="col-md-5 label label-success" style="font-size: 1.3em">
        <input type="file" name="xlfile" id="xlf_priceline" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="width: 450px" placeholder="Chọn file excel cần upload" />
    </div>
    <div class="col-md-1">
        <button class="btn btn-info" ng-click="taobang()" style="padding: 5px 12px !important;">Tạo bảng</button>
    </div>
    <div class="col-md-1" ng-if="dataexceljson.length > 0">
        <button class="btn btn-danger" ng-click="lammoi()" style="padding: 5px 12px !important;">Làm mới file</button>
    </div>
    <div class="col-md-1">
        <a class="btn btn-success" style="padding: 5px 12px !important;" target="_blank" href="{{fileexcelmau}}">File Excel Mẫu</a>
    </div>
</div>

<div class="col-md-12" ng-if="dataexceljson.length > 0">
    <h5>BẢNG DỮ LIỆU ĐỌC TỪ FILE EXCEL</h5>
    <grid-view id="gridJsonDataPriceLine"></grid-view>
</div>

<div class="col-md-12">
    <h4 class="text-center">BẢNG GIÁ TUYẾN</h4>
    <grid-view id="gridPriceline"></grid-view>
</div>


<!--Modal New-->
<div class="modal fade in" id="myModal_priceline">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-danger text-center" ng-show="isNew">Tạo mới bảng giá tuyến</h3>
                <h3 class="modal-title text-danger text-center" ng-hide="isNew">Cập nhật bảng giá tuyến</h3>
            </div>
            <form enctype='application/json' method='post' class="form-horizontal" role="form" ng-submit="newFormAccept(isNew)" name="onNew">
                <div class="modal-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Điểm xuất phát:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="BeginLocation" placeholder="điểm xuất phát..." ng-model="funNew.BeginLocation.Address" required>
                                <div role="alert">
                                    <span class="text-danger" ng-show="onNew.BeginLocation.$error.required">Nhập điểm xuất phát</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Điểm kết thúc:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="EndLocation" placeholder="điểm kết thúc..." ng-model="funNew.EndLocation.Address" required>
                                <div role="alert">
                                    <span class="text-danger" ng-show="onNew.EndLocation.$error.required">nhập điểm kết thúc</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Thời gian dự kiến (số phút):</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="TimeRun" placeholder="thời gian dự kiến (số phút)..." ng-model="funNew.TimeRun" required>
                                <div role="alert">
                                    <span class="text-danger" ng-show="onNew.TimeRun.$error.required">nhập thời gian dự kiến</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Km dự kiến(m):</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="KmRun" placeholder="Km dự kiến(m)..." ng-model="funNew.KmRun" required>
                                <div role="alert">
                                    <span class="text-danger" ng-show="onNew.KmRun.$error.required">nhập km dự kiến</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Tiền dự kiến(VNĐ):</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="MoneyRun" placeholder="Tiền dự kiến(VNĐ)..." ng-model="funNew.MoneyRun" required >
                                <div role="alert">
                                    <span class="text-danger" ng-show="onNew.MoneyRun.$error.required">nhập tiền dự kiến</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Tiền quá mỗi km(VNĐ):</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="MoneyEveryKm" placeholder="Tiền quá mỗi km(VNĐ)..." ng-model="funNew.MoneyEveryKm" required >
                                <div role="alert">
                                    <span class="text-danger" ng-show="onNew.MoneyEveryKm.$error.required">nhập Tiền quá mỗi km</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Tiền quá mỗi giờ(VNĐ):</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="MoneyEveryKm" placeholder="Tiền quá mỗi giờ(VNĐ)..." ng-model="funNew.MoneyEveryTime" required >
                                <div role="alert">
                                    <span class="text-danger" ng-show="onNew.MoneyEveryTime.$error.required">nhập tiền quá mỗi giờ</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Loại xe:</label>
                            <div class="col-sm-9">
                                <dropdown id="modelNameSelectting"></dropdown>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Đội xe</label>
                            <div class="col-sm-9">
                                <dropdown id="grouppopupSelectting"></dropdown>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link legitRipple" data-dismiss="modal">Đóng<span class="legitRipple-ripple" style="left: 54.8986%; top: 57.8947%; transform: translate3d(-50%, -50%, 0px); width: 224.828%; opacity: 0;"></span></button>
                    <button type="submit" class="btn btn-primary legitRipple">Xác nhận</button>
                </div>


                <!--<div class="form-group">-->
                <!--<div class="col-sm-offset-5 col-sm-10">-->
                <!--<button type="submit" class="btn btn-success">Xác Nhận</button>-->
                <!--</div>-->
                <!--</div>-->

            </form>

        </div>
    </div>
</div>



<!--Modal New-->
<div class="modal fade in" id="myModal_thongbao">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-danger text-center" ng-show="isNew">Thông báo quá trình tạo bằng file excel</h3>
            </div>
            <div class="modal-body">
                <p>
                    Lỗi ở các dòng: <span>{{loithongbao}}</span>
                </p>
            </div>

        </div>
    </div>
</div>

<!--Đoạn script fix lỗi search trên dropdownlist-->
<script>
    $.fn.modal.Constructor.prototype.enforceFocus = function () {
        $(document)
                .off('focusin.bs.modal') // guard against infinite focus loop
                .on('focusin.bs.modal', $.proxy(function (e) {
                    if (this.$element[0] !== e.target && !this.$element.has(e.target).length) {
                        if ($(e.target).parents().hasClass('jqx-popup'))
                            return true;
                        this.$element.trigger('focus')
                    }
                }, this));
    }
</script>