<div class="col-md-12" style="font-weight: 400">
    <h4 class="text-center">BÁO CÁO SỐ LƯỢNG CUỐC XE BẤT THƯỜNG</h4>
    Lưu ý:
    <ul>
        <!--<li><em>Dòng hiển thị màu cam <span style='width:4px; height:4px; margin-right:2px ;border: 4px solid #e74c3c'></span> là cuốc bất thường</em></li>-->
        <li><em>Nhấp đúp vào dòng để xem chi tiết hành trình của cuốc xe đó</em></li>
    </ul>
    <grid-view id="gridSessionlogerror"></grid-view>
</div>

