<h4 class="text-center">BÁO CÁO TỔNG HỢP</h4>
<div class="col-md-12">
    <grid-view id="gridGeneralReport"></grid-view>
</div>
<!--<style>-->
    <!--.jqx-grid-header{-->
        <!--height: 50px!important;-->
    <!--}-->
<!--</style>-->