<div>
    <div class="col-xs-7" style="padding: 0px;">
        <div class="input-group ">
            <input style="color: #030100!important;" id="{{id.id}}" readonly type="text" class="form-control fieldset__input js__datepicker picker__input" dom-on-create="id.init()" data-value="{{id.value_default}}" ng-model="id.value">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            </span>

        </div>
    </div>
    <div class="col-xs-5" style="padding: 0px;">
        <div class="input-group " dom-on-create="id.init()">
            <input type="text" class="form-control fieldset__input" id="{{id.id}}_time" value="" readonly >
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-time"></i>
            </span>
        </div>
    </div>

</div>

