<div>
    <span ng-bind="id.title"></span>
    <div>
        <jqx-drop-down-list id="{{id.id}}"  jqx-ng-model jqx-settings="id.setting" jqx-instance="id.instance"></jqx-drop-down-list>
    </div>
</div>