<div class="form-group has-feedback demo">
    <span ng-bind="id.titleTime"></span>
    <input style="color: #030100!important;" id="{{id.id}}" type="text" class="form-control" ng-value="id.value_default" dom-on-create="id.init()" ng-model="id.value">
    <i class="glyphicon glyphicon-calendar fa fa-calendar" style="margin-top: -19px;"></i>
</div>