<!--<link rel="stylesheet" type="text/css" href="../../../assets/map/map.css"/>-->
<style>
    @-webkit-keyframes spin2 {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
        }
    }

    .selected td {
        background-color: #3F51B5 !important;
        color: white;
    }


    #gridDanhSachXeCanhbao {
        font-size: 12px !important;
    }

    #gridDanhSachXeCanhbao .dx-datagrid-total-footer > .dx-datagrid-content {
        padding-top: 1px;
        padding-bottom: 1px;
    }
</style>

<button class="btn btn-xs btn-loading-map" id="map_loading">
    <i class="icon-spinner3 spinner"></i> Đang tải dữ liệu...
</button>

<!--bản đồ-->
<div id="maptaxi132" class="style_map"></div>

<div id="controlMap1" class="Control_map box box-adsun box-solid" data-widget="box-widget"
     style="width: 100%;left: 0;height: auto">
    <div class="box-header with-border">
        <h6 class="box-title">Theo dõi xe</h6>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" id="my-collapse-button-trigger"><i
                    class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body no-padding">
        <table class="auto-style1" style="width:100%">
            <tr>
                <td colspan="2">
                    <dropdown id="cpnSelectSettings"></dropdown>
                </td>
            </tr>
            <tr>
                <td>
                    <dropdown id="groupSelectSettings"></dropdown>
                </td>
                <td>
                    <jqx-drop-down-list ng-model="stateId"
                                        jqx-ng-model jqx-settings="stateSelectSettings"
                                        jqx-on-select="stateTagSelect(event)"></jqx-drop-down-list>
                </td>
            </tr>
        </table>
        <div class="input-group input-group-sm">
                          <span class="input-group-addon" id="sizing-addon3" ng-click="click_searchcar()"
                                style="border: none !important;cursor: pointer; padding: 0px !important;"><i
                                  class="ion-android-car" style="font-size: 22px; color: #3F51B5">
                          </i></span>
            <div class="searchfield">
                <form>
                    <input type="text" name="currency" class="biginput" id="autocomplete" placeholder="Tìm xe">
                </form>
            </div>
        </div>

        <div class="table-responsive pre-scrollable" style="font-size: 11.5px;" id="divtablecar">
            <table class="table table-bordered" id="tablecarmap">
                <thead>
                <tr style="cursor: pointer">
                    <td ng-click="sordBy('SoHieu_')" colspan="2" ng-show="!isBs">Số hiệu <i
                            ng-class="(!reverse)?'icon icon-arrow-up5':'icon icon-arrow-down5'"
                            ng-show="propertyName == 'SoHieu_'"></i></td>
                    <td ng-click="sordBy('Bs')" colspan="2" ng-show="isBs">Biển số <i
                            ng-class="(!reverse)?'icon icon-arrow-up5':'icon icon-arrow-down5'"
                            ng-show="propertyName == 'Bs'"></i></td>
                    <td ng-click="sordBy('Speed')">Tốc độ<i
                            ng-class="(!reverse)?'icon icon-arrow-up5':'icon icon-arrow-down5'"
                            ng-show="propertyName == 'Speed'"></i></td>
                    <td ng-click="sordBy('timeUpdateconvert')">Thời gian<i
                            ng-class="(!reverse)?'icon icon-arrow-up5':'icon icon-arrow-down5'"
                            ng-show="propertyName == 'timeUpdateconvert'"></i></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="car in cartaxi_array | orderBy:propertyName:reverse" ng-click="clickselect(car)">
                    <td>
                        <img src="{{car.getIconTaxiSun()}}" alt="" width="20px">
                    </td>
                    <td id="sohieu" ng-show="!isBs">{{car.SoHieu}}</td>
                    <td id="bienso" ng-show="isBs">{{car.Bs}}</td>
                    <td>{{car.Speed}}</td>
                    <td>{{ car.timeUpdateconvert }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="box-footer">
        <span class="noft-map tooltitle_map" data-toggle="tooltip" data-placement="bottom" title="Tất cả xe"
              data-original-title="Tất cả trạng thái" id="totalcar">{{count_cars.state0}}</span>
        <span class="noft-map tooltitle_map" data-toggle="tooltip" data-placement="bottom" title="Có khách"
              data-original-title="Có khách" id="carrun">{{count_cars.state1}}</span>
        <span data-toggle="tooltip" data-placement="bottom" title="Không khách-4c" data-original-title="Không khách-4c"
              class="noft-map tooltitle_map" id="carstop">{{count_cars.state2}}</span>
        <span data-toggle="tooltip" data-placement="bottom" title="Không khách-7c" data-original-title="Không khách-7c"
              class="noft-map tooltitle_map" id="carshut">{{count_cars.state3}}</span>
        <span data-toggle="tooltip" data-placement="bottom" title="Xe mất GPS" data-original-title="Xe mất GPS"
              class="noft-map tooltitle_map" id="cargps">{{count_cars.state4}}</span>
        <span data-toggle="tooltip" data-placement="bottom" title="Xe mất liên lạc"
              data-original-title="Xe mất liên lạc" class="noft-map tooltitle_map" id="carlostsign">
            {{count_cars.state5}}
        </span>

        <br>
        <!--        <span class="text-bold text-danger" style="font-size: 13px">Tổng số xe: {{count_carstate}}/{{sumcar}} </span>-->

        <p style="    margin-bottom: -2px;
    /* margin-top: 17px; */
    padding-top: 14px;font-weight: 600; font-size: 13px">Tổng số xe: {{count_carstate}}/{{sumcar}} </p>
    </div>
</div>

<div id="modal_xehetphi" class="modal in" style="display: none; padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h5 class="modal-title">Danh sách xe hết phí sử dụng</h5>
            </div>

            <div class="modal-body">
                <div class="row">
                    <p class="col-md-12 text-danger" style="font-size: 13px">
                        <strong>Thông Báo: </strong>Sau 30 ngày kể từ ngày hết phí nếu không được gia hạn phí thiết bị
                        sẽ ngưng truyền dữ liệu . Đề nghị quí khách liên hệ
                        <strong>1900 54 54 56</strong> hoặc đại lý ADSUN đóng phí server để duy trì hoạt động của thiết
                        bị GSHT. Trân trọng!!!
                    </p>
                </div>
                <div class="row">
                    <grid-view id="gridCarHetPhi"></grid-view>
                </div>
            </div>
        </div>
    </div>
</div>
